@import "../../styles/properties";

@mixin mixinButton {
  @include initByCustom('padding', 0);

  @include flexInlineCenter;
  box-sizing: border-box;
  position: relative;

  padding: 0;

  min-width: var(--sys-height, 0);

  text-decoration: none;

  border-radius: 0;
  border: none;

  cursor: pointer;

  @include hover {
    text-decoration: none;
  }

  @include disabled {
    cursor: default;
  }

  @include readonly {
    cursor: default;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v('??gap');

    order: 4;
    padding: 0 v('??padding');
    transition: opacity #{v('d.sys.transitionDuration.standard')} linear;
  }

  &__icon,
  &__trailing {
    @include initByCustom('margin', #{calc((var(--sys-height) - v('?icon._width')) / 2)});
    @include marginLeft(v('??margin'));
    @include marginRight(v('??margin'));
  }

  &__label ~ &__icon {
    @include marginRight(#{calc(v('??margin') - v('??padding'))});
  }

  &__label ~ &__trailing {
    @include marginLeft(#{calc(v('??margin') - v('??padding'))});
  }

  &--icon {
    @include initByCustom('padding', #{calc(var(--sys-height) / 2)});
  }

  &--loading {
    cursor: default;
  }

  &__loading#{'.'}#{n('?progress--visible')} ~ * {
    opacity: v('??colorOpacity', 0);
  }
}
