@import "../../styles/all";

@mixin mixinButtonToken {
  // :style [!] System label / Системная метка
  --md3-button-gap: var(--md3-ref-spacing-2);
  --md3-button-padding: var(--md3-ref-spacing-6);
  --md3-button-transitionFunction: var(--d-sys-transitionFunction-standard);
  
  font-family: var(--md3-ref-font-family-roboto);
  @include fontSize(var(--md3-ref-font-size-md));
  font-weight: var(--md3-ref-font-weight-bold);
  @include lineHeight(var(--md3-ref-lineHeight-md));
  letter-spacing: var(--md3-ref-letterSpacing-xs);
  text-transform: none;
  
  @include paletteColor(var(--md3-sys-palette-primary));
  
  @include backgroundColor(transparent);
  @include gradientOpacity(0);
  @include paletteGradient(var(--md3-sys-palette-primary));
  
  border-radius: var(--md3-sys-rounded-full);
  
  box-shadow: none;
  
  transition-duration: var(--d-sys-transitionDuration-lg-close);
  transition-property: border, box-shadow;
  
  @include hover {
    @include gradientOpacity(var(--md3-sys-opacity-008));
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include active {
    @include gradientOpacity(var(--md3-sys-opacity-012));
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include focus {
    @include gradientOpacity(var(--md3-sys-opacity-012));
  }
  
  &--selected {
    @include paletteColor(var(--md3-sys-palette-primaryVariant));
    
    @include paletteGradient(var(--md3-sys-palette-primaryVariant));
  }
  
  &--disabled {
    @include colorOpacity(var(--md3-sys-opacity-disabled));
    @include paletteColor(var(--md3-sys-palette-onSurface));
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &--adaptive {
    &--icon {
      --md3-button-padding: 0px;
      
       .md3-button__label {
        display: none;
        
        @include paddingX(0px);
      }
    }
    
    &--sm {
      @media screen and (max-width: calc(600px - 1px)) {
        --md3-button-padding: 0px;
        
         .md3-button__label {
          display: none;
          
          @include paddingX(0px);
        }
      }
    }
    
    &--md {
      @media screen and (max-width: calc(905px - 1px)) {
        --md3-button-padding: 0px;
        
         .md3-button__label {
          display: none;
          
          @include paddingX(0px);
        }
      }
    }
  }
  
  &--height {
    &--sm {
      @include height(var(--md3-ref-spacing-8));
    }
    
    &--md {
      @include height(var(--md3-ref-spacing-10));
    }
    
    &--lg {
      @include height(var(--md3-ref-spacing-12));
    }
    
    &--custom {
      @include height(var(--md3-button-sys-height));
    }
  }
  
  &--filled {
    @include color(var(--md3-sys-palette-onPrimary));
    
    @include paletteBackground(var(--md3-sys-palette-primary));
    @include gradient(var(--md3-sys-palette-onPrimary));
    
    @include hover('.md3-button') {
      box-shadow: var(--md3-ref-shadow-1);
    }
    
    @include active('.md3-button') {
      box-shadow: none;
    }
    
    @include disabled('.md3-button') {
      @include backgroundOpacity(var(--md3-sys-opacity-012));
      @include paletteBackground(var(--md3-sys-palette-onSurface));
      
      box-shadow: none;
    }
    
    &--selected {
      @include color(var(--md3-sys-palette-onPrimary));
      
      @include paletteBackground(var(--md3-sys-palette-primaryVariant));
    }
  }
  
  &--outlined {
    @include focus('.md3-button') {
      &::before {
        content: ' ';
        @include paletteBorder(var(--md3-sys-palette-primary));
      }
    }
    
    @include disabled('.md3-button') {
      &::before {
        content: ' ';
        @include borderOpacity(var(--md3-sys-opacity-012));
        @include paletteBorder(var(--md3-sys-palette-onSurface));
      }
    }
    
    &::before {
      content: ' ';
      position: absolute;
      @include inset(0px);
      
      border-radius: inherit;
      border-width: var(--md3-ref-spacing-px);
      border-style: solid;
      @include paletteBorder(var(--md3-sys-palette-outline));
    }
    
    &--selected {
      &::before {
        content: ' ';
        @include paletteBorder(var(--md3-sys-palette-primaryVariant));
      }
    }
  }
  
  &--text {
    --md3-button-padding: var(--md3-ref-spacing-3);
    
    @include hover('.md3-button') {
      transition-duration: var(--d-sys-transitionDuration-lg-close);
    }
    
    @include active('.md3-button') {
      &::after {
        content: ' ';
        @include borderOpacity(var(--md3-sys-opacity-medium));
      }
    }
    
    &::after {
      content: ' ';
      position: absolute;
      @include inset(0px);
      
      border-radius: inherit;
      border-width: var(--md3-ref-spacing-px);
      border-style: solid;
      @include borderOpacity(0);
      @include paletteBorder(var(--md3-sys-palette-outline));
      
      transition: inherit;
    }
  }
  
  &--elevated {
    @include paletteBackground(var(--md3-sys-palette-surfaceContainerLow));
    
    box-shadow: var(--md3-ref-shadow-1);
    
    @include hover('.md3-button') {
      box-shadow: var(--md3-ref-shadow-2);
    }
    
    @include active('.md3-button') {
      box-shadow: var(--md3-ref-shadow-1);
    }
    
    @include disabled('.md3-button') {
      @include backgroundOpacity(var(--md3-sys-opacity-012));
      @include paletteBackground(var(--md3-sys-palette-onSurface));
      
      box-shadow: none;
    }
    
    &--selected {
      @include paletteBackground(var(--md3-sys-palette-surfaceContainerHigh));
    }
  }
  
  &--tonal {
    @include color(var(--md3-sys-palette-onSecondaryContainer));
    
    @include paletteBackground(var(--md3-sys-palette-secondaryContainer));
    @include gradient(var(--md3-sys-palette-onSecondaryContainer));
    
    @include hover('.md3-button') {
      box-shadow: var(--md3-ref-shadow-1);
    }
    
    @include active('.md3-button') {
      box-shadow: none;
    }
    
    @include disabled('.md3-button') {
      @include backgroundOpacity(var(--md3-sys-opacity-012));
      @include paletteBackground(var(--md3-sys-palette-onSurface));
      
      box-shadow: none;
    }
    
    &--selected {
      @include paletteBackground(var(--md3-sys-palette-secondaryContainerVariant));
    }
  }
  // :style [!] System label / Системная метка
}
