@import "../../styles/all";

@mixin mixinButtonToken {
  // :style [!] System label / Системная метка
  --cc2-button-transitionFunction: var(--d-sys-transitionFunction-standard);
  
  transition-duration: var(--d-sys-transitionDuration-lg-close);
  transition-property: background-color, background-image, border, box-shadow;
  
  @include hover {
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include active {
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &--disabled {
    opacity: 0.5;
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &--adaptive {
    &--icon {
      --cc2-button-padding: 0px;
      
       .cc2-button__label {
        display: none;
        
        @include paddingX(#{0px});
      }
    }
  }
  
  &--primary {
    --cc2-button-padding: var(--cc2-st-global-distance-space-inset-2xl);
    
    @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-solid-normal)});
    
    border-radius: var(--cc2-st-selectable-borderRadius-size-xl);
    
    @include hover('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-solid-hover)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-onprimary-hover)});
      }
    }
    
    @include active('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-solid-active)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-onprimary-active)});
      }
    }
    
    @include focus('.cc2-button') {
      box-shadow: var(--cc2-st-elevation-onLight-focus-md);
    }
    
    &.cc2-button--size {
      &--lg {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-xl);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-lg);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-sm);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--md {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-md);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--sm {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--xs {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-md);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--x {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-sm);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-xs);
        
        & .cc2-button__icon {
          &--right {
            border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
          }
        }
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
    }
    
    &.cc2-button--intent {
      &--positive {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-hover)});
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-active)});
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-select)});
        }
      }
      
      &--informative {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-hover)});
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-active)});
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-select)});
        }
      }
      
      &--negative {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-hover)});
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-active)});
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-select)});
        }
      }
      
      &--neutral {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-solid-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-solid-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-neutral-invert-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-solid-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-neutral-invert-active)});
          }
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-solid-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-neutral-invert-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-bg-color-neutral-invert-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-bg-color-neutral-invert-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-bg-color-neutral-invert-normal)});
        }
      }
    }
    
    &.cc2-button--selected {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-solid-select)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-onprimary-select)});
      }
    }
    
    & .cc2-button__icon {
      &--only {
        &.cc2-button--loading {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-invert-normal)});
          }
        }
      }
    }
    
    & .cc2-button__label {
      gap: var(--cc2-st-global-distance-space-inline-md);
      
      font-family: var(--cc2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--cc2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
      letter-spacing: var(--cc2-ot-typography-tracking-lg);
      @include textCase(#{var(--cc2-ot-typography-textCase-none)});
      text-decoration: var(--cc2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
      
      @include color(#{var(--cc2-st-action-fg-color-onprimary-normal)});
    }
  }
  
  &--secondary {
    --cc2-button-padding: var(--cc2-st-global-distance-space-inset-2xl);
    
    @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-subtle-normal)});
    
    border-radius: var(--cc2-st-selectable-borderRadius-size-xl);
    
    @include hover('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-subtle-hover)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-primary-hover)});
      }
    }
    
    @include active('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-subtle-active)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-primary-active)});
      }
    }
    
    @include focus('.cc2-button') {
      box-shadow: var(--cc2-st-elevation-onLight-focus-md);
    }
    
    &.cc2-button--size {
      &--lg {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-xl);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-lg);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-sm);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--md {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-md);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--sm {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--xs {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-md);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--x {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-sm);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-xs);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
    }
    
    &.cc2-button--intent {
      &--positive {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-subtle-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-subtle-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-subtle-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-active)});
          }
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-positive-subtle-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-positive-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-positive-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-positive-normal)});
        }
      }
      
      &--informative {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-subtle-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-subtle-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-informative-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-subtle-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-informative-active)});
          }
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-informative-subtle-select)});
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-informative-normal)});
        }
      }
      
      &--negative {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-subtle-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-subtle-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-subtle-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-active)});
          }
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-subtle-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-negative-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-negative-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-negative-normal)});
        }
      }
      
      &--neutral {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-subtle-normal)});
        
        @include hover('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-subtle-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-subtle-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-active)});
          }
        }
        
        &.cc2-button--selected {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-subtle-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-neutral-normal)});
        }
      }
    }
    
    &.cc2-button--selected {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-primary-subtle-select)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-primary-select)});
      }
    }
    
    & .cc2-button__icon {
      &--only {
        @include hover('.cc2-button') {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-active)});
          }
        }
        
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-select)});
          }
        }
        
        &.cc2-button--loading {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-invert-normal)});
          }
        }
        
        & .cc2-button__icon__label {
          @include color(#{var(--cc2-st-action-fg-color-onprimary-normal)});
        }
      }
      
      &--left {
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-primary-select)});
          }
        }
      }
      
      &--right {
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-primary-select)});
          }
        }
      }
    }
    
    & .cc2-button__label {
      gap: var(--cc2-st-global-distance-space-inline-md);
      
      font-family: var(--cc2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--cc2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
      letter-spacing: var(--cc2-ot-typography-tracking-lg);
      @include textCase(#{var(--cc2-ot-typography-textCase-none)});
      text-decoration: var(--cc2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
      
      @include color(#{var(--cc2-st-action-fg-color-primary-normal)});
    }
  }
  
  &--outline {
    --cc2-button-padding: var(--cc2-st-global-distance-space-inset-2xl);
    
    @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-invert-normal)});
    
    border-radius: var(--cc2-st-selectable-borderRadius-size-xl);
    border-width: 1px;
    border-style: solid;
    @include borderColor(#{var(--cc2-st-action-border-color-neutral-subtle-normal)});
    
    @include hover('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-invert-hover)});
      
      @include borderColor(#{var(--cc2-st-action-border-color-neutral-subtle-hover)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-neutral-hover)});
      }
    }
    
    @include active('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-invert-active)});
      
      @include borderColor(#{var(--cc2-st-action-border-color-neutral-subtle-active)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-neutral-active)});
      }
    }
    
    @include focus('.cc2-button') {
      box-shadow: var(--cc2-st-elevation-onLight-focus-md);
    }
    
    &.cc2-button--size {
      &--lg {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-xl);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-lg);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-sm);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--md {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-md);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--sm {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--xs {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-md);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--x {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-sm);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-xs);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
    }
    
    &.cc2-button--intent {
      &--positive {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-normal)});
        
        @include borderColor(#{var(--cc2-st-action-fg-color-positive-normal)});
        
        @include hover('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-fg-color-positive-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-fg-color-positive-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-active)});
          }
        }
        
        @include focus('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-invert-focus)});
        }
        
        &.cc2-button--selected {
          @include borderColor(#{var(--cc2-st-action-fg-color-positive-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-positive-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-positive-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-positive-normal)});
        }
      }
      
      &--informative {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-normal)});
        
        @include borderColor(#{var(--cc2-st-action-bg-color-informative-normal)});
        
        @include hover('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-bg-color-informative-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-informative-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-bg-color-informative-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-informative-active)});
          }
        }
        
        @include focus('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-invert-focus)});
        }
        
        &.cc2-button--selected {
          @include borderColor(#{var(--cc2-st-action-bg-color-informative-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-informative-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-bg-color-informative-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-bg-color-informative-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-bg-color-informative-normal)});
        }
      }
      
      &--negative {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-normal)});
        
        @include borderColor(#{var(--cc2-st-action-fg-color-negative-normal)});
        
        @include hover('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-fg-color-negative-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-fg-color-negative-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-active)});
          }
        }
        
        @include focus('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-invert-focus)});
        }
        
        &.cc2-button--selected {
          @include borderColor(#{var(--cc2-st-action-fg-color-negative-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-negative-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-negative-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-negative-normal)});
        }
      }
      
      &--neutral {
        @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-normal)});
        
        @include borderColor(#{var(--cc2-st-action-fg-color-neutral-normal)});
        
        @include hover('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-fg-color-neutral-hover)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-hover)});
          }
        }
        
        @include active('.cc2-button') {
          @include borderColor(#{var(--cc2-st-action-fg-color-neutral-active)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-active)});
          }
        }
        
        @include focus('.cc2-button') {
          @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-invert-focus)});
        }
        
        &.cc2-button--selected {
          @include borderColor(#{var(--cc2-st-action-fg-color-neutral-select)});
          
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-neutral-normal)});
        }
      }
    }
    
    &.cc2-button--selected {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-invert-select)});
      
      @include borderColor(#{var(--cc2-st-action-border-color-neutral-subtle-select)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
      }
    }
    
    & .cc2-button__icon {
      &--only {
        @include hover('.cc2-button') {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-active)});
          }
        }
        
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-select)});
          }
        }
        
        &.cc2-button--loading {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-invert-normal)});
          }
        }
        
        & .cc2-button__icon__label {
          @include color(#{var(--cc2-st-action-fg-color-onprimary-normal)});
        }
      }
      
      &--left {
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
          }
        }
      }
      
      &--right {
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
          }
        }
      }
    }
    
    & .cc2-button__label {
      gap: var(--cc2-st-global-distance-space-inline-md);
      
      font-family: var(--cc2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--cc2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
      letter-spacing: var(--cc2-ot-typography-tracking-lg);
      @include textCase(#{var(--cc2-ot-typography-textCase-none)});
      text-decoration: var(--cc2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
      
      @include color(#{var(--cc2-st-action-fg-color-neutral-normal)});
    }
  }
  
  &--ghost {
    --cc2-button-padding: var(--cc2-st-global-distance-space-inset-2xl);
    
    @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-normal)});
    
    border-radius: var(--cc2-st-selectable-borderRadius-size-xl);
    
    @include hover('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-hover)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-primary-hover)});
      }
    }
    
    @include active('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-active)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-primary-active)});
      }
    }
    
    @include focus('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-focus)});
      
      box-shadow: var(--cc2-st-elevation-onLight-focus-md);
    }
    
    &.cc2-button--size {
      &--lg {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-xl);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-lg);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-sm);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--md {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-md);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
          letter-spacing: var(--cc2-ot-typography-tracking-base);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
        }
      }
      
      &--sm {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-lg);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--xs {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-md);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-sm);
        
        &.cc2-button--intent {
          &--negative {
            & .cc2-button__icon {
              &--only {
                @include disabled('.cc2-button') {
                  @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-subtle-normal)});
                }
              }
            }
          }
        }
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
      
      &--x {
        --cc2-button-padding: var(--cc2-st-global-distance-space-inset-sm);
        
        border-radius: var(--cc2-st-selectable-borderRadius-size-xs);
        
        &.cc2-button--intent {
          &--negative {
            & .cc2-button__icon {
              &--only {
                @include disabled('.cc2-button') {
                  @include backgroundColor(#{var(--cc2-st-action-bg-color-negative-subtle-normal)});
                }
              }
            }
          }
        }
        
        & .cc2-button__label {
          gap: var(--cc2-st-global-distance-space-inline-xs);
          
          font-family: var(--cc2-ot-typography-fontFamily-base);
          @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-87)});
          font-weight: var(--cc2-ot-typography-fontWeight-500);
          @include lineHeight(#{var(--cc2-ot-typography-lineHeight-125)});
          letter-spacing: var(--cc2-ot-typography-tracking-md);
          @include textCase(#{var(--cc2-ot-typography-textCase-none)});
          text-decoration: var(--cc2-ot-typography-textDecoration-none);
          @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-62)});
        }
      }
    }
    
    &.cc2-button--selected {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-select)});
      
      & .cc2-button__label {
        @include color(#{var(--cc2-st-action-fg-color-primary-select)});
      }
    }
    
    &.cc2-button--intent {
      &--positive {
        @include hover('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-active)});
          }
        }
        
        &.cc2-button--selected {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-positive-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-positive-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-positive-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-positive-normal)});
        }
      }
      
      &--negative {
        @include hover('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-negative-active)});
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-negative-normal)});
        }
      }
      
      &--neutral {
        @include hover('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-active)});
          }
        }
        
        &.cc2-button--selected {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-fg-color-neutral-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-fg-color-neutral-normal)});
        }
      }
      
      &--informative {
        @include hover('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-informative-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-informative-active)});
          }
        }
        
        &.cc2-button--selected {
          & .cc2-button__label {
            @include color(#{var(--cc2-st-action-bg-color-informative-select)});
          }
        }
        
        & .cc2-button__icon {
          &--left {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-bg-color-informative-select)});
              }
            }
          }
          
          &--right {
            &.cc2-button--selected {
              & .cc2-button__icon__label {
                @include color(#{var(--cc2-st-action-bg-color-informative-select)});
              }
            }
          }
        }
        
        & .cc2-button__label {
          @include color(#{var(--cc2-st-action-bg-color-informative-normal)});
        }
      }
    }
    
    & .cc2-button__icon {
      &--only {
        @include hover('.cc2-button') {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-hover)});
          }
        }
        
        @include active('.cc2-button') {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-active)});
          }
        }
        
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-onprimary-select)});
          }
        }
        
        &.cc2-button--loading {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-invert-normal)});
          }
        }
        
        & .cc2-button__icon__label {
          @include color(#{var(--cc2-st-action-fg-color-onprimary-normal)});
        }
      }
      
      &--left {
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-primary-select)});
          }
        }
      }
      
      &--right {
        &.cc2-button--selected {
          & .cc2-button__icon__label {
            @include color(#{var(--cc2-st-action-fg-color-primary-select)});
          }
        }
      }
    }
    
    & .cc2-button__label {
      gap: var(--cc2-st-global-distance-space-inline-md);
      
      font-family: var(--cc2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--cc2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
      letter-spacing: var(--cc2-ot-typography-tracking-lg);
      @include textCase(#{var(--cc2-ot-typography-textCase-none)});
      text-decoration: var(--cc2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
      
      @include color(#{var(--cc2-st-action-fg-color-primary-normal)});
    }
  }
  
  &--link {
    @include focus('.cc2-button') {
      @include backgroundColor(#{var(--cc2-st-action-bg-color-neutral-ghost-focus)});
    }
    
    &.cc2-button--intent {
      &--default {
        @include focus('.cc2-button') {
          box-shadow: var(--cc2-st-elevation-onLight-focus-sm);
        }
      }
      
      &--positive {
        @include focus('.cc2-button') {
          box-shadow: var(--cc2-st-elevation-onLight-focus-sm);
        }
      }
      
      &--informative {
        @include focus('.cc2-button') {
          box-shadow: var(--cc2-st-elevation-onLight-focus-sm);
        }
      }
      
      &--negative {
        @include focus('.cc2-button') {
          box-shadow: var(--cc2-st-elevation-onLight-focus-sm);
        }
      }
      
      &--neutral {
        @include focus('.cc2-button') {
          box-shadow: var(--cc2-st-elevation-onLight-focus-xs);
        }
      }
    }
  }
  // :style [!] System label / Системная метка
}
