@import "../../styles/all";

@mixin mixinChipToken {
  // :style [!] System label / Системная метка
  --md3-chip-padding: var(--md3-ref-spacing-3);
  --md3-chip-transitionFunction: var(--d-sys-transitionFunction-standard);
  
  font-family: var(--md3-ref-font-family-roboto);
  @include fontSize(#{var(--md3-ref-font-size-md)});
  font-weight: var(--md3-ref-font-weight-bold);
  @include lineHeight(#{var(--md3-ref-lineHeight-md)});
  letter-spacing: var(--md3-ref-letterSpacing-xs);
  text-transform: none;
  
  @include color(#{var(--md3-sys-palette-onSurface)});
  
  @include backgroundColor(#{transparent});
  @include gradientOpacity(#{0});
  @include paletteGradient(#{var(--md3-sys-palette-onSurfaceVariant)});
  
  border-radius: var(--md3-sys-rounded-standard);
  
  box-shadow: none;
  
  transition-duration: var(--d-sys-transitionDuration-lg-close);
  transition-property: border, box-shadow;
  
  @include hover {
    @include gradientOpacity(#{var(--md3-sys-opacity-008)});
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include active {
    @include gradientOpacity(#{var(--md3-sys-opacity-012)});
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include focus {
    @include gradientOpacity(#{var(--md3-sys-opacity-012)});
  }
  
  &--selected {
    @include paletteBackground(#{var(--md3-sys-palette-secondaryContainer)});
  }
  
  &--disabled {
    @include color(#{var(--md3-sys-palette-onSurface)});
    @include colorOpacity(#{var(--md3-sys-opacity-disabled)});
    
    transition-duration: var(--d-sys-transitionDuration-sm);
    
    & .md3-chip__icon {
      @include color(#{var(--md3-sys-palette-onSurface)});
    }
  }
  
  &--adaptive {
    &--icon {
      --md3-chip-padding: 0px;
      
       .md3-chip__label {
        display: none;
        
        @include paddingX(#{0px});
      }
    }
    
    &--sm {
      @media screen and (max-width: calc(600px - 1px)) {
        --md3-chip-padding: 0px;
        
         .md3-chip__label {
          display: none;
          
          @include paddingX(#{0px});
        }
      }
    }
    
    &--md {
      @media screen and (max-width: calc(905px - 1px)) {
        --md3-chip-padding: 0px;
        
         .md3-chip__label {
          display: none;
          
          @include paddingX(#{0px});
        }
      }
    }
  }
  
  &--height {
    &--sm {
      @include height(#{var(--md3-ref-spacing-7)});
    }
    
    &--md {
      @include height(#{var(--md3-ref-spacing-8)});
    }
    
    &--lg {
      @include height(#{var(--md3-ref-spacing-10)});
    }
  }
  
  &--outlined {
    @include disabled('.md3-chip') {
      &::before {
        content: ' ';
        @include borderColor(#{var(--md3-sys-palette-onSurfaceVariant)});
        @include borderOpacity(#{var(--md3-sys-opacity-012)});
      }
    }
    
    &::before {
      content: ' ';
      position: absolute;
      @include inset(#{0px});
      
      border-radius: inherit;
      border-width: var(--md3-ref-spacing-px);
      border-style: solid;
      @include borderColor(#{var(--md3-sys-palette-outline)});
    }
    
    &--selected {
      &::before {
        content: ' ';
        @include borderOpacity(#{0});
      }
    }
  }
  
  &--elevated {
    @include paletteBackground(#{var(--md3-sys-palette-surfaceContainerLow)});
    
    box-shadow: var(--md3-ref-shadow-1);
    
    @include disabled('.md3-chip') {
      @include backgroundOpacity(#{var(--md3-sys-opacity-012)});
      @include paletteBackground(#{var(--md3-sys-palette-onSurfaceVariant)});
      
      box-shadow: none;
    }
    
    &--selected {
      @include paletteBackground(#{var(--md3-sys-palette-secondaryContainer)});
    }
  }
  
  &--input {
    &--outlined {
      &--dragged {
        box-shadow: var(--md3-ref-shadow-3);
      }
    }
  }
  
  &--assist {
    &--elevated {
      @include active('.md3-chip') {
        box-shadow: var(--md3-ref-shadow-2);
      }
      
      &--dragged {
        box-shadow: var(--md3-ref-shadow-2);
      }
    }
  }
  
  &--filter {
    &--selected {
      & .md3-chip__icon {
        @include color(#{var(--md3-sys-palette-onSurface)});
      }
    }
    
    &--outlined {
      &--dragged {
        box-shadow: var(--md3-ref-shadow-4);
      }
      
      &--selected {
        @include hover('.md3-chip') {
          box-shadow: var(--md3-ref-shadow-1);
        }
        
        &--dragged {
          box-shadow: var(--md3-ref-shadow-4);
          
          @include hover('.md3-chip') {
            box-shadow: var(--md3-ref-shadow-4);
          }
        }
      }
    }
    
    &--elevated {
      @include hover('.md3-chip') {
        box-shadow: var(--md3-ref-shadow-2);
      }
      
      &--dragged {
        box-shadow: var(--md3-ref-shadow-4);
        
        @include hover('.md3-chip') {
          box-shadow: var(--md3-ref-shadow-4);
        }
      }
    }
  }
  
  &--suggestion {
    &--outlined {
      &--dragged {
        box-shadow: var(--md3-ref-shadow-3);
      }
      
      &--selected {
        @include hover('.md3-chip') {
          box-shadow: var(--md3-ref-shadow-1);
        }
        
        @include active('.md3-chip') {
          box-shadow: var(--md3-ref-shadow-2);
        }
        
        &--dragged {
          box-shadow: var(--md3-ref-shadow-3);
        }
      }
    }
    
    &--elevated {
      @include active('.md3-chip') {
        box-shadow: var(--md3-ref-shadow-2);
      }
      
      &--dragged {
        box-shadow: var(--md3-ref-shadow-3);
      }
    }
  }
  
  &--avatar {
    --iconWidth: calc(var(--sys-height) - var(--md3-ref-spacing-2));
    
    border-radius: var(--md3-sys-rounded-full);
  }
  
  &--dragged {
    @include gradientOpacity(#{var(--md3-sys-opacity-016)});
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &__icon {
    @include paletteColor(#{var(--md3-sys-palette-primary)});
  }
  // :style [!] System label / Системная метка
}
