@import "../../styles/properties";

@mixin mixinImage {
  direction: ltr;
  @include flexCenter;
  @include absolute;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: inherit;

  transition-property: background-size, filter, opacity, transform;
  transition-duration: v('d.sys.transition-duration.standard');
  transform: none;

  &--type {
    &--public {
      @include backgroundAsColor;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }

    &--color,
    &--file,
    &--image {
      @include disabled($designsClassName) {
        filter: grayscale(1) opacity(#{var(--sys-color-opacity, v('??color-opacity'))});
      }
    }
  }

  &--adaptive {
    background-size: 100%;
  }

  &--turn {
    @include rotate(180deg);
  }

  &--disabled {
    color: rgba(var(--sys-color, v('??color')), var(--sys-color-opacity, v('??color-opacity')));
  }

  &--hide {
    opacity: 0;
    scale: .8;
  }

  &.material-icons {
    direction: ltr;
    display: inline-flex;
    font-size: v('??font-size', 1.5em);
  }

  &--type {
    &--outlined {
      font-family: 'Material Icons Outlined', sans-serif;
    }

    &--round {
      font-family: 'Material Icons Round', sans-serif;
    }

    &--sharp {
      font-family: 'Material Icons Sharp', sans-serif;
    }

    &--two-tone {
      font-family: 'Material Icons Two Tone', sans-serif;
    }
  }
}
