@import "../../styles/properties";

@mixin mixinIcon {
  $clipPath: clip-path #{v('d.sys.transition-duration.fade.enter')} #{v('d.sys.transition-function.deceleration')};
  $margin: margin #{v('d.ref.transition-duration.1')} linear;
  $background: background #{v('d.sys.transition-duration.standard')} linear;
  $opacity: opacity #{v('d.sys.transition-duration.standard')} linear;
  $transform: transform #{v('d.sys.transition-duration.standard')} linear;

  @include initByCustom('_width', v('??width', #{calc(var(--sys-font-size, 16px) * 1.5)}));

  display: inline-flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;

  @include squared(#{v('??_width')});
  min-width: v('??_width');

  @include textSelectNone;

  border-radius: v('??rounded', inherit);

  transition-property: clip-path, margin, opacity, transform;
  transition-duration: v('d.sys.transitionDuration.standard');

  &--hide {
    opacity: 0;
    transform: scale(.8);
  }

  &--animation-type {
    &--type2 {
      clip-path: inset(0 0 0 0);

      transition: #{$clipPath}, #{$margin}, #{$background}, #{$opacity}, #{$transform};

      @include state('hide') {
        clip-path: inset(0 100% 0 0);
        margin: 0 calc(#{v('??_width')} * -1) 0 0 !important;
        opacity: 1;

        transition-duration: v('d.sys.transitionDuration.fade.exit');
        transition-timing-function: linear;
        transform: none;
      }
    }
  }

  &--animation-show {
    animation-name: n('??show');
    animation-duration: v('d.sys.transitionDuration.standard');
  }

  &--overlay {
    @include backgroundColor(v('??sys.color', var(--sys-color)));
  }

  &--dynamic {
    @include gradient(v('??sys.color', var(--sys-color)), 0);
  }

  &--start {
    order: 1;
  }

  &--end {
    order: 99999;
  }

  &--high {
    z-index: 16;
  }

  @keyframes #{n('??show')} {
    0% {
      opacity: 0;
      transform: scale(.6);
    }
    20% {
      transform: scale(.6);
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}
