@import "../../styles/all";

.md3-dark {
  --md3-ref-background-0: rgb(var(--md3-sys-palette-surface));
  --md3-ref-background-1: rgb(var(--md3-sys-palette-surfaceContainerLow));
  --md3-ref-background-2: rgb(var(--md3-sys-palette-surfaceContainer));
  --md3-ref-background-3: rgb(var(--md3-sys-palette-surfaceContainerHigh));
  --md3-ref-background-4: rgb(var(--md3-sys-palette-surfaceContainerHigh));
  --md3-ref-background-5: rgb(var(--md3-sys-palette-surfaceContainerHighest));
  --md3-ref-shadow-0: none;
  --md3-ref-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  --md3-sys-palette-primary: var(--md3-ref-palette-primary-80);
  --md3-sys-palette-primaryVariant: var(--md3-ref-palette-primary-60);
  --md3-sys-palette-primaryContainer: var(--md3-ref-palette-primary-30);
  --md3-sys-palette-primaryContainerVariant: var(--md3-ref-palette-primary-50);
  --md3-sys-palette-primaryFixed: var(--md3-ref-palette-primary-90);
  --md3-sys-palette-primaryFixedDim: var(--md3-ref-palette-primary-80);
  --md3-sys-palette-secondary: var(--md3-ref-palette-secondary-80);
  --md3-sys-palette-secondaryVariant: var(--md3-ref-palette-secondary-60);
  --md3-sys-palette-secondaryContainer: var(--md3-ref-palette-secondary-30);
  --md3-sys-palette-secondaryContainerVariant: var(--md3-ref-palette-secondary-50);
  --md3-sys-palette-secondaryFixed: var(--md3-ref-palette-secondary-90);
  --md3-sys-palette-secondaryFixedDim: var(--md3-ref-palette-secondary-80);
  --md3-sys-palette-tertiary: var(--md3-ref-palette-tertiary-80);
  --md3-sys-palette-tertiaryVariant: var(--md3-ref-palette-tertiary-60);
  --md3-sys-palette-tertiaryContainer: var(--md3-ref-palette-tertiary-30);
  --md3-sys-palette-tertiaryContainerVariant: var(--md3-ref-palette-tertiary-50);
  --md3-sys-palette-tertiaryFixed: var(--md3-ref-palette-tertiary-90);
  --md3-sys-palette-tertiaryFixedDim: var(--md3-ref-palette-tertiary-80);
  --md3-sys-palette-error: var(--md3-ref-palette-error-80);
  --md3-sys-palette-errorVariant: var(--md3-ref-palette-error-60);
  --md3-sys-palette-errorContainer: var(--md3-ref-palette-error-30);
  --md3-sys-palette-errorContainerVariant: var(--md3-ref-palette-error-50);
  --md3-sys-palette-surfaceDim: var(--md3-ref-palette-neutral-6);
  --md3-sys-palette-surface: var(--md3-ref-palette-neutral-6);
  --md3-sys-palette-surfaceBright: var(--md3-ref-palette-neutral-24);
  --md3-sys-palette-surfaceContainerLowest: var(--md3-ref-palette-neutral-4);
  --md3-sys-palette-surfaceContainerLow: var(--md3-ref-palette-neutral-10);
  --md3-sys-palette-surfaceContainer: var(--md3-ref-palette-neutral-12);
  --md3-sys-palette-surfaceContainerHigh: var(--md3-ref-palette-neutral-17);
  --md3-sys-palette-surfaceContainerHighest: var(--md3-ref-palette-neutral-22);
  --md3-sys-palette-onPrimary: var(--md3-ref-palette-primary-20);
  --md3-sys-palette-onPrimaryContainer: var(--md3-ref-palette-primary-90);
  --md3-sys-palette-onPrimaryFixed: var(--md3-ref-palette-primary-10);
  --md3-sys-palette-onPrimaryFixedVariant: var(--md3-ref-palette-primary-30);
  --md3-sys-palette-onSecondary: var(--md3-ref-palette-secondary-20);
  --md3-sys-palette-onSecondaryContainer: var(--md3-ref-palette-secondary-90);
  --md3-sys-palette-onSecondaryFixed: var(--md3-ref-palette-secondary-10);
  --md3-sys-palette-onSecondaryFixedVariant: var(--md3-ref-palette-secondary-30);
  --md3-sys-palette-onTertiary: var(--md3-ref-palette-tertiary-20);
  --md3-sys-palette-onTertiaryContainer: var(--md3-ref-palette-tertiary-90);
  --md3-sys-palette-onTertiaryFixed: var(--md3-ref-palette-tertiary-10);
  --md3-sys-palette-onTertiaryFixedVariant: var(--md3-ref-palette-tertiary-30);
  --md3-sys-palette-onError: var(--md3-ref-palette-error-20);
  --md3-sys-palette-onErrorContainer: var(--md3-ref-palette-error-90);
  --md3-sys-palette-onSurface: var(--md3-ref-palette-neutral-90);
  --md3-sys-palette-onSurfaceVariant: var(--md3-ref-palette-neutralVariant-80);
  --md3-sys-palette-outline: var(--md3-ref-palette-neutralVariant-60);
  --md3-sys-palette-outlineVariant: var(--md3-ref-palette-neutralVariant-30);
  --md3-sys-palette-inverseSurface: var(--md3-ref-palette-neutral-90);
  --md3-sys-palette-inverseOnSurface: var(--md3-ref-palette-neutral-20);
  --md3-sys-palette-inversePrimary: var(--md3-ref-palette-primary-40);
  --md3-sys-palette-scrim: var(--md3-ref-palette-neutral-0);
  --md3-sys-palette-shadow: var(--md3-ref-palette-neutral-0);
}

.md3-elevation {
}

.md3-font {
}

.md3-rounded {
}

.md3-main {
  font-family: var(--md3-ref-font-family-roboto);
  font-weight: var(--md3-ref-font-weight-normal);
  @include fontSize(#{var(--md3-ref-font-size-lg)});
  @include lineHeight(#{var(--md3-ref-lineHeight-lg)});
  letter-spacing: var(--md3-ref-letterSpacing-xl);
  text-transform: none;
  @include color(#{var(--md3-sys-palette-onSurface)});
  background: var(--md3-ref-background-0);
}

.md3-palette {
}