@import "styles/all";

:root {
  --md3-ref-background-0: rgb(var(--md3-sys-palette-surface));
  --md3-ref-background-1: rgb(var(--md3-sys-palette-surfaceContainerLow));
  --md3-ref-background-2: rgb(var(--md3-sys-palette-surfaceContainer));
  --md3-ref-background-3: rgb(var(--md3-sys-palette-surfaceContainerHigh));
  --md3-ref-background-4: rgb(var(--md3-sys-palette-surfaceContainerHigh));
  --md3-ref-background-5: rgb(var(--md3-sys-palette-surfaceContainerHighest));
  --md3-ref-font-family-roboto: Roboto;
  --md3-ref-font-size-xs: calc(var(--md3-ref-spacing-px)*11);
  --md3-ref-font-size-sm: calc(var(--md3-ref-spacing-px)*12);
  --md3-ref-font-size-md: calc(var(--md3-ref-spacing-px)*14);
  --md3-ref-font-size-lg: calc(var(--md3-ref-spacing-px)*16);
  --md3-ref-font-size-xl: calc(var(--md3-ref-spacing-px)*22);
  --md3-ref-font-size-headline-sm: calc(var(--md3-ref-spacing-px)*24);
  --md3-ref-font-size-headline-md: calc(var(--md3-ref-spacing-px)*28);
  --md3-ref-font-size-headline-lg: calc(var(--md3-ref-spacing-px)*32);
  --md3-ref-font-size-display-sm: calc(var(--md3-ref-spacing-px)*36);
  --md3-ref-font-size-display-md: calc(var(--md3-ref-spacing-px)*45);
  --md3-ref-font-size-display-lg: calc(var(--md3-ref-spacing-px)*57);
  --md3-ref-font-weight-normal: 400;
  --md3-ref-font-weight-bold: 500;
  --md3-ref-index-0: unset;
  --md3-ref-index-1: 100;
  --md3-ref-index-2: 200;
  --md3-ref-index-3: 300;
  --md3-ref-index-4: 400;
  --md3-ref-index-5: 500;
  --md3-ref-letterSpacing-none: unset;
  --md3-ref-letterSpacing-xs: calc(var(--md3-ref-spacing-px)*.1);
  --md3-ref-letterSpacing-sm: calc(var(--md3-ref-spacing-px)*.15);
  --md3-ref-letterSpacing-md: calc(var(--md3-ref-spacing-px)*.25);
  --md3-ref-letterSpacing-lg: calc(var(--md3-ref-spacing-px)*.4);
  --md3-ref-letterSpacing-xl: calc(var(--md3-ref-spacing-px)*.5);
  --md3-ref-letterSpacing-headline-sm: calc(var(--md3-ref-spacing-px)*0);
  --md3-ref-letterSpacing-headline-md: calc(var(--md3-ref-spacing-px)*0);
  --md3-ref-letterSpacing-headline-lg: calc(var(--md3-ref-spacing-px)*0);
  --md3-ref-letterSpacing-display-sm: calc(var(--md3-ref-spacing-px)*0);
  --md3-ref-letterSpacing-display-md: calc(var(--md3-ref-spacing-px)*0);
  --md3-ref-letterSpacing-display-lg: calc(var(--md3-ref-spacing-px)*-.25);
  --md3-ref-lineHeight-sm: var(--md3-ref-spacing-4);
  --md3-ref-lineHeight-md: var(--md3-ref-spacing-5);
  --md3-ref-lineHeight-lg: var(--md3-ref-spacing-6);
  --md3-ref-lineHeight-xl: var(--md3-ref-spacing-7);
  --md3-ref-lineHeight-headline-sm: calc(var(--md3-ref-spacing-px)*32);
  --md3-ref-lineHeight-headline-md: calc(var(--md3-ref-spacing-px)*36);
  --md3-ref-lineHeight-headline-lg: calc(var(--md3-ref-spacing-px)*40);
  --md3-ref-lineHeight-display-sm: calc(var(--md3-ref-spacing-px)*44);
  --md3-ref-lineHeight-display-md: calc(var(--md3-ref-spacing-px)*52);
  --md3-ref-lineHeight-display-lg: calc(var(--md3-ref-spacing-px)*64);
  --md3-ref-opacity-0: unset;
  --md3-ref-opacity-2: 0.02;
  --md3-ref-opacity-4: 0.04;
  --md3-ref-opacity-8: 0.08;
  --md3-ref-opacity-10: 0.10;
  --md3-ref-opacity-12: 0.12;
  --md3-ref-opacity-16: 0.16;
  --md3-ref-opacity-24: 0.24;
  --md3-ref-opacity-32: 0.32;
  --md3-ref-opacity-40: 0.40;
  --md3-ref-opacity-64: 0.64;
  --md3-ref-opacity-72: 0.72;
  --md3-ref-opacity-100: 1;
  --md3-ref-opacity-disabled: 0.38;
  --md3-ref-palette-primary-0: #{toColorRbg(#000000)};
  --md3-ref-palette-primary-10: #{toColorRbg(#21005D)};
  --md3-ref-palette-primary-20: #{toColorRbg(#381E72)};
  --md3-ref-palette-primary-30: #{toColorRbg(#4F378B)};
  --md3-ref-palette-primary-40: #{toColorRbg(#6750A4)};
  --md3-ref-palette-primary-50: #{toColorRbg(#7F67BE)};
  --md3-ref-palette-primary-60: #{toColorRbg(#9A82DB)};
  --md3-ref-palette-primary-70: #{toColorRbg(#B69DF8)};
  --md3-ref-palette-primary-80: #{toColorRbg(#D0BCFF)};
  --md3-ref-palette-primary-90: #{toColorRbg(#EADDFF)};
  --md3-ref-palette-primary-92: #{toColorRbg(#EADDFF)};
  --md3-ref-palette-primary-95: #{toColorRbg(#F6EDFF)};
  --md3-ref-palette-primary-96: #{toColorRbg(#F6EDFF)};
  --md3-ref-palette-primary-99: #{toColorRbg(#FFFBFE)};
  --md3-ref-palette-primary-100: #{toColorRbg(#FFFFFF)};
  --md3-ref-palette-secondary-0: #{toColorRbg(#000000)};
  --md3-ref-palette-secondary-10: #{toColorRbg(#1D192B)};
  --md3-ref-palette-secondary-20: #{toColorRbg(#332D41)};
  --md3-ref-palette-secondary-30: #{toColorRbg(#4A4458)};
  --md3-ref-palette-secondary-40: #{toColorRbg(#625B71)};
  --md3-ref-palette-secondary-50: #{toColorRbg(#7A7289)};
  --md3-ref-palette-secondary-60: #{toColorRbg(#958DA5)};
  --md3-ref-palette-secondary-70: #{toColorRbg(#B0A7C0)};
  --md3-ref-palette-secondary-80: #{toColorRbg(#CCC2DC)};
  --md3-ref-palette-secondary-90: #{toColorRbg(#E8DEF8)};
  --md3-ref-palette-secondary-92: #{toColorRbg(#E8DEF8)};
  --md3-ref-palette-secondary-95: #{toColorRbg(#F6EDFF)};
  --md3-ref-palette-secondary-96: #{toColorRbg(#F6EDFF)};
  --md3-ref-palette-secondary-99: #{toColorRbg(#FFFBFE)};
  --md3-ref-palette-secondary-100: #{toColorRbg(#FFFFFF)};
  --md3-ref-palette-tertiary-0: #{toColorRbg(#000000)};
  --md3-ref-palette-tertiary-10: #{toColorRbg(#31111D)};
  --md3-ref-palette-tertiary-20: #{toColorRbg(#492532)};
  --md3-ref-palette-tertiary-30: #{toColorRbg(#633B48)};
  --md3-ref-palette-tertiary-40: #{toColorRbg(#7D5260)};
  --md3-ref-palette-tertiary-50: #{toColorRbg(#986977)};
  --md3-ref-palette-tertiary-60: #{toColorRbg(#B58392)};
  --md3-ref-palette-tertiary-70: #{toColorRbg(#D29DAC)};
  --md3-ref-palette-tertiary-80: #{toColorRbg(#EFB8C8)};
  --md3-ref-palette-tertiary-90: #{toColorRbg(#FFD8E4)};
  --md3-ref-palette-tertiary-92: #{toColorRbg(#FFD8E4)};
  --md3-ref-palette-tertiary-95: #{toColorRbg(#FFECF1)};
  --md3-ref-palette-tertiary-96: #{toColorRbg(#FFECF1)};
  --md3-ref-palette-tertiary-99: #{toColorRbg(#FFFBFA)};
  --md3-ref-palette-tertiary-100: #{toColorRbg(#FFFFFF)};
  --md3-ref-palette-error-0: #{toColorRbg(#000000)};
  --md3-ref-palette-error-10: #{toColorRbg(#410E0B)};
  --md3-ref-palette-error-20: #{toColorRbg(#601410)};
  --md3-ref-palette-error-30: #{toColorRbg(#8C1D18)};
  --md3-ref-palette-error-40: #{toColorRbg(#B3261E)};
  --md3-ref-palette-error-50: #{toColorRbg(#DC362E)};
  --md3-ref-palette-error-60: #{toColorRbg(#E46962)};
  --md3-ref-palette-error-70: #{toColorRbg(#EC928E)};
  --md3-ref-palette-error-80: #{toColorRbg(#F2B8B5)};
  --md3-ref-palette-error-90: #{toColorRbg(#F9DEDC)};
  --md3-ref-palette-error-92: #{toColorRbg(#F9DEDC)};
  --md3-ref-palette-error-95: #{toColorRbg(#FCEEEE)};
  --md3-ref-palette-error-96: #{toColorRbg(#FCEEEE)};
  --md3-ref-palette-error-99: #{toColorRbg(#FFFBF9)};
  --md3-ref-palette-error-100: #{toColorRbg(#FFFFFF)};
  --md3-ref-palette-neutral-0: #{toColorRbg(#000000)};
  --md3-ref-palette-neutral-4: #{toColorRbg(#0F0D13)};
  --md3-ref-palette-neutral-6: #{toColorRbg(#141218)};
  --md3-ref-palette-neutral-10: #{toColorRbg(#1D1B20)};
  --md3-ref-palette-neutral-12: #{toColorRbg(#211F26)};
  --md3-ref-palette-neutral-17: #{toColorRbg(#2B2930)};
  --md3-ref-palette-neutral-20: #{toColorRbg(#48464C)};
  --md3-ref-palette-neutral-22: #{toColorRbg(#36343B)};
  --md3-ref-palette-neutral-24: #{toColorRbg(#3B383E)};
  --md3-ref-palette-neutral-30: #{toColorRbg(#48464C)};
  --md3-ref-palette-neutral-40: #{toColorRbg(#605D64)};
  --md3-ref-palette-neutral-50: #{toColorRbg(#79767D)};
  --md3-ref-palette-neutral-60: #{toColorRbg(#938F96)};
  --md3-ref-palette-neutral-70: #{toColorRbg(#AEA9B1)};
  --md3-ref-palette-neutral-80: #{toColorRbg(#CAC5CD)};
  --md3-ref-palette-neutral-87: #{toColorRbg(#DED8E1)};
  --md3-ref-palette-neutral-90: #{toColorRbg(#E6E0E9)};
  --md3-ref-palette-neutral-92: #{toColorRbg(#ECE6F0)};
  --md3-ref-palette-neutral-94: #{toColorRbg(#F3EDF7)};
  --md3-ref-palette-neutral-95: #{toColorRbg(#F5EFF7)};
  --md3-ref-palette-neutral-96: #{toColorRbg(#F7F2FA)};
  --md3-ref-palette-neutral-98: #{toColorRbg(#FEF7FF)};
  --md3-ref-palette-neutral-99: #{toColorRbg(#FFFBFE)};
  --md3-ref-palette-neutral-100: #{toColorRbg(#FFFFFF)};
  --md3-ref-palette-neutralVariant-0: #{toColorRbg(#000000)};
  --md3-ref-palette-neutralVariant-10: #{toColorRbg(#1D1A22)};
  --md3-ref-palette-neutralVariant-20: #{toColorRbg(#322F37)};
  --md3-ref-palette-neutralVariant-30: #{toColorRbg(#49454F)};
  --md3-ref-palette-neutralVariant-40: #{toColorRbg(#605D66)};
  --md3-ref-palette-neutralVariant-50: #{toColorRbg(#79747E)};
  --md3-ref-palette-neutralVariant-60: #{toColorRbg(#938F99)};
  --md3-ref-palette-neutralVariant-70: #{toColorRbg(#AEA9B4)};
  --md3-ref-palette-neutralVariant-80: #{toColorRbg(#CAC4D0)};
  --md3-ref-palette-neutralVariant-90: #{toColorRbg(#E7E0EC)};
  --md3-ref-palette-neutralVariant-92: #{toColorRbg(#E7E0EC)};
  --md3-ref-palette-neutralVariant-95: #{toColorRbg(#F5EEFA)};
  --md3-ref-palette-neutralVariant-96: #{toColorRbg(#F5EEFA)};
  --md3-ref-palette-neutralVariant-99: #{toColorRbg(#FFFBFE)};
  --md3-ref-palette-neutralVariant-100: #{toColorRbg(#FFFFFF)};
  --md3-ref-rounded-0: unset;
  --md3-ref-rounded-1: var(--md3-ref-spacing-1);
  --md3-ref-rounded-2: var(--md3-ref-spacing-2);
  --md3-ref-rounded-3: var(--md3-ref-spacing-3);
  --md3-ref-rounded-4: var(--md3-ref-spacing-4);
  --md3-ref-rounded-6: var(--md3-ref-spacing-6);
  --md3-ref-rounded-7: var(--md3-ref-spacing-7);
  --md3-ref-rounded-8: var(--md3-ref-spacing-8);
  --md3-ref-rounded-12: var(--md3-ref-spacing-12);
  --md3-ref-rounded-16: var(--md3-ref-spacing-16);
  --md3-ref-rounded-full: var(--md3-ref-spacing-128);
  --md3-ref-screen-xs: 0px;
  --md3-ref-screen-sm: 600px;
  --md3-ref-screen-md: 905px;
  --md3-ref-screen-lg: 1280px;
  --md3-ref-screen-xl: 1440px;
  --md3-ref-screen-2xl: 1648px;
  --md3-ref-shade-0: unset;
  --md3-ref-shade-10: 10;
  --md3-ref-shade-20: 20;
  --md3-ref-shade-30: 30;
  --md3-ref-shade-40: 40;
  --md3-ref-shade-50: 50;
  --md3-ref-shade-60: 60;
  --md3-ref-shade-70: 70;
  --md3-ref-shade-80: 80;
  --md3-ref-shade-90: 90;
  --md3-ref-shade-95: 95;
  --md3-ref-shade-96: 96;
  --md3-ref-shade-99: 99;
  --md3-ref-shade-100: 100;
  --md3-ref-shadow-0: none;
  --md3-ref-shadow-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md3-ref-shadow-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md3-ref-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-spacing-1: .25rem;
  --md3-ref-spacing-2: calc(var(--md3-ref-spacing-1)*2);
  --md3-ref-spacing-3: calc(var(--md3-ref-spacing-1)*3);
  --md3-ref-spacing-4: calc(var(--md3-ref-spacing-1)*4);
  --md3-ref-spacing-5: calc(var(--md3-ref-spacing-1)*5);
  --md3-ref-spacing-6: calc(var(--md3-ref-spacing-1)*6);
  --md3-ref-spacing-7: calc(var(--md3-ref-spacing-1)*7);
  --md3-ref-spacing-8: calc(var(--md3-ref-spacing-1)*8);
  --md3-ref-spacing-9: calc(var(--md3-ref-spacing-1)*9);
  --md3-ref-spacing-10: calc(var(--md3-ref-spacing-1)*10);
  --md3-ref-spacing-11: calc(var(--md3-ref-spacing-1)*11);
  --md3-ref-spacing-12: calc(var(--md3-ref-spacing-1)*12);
  --md3-ref-spacing-13: calc(var(--md3-ref-spacing-1)*13);
  --md3-ref-spacing-14: calc(var(--md3-ref-spacing-1)*14);
  --md3-ref-spacing-15: calc(var(--md3-ref-spacing-1)*15);
  --md3-ref-spacing-16: calc(var(--md3-ref-spacing-1)*16);
  --md3-ref-spacing-17: calc(var(--md3-ref-spacing-1)*17);
  --md3-ref-spacing-18: calc(var(--md3-ref-spacing-1)*18);
  --md3-ref-spacing-19: calc(var(--md3-ref-spacing-1)*19);
  --md3-ref-spacing-20: calc(var(--md3-ref-spacing-1)*20);
  --md3-ref-spacing-21: calc(var(--md3-ref-spacing-1)*21);
  --md3-ref-spacing-22: calc(var(--md3-ref-spacing-1)*22);
  --md3-ref-spacing-23: calc(var(--md3-ref-spacing-1)*23);
  --md3-ref-spacing-24: calc(var(--md3-ref-spacing-1)*24);
  --md3-ref-spacing-25: calc(var(--md3-ref-spacing-1)*25);
  --md3-ref-spacing-26: calc(var(--md3-ref-spacing-1)*26);
  --md3-ref-spacing-27: calc(var(--md3-ref-spacing-1)*27);
  --md3-ref-spacing-28: calc(var(--md3-ref-spacing-1)*28);
  --md3-ref-spacing-32: calc(var(--md3-ref-spacing-1)*32);
  --md3-ref-spacing-36: calc(var(--md3-ref-spacing-1)*36);
  --md3-ref-spacing-40: calc(var(--md3-ref-spacing-1)*40);
  --md3-ref-spacing-48: calc(var(--md3-ref-spacing-1)*48);
  --md3-ref-spacing-56: calc(var(--md3-ref-spacing-1)*56);
  --md3-ref-spacing-64: calc(var(--md3-ref-spacing-1)*64);
  --md3-ref-spacing-72: calc(var(--md3-ref-spacing-1)*72);
  --md3-ref-spacing-80: calc(var(--md3-ref-spacing-1)*80);
  --md3-ref-spacing-128: calc(var(--md3-ref-spacing-1)*128);
  --md3-ref-spacing-px: calc(var(--md3-ref-spacing-1)/4);
  --md3-sys-opacity-004: var(--md3-ref-opacity-4);
  --md3-sys-opacity-008: var(--md3-ref-opacity-8);
  --md3-sys-opacity-012: var(--md3-ref-opacity-12);
  --md3-sys-opacity-016: var(--md3-ref-opacity-16);
  --md3-sys-opacity-high: var(--md3-ref-opacity-100);
  --md3-sys-opacity-medium: var(--md3-ref-opacity-72);
  --md3-sys-opacity-disabled: var(--md3-ref-opacity-disabled);
  --md3-sys-palette-primary: var(--md3-ref-palette-primary-40);
  --md3-sys-palette-primaryVariant: var(--md3-ref-palette-primary-20);
  --md3-sys-palette-primaryContainer: var(--md3-ref-palette-primary-90);
  --md3-sys-palette-primaryContainerVariant: var(--md3-ref-palette-primary-70);
  --md3-sys-palette-primaryFixed: var(--md3-ref-palette-primary-90);
  --md3-sys-palette-primaryFixedDim: var(--md3-ref-palette-primary-80);
  --md3-sys-palette-secondary: var(--md3-ref-palette-secondary-40);
  --md3-sys-palette-secondaryVariant: var(--md3-ref-palette-secondary-20);
  --md3-sys-palette-secondaryContainer: var(--md3-ref-palette-secondary-90);
  --md3-sys-palette-secondaryContainerVariant: var(--md3-ref-palette-secondary-70);
  --md3-sys-palette-secondaryFixed: var(--md3-ref-palette-secondary-90);
  --md3-sys-palette-secondaryFixedDim: var(--md3-ref-palette-secondary-80);
  --md3-sys-palette-tertiary: var(--md3-ref-palette-tertiary-40);
  --md3-sys-palette-tertiaryVariant: var(--md3-ref-palette-tertiary-20);
  --md3-sys-palette-tertiaryContainer: var(--md3-ref-palette-tertiary-90);
  --md3-sys-palette-tertiaryContainerVariant: var(--md3-ref-palette-tertiary-70);
  --md3-sys-palette-tertiaryFixed: var(--md3-ref-palette-tertiary-90);
  --md3-sys-palette-tertiaryFixedDim: var(--md3-ref-palette-tertiary-80);
  --md3-sys-palette-error: var(--md3-ref-palette-error-40);
  --md3-sys-palette-errorVariant: var(--md3-ref-palette-error-20);
  --md3-sys-palette-errorContainer: var(--md3-ref-palette-error-90);
  --md3-sys-palette-errorContainerVariant: var(--md3-ref-palette-error-70);
  --md3-sys-palette-surfaceDim: var(--md3-ref-palette-neutral-87);
  --md3-sys-palette-surface: var(--md3-ref-palette-neutral-98);
  --md3-sys-palette-surfaceBright: var(--md3-ref-palette-neutral-98);
  --md3-sys-palette-surfaceContainerLowest: var(--md3-ref-palette-neutral-100);
  --md3-sys-palette-surfaceContainerLow: var(--md3-ref-palette-neutral-96);
  --md3-sys-palette-surfaceContainer: var(--md3-ref-palette-neutral-94);
  --md3-sys-palette-surfaceContainerHigh: var(--md3-ref-palette-neutral-92);
  --md3-sys-palette-surfaceContainerHighest: var(--md3-ref-palette-neutral-90);
  --md3-sys-palette-onPrimary: var(--md3-ref-palette-primary-100);
  --md3-sys-palette-onPrimaryContainer: var(--md3-ref-palette-primary-10);
  --md3-sys-palette-onPrimaryFixed: var(--md3-ref-palette-primary-10);
  --md3-sys-palette-onPrimaryFixedVariant: var(--md3-ref-palette-primary-30);
  --md3-sys-palette-onSecondary: var(--md3-ref-palette-secondary-100);
  --md3-sys-palette-onSecondaryContainer: var(--md3-ref-palette-secondary-10);
  --md3-sys-palette-onSecondaryFixed: var(--md3-ref-palette-secondary-10);
  --md3-sys-palette-onSecondaryFixedVariant: var(--md3-ref-palette-secondary-30);
  --md3-sys-palette-onTertiary: var(--md3-ref-palette-tertiary-100);
  --md3-sys-palette-onTertiaryContainer: var(--md3-ref-palette-tertiary-10);
  --md3-sys-palette-onTertiaryFixed: var(--md3-ref-palette-tertiary-10);
  --md3-sys-palette-onTertiaryFixedVariant: var(--md3-ref-palette-tertiary-30);
  --md3-sys-palette-onError: var(--md3-ref-palette-error-100);
  --md3-sys-palette-onErrorContainer: var(--md3-ref-palette-error-10);
  --md3-sys-palette-onSurface: var(--md3-ref-palette-neutral-10);
  --md3-sys-palette-onSurfaceVariant: var(--md3-ref-palette-neutralVariant-30);
  --md3-sys-palette-outline: var(--md3-ref-palette-neutralVariant-50);
  --md3-sys-palette-outlineVariant: var(--md3-ref-palette-neutralVariant-80);
  --md3-sys-palette-inverseSurface: var(--md3-ref-palette-neutral-20);
  --md3-sys-palette-inverseOnSurface: var(--md3-ref-palette-neutral-95);
  --md3-sys-palette-inversePrimary: var(--md3-ref-palette-primary-80);
  --md3-sys-palette-scrim: var(--md3-ref-palette-neutral-0);
  --md3-sys-palette-shadow: var(--md3-ref-palette-neutral-0);
  --md3-sys-rounded-none: var(--md3-ref-rounded-0);
  --md3-sys-rounded-standard: var(--md3-ref-rounded-3);
  --md3-sys-rounded-sm: var(--md3-ref-rounded-1);
  --md3-sys-rounded-md: var(--md3-ref-rounded-2);
  --md3-sys-rounded-lg: var(--md3-ref-rounded-3);
  --md3-sys-rounded-xl: var(--md3-ref-rounded-4);
  --md3-sys-rounded-2xl: var(--md3-ref-rounded-7);
  --md3-sys-rounded-full: var(--md3-ref-rounded-full);
  --md3-sys-shade-normal: var(--md3-ref-shade-40);
  --md3-sys-shade-normalVariant: var(--md3-ref-shade-20);
  --md3-sys-shade-container: var(--md3-ref-shade-90);
  --md3-sys-shade-containerVariant: var(--md3-ref-shade-70);
  --md3-sys-shade-on: var(--md3-ref-shade-100);
  --md3-sys-shade-onContainer: var(--md3-ref-shade-10);
  --md3-sys-shade-fixed: var(--md3-ref-shade-90);
  --md3-sys-shade-fixedDim: var(--md3-ref-shade-80);
  --md3-sys-shade-onFixed: var(--md3-ref-shade-10);
  --md3-sys-shade-onFixedVariant: var(--md3-ref-shade-30);
  --md3-sys-shade-dark-normal: var(--md3-ref-shade-80);
  --md3-sys-shade-dark-normalVariant: var(--md3-ref-shade-60);
  --md3-sys-shade-dark-container: var(--md3-ref-shade-30);
  --md3-sys-shade-dark-containerVariant: var(--md3-ref-shade-50);
  --md3-sys-shade-dark-on: var(--md3-ref-shade-20);
  --md3-sys-shade-dark-onContainer: var(--md3-ref-shade-90);
  --md3-sys-shade-dark-fixed: var(--md3-ref-shade-90);
  --md3-sys-shade-dark-fixedDim: var(--md3-ref-shade-80);
  --md3-sys-shade-dark-onFixed: var(--md3-ref-shade-10);
  --md3-sys-shade-dark-onFixedVariant: var(--md3-ref-shade-30);
}