@import "styles/all";

.cc2-main {
  font-family: var(--cc2-ot-typography-fontFamily-base);
  @include fontSize(#{var(--cc2-ot-typography-fontSize-size-scale-100)});
  font-weight: var(--cc2-ot-typography-fontWeight-400);
  @include lineHeight(#{var(--cc2-ot-typography-lineHeight-150)});
  letter-spacing: var(--cc2-ot-typography-tracking-base);
  @include textCase(#{var(--cc2-ot-typography-textCase-none)});
  text-decoration: var(--cc2-ot-typography-textDecoration-none);
  @include paragraphSpacing(#{var(--cc2-ot-typography-paragraphSpacing-size-scale-75)});
  
  @include color(#{var(--cc2-st-content-fg-color-neutral-primary)});
  
  @include backgroundColor(#{var(--cc2-st-content-bg-color-default-solid-normal)});
}