@import "styles/all";

.cc2-dark {
  --cc2-st-content-fg-color-neutral-primary: var(--cc2-ot-light-semantic-color-alpha-white-700);
  --cc2-st-content-fg-color-neutral-secondary: var(--cc2-ot-light-semantic-color-alpha-white-400);
  --cc2-st-content-fg-color-neutral-tetriary: var(--cc2-ot-light-semantic-color-alpha-white-300);
  --cc2-st-content-fg-color-neutral-invert-primary: var(--cc2-ot-light-semantic-color-gray-700);
  --cc2-st-content-fg-color-neutral-invert-secondary: var(--cc2-ot-light-semantic-color-gray-400);
  --cc2-st-content-fg-color-neutral-invert-tetriary: var(--cc2-ot-light-semantic-color-gray-300);
  --cc2-st-content-fg-color-neutral-disable: var(--cc2-ot-light-semantic-color-alpha-white-200);
  --cc2-st-content-fg-color-info-primary: var(--cc2-ot-light-semantic-color-iris-600);
  --cc2-st-content-fg-color-info-secondary: var(--cc2-ot-light-semantic-color-iris-400);
  --cc2-st-content-fg-color-positive-primary: var(--cc2-ot-light-semantic-color-asparagus-600);
  --cc2-st-content-fg-color-positive-secondary: var(--cc2-ot-light-semantic-color-asparagus-400);
  --cc2-st-content-fg-color-warning-primary: var(--cc2-ot-light-semantic-color-goldenrod-600);
  --cc2-st-content-fg-color-warning-secondary: var(--cc2-ot-light-semantic-color-goldenrod-400);
  --cc2-st-content-fg-color-negative-primary: var(--cc2-ot-light-semantic-color-redfish-600);
  --cc2-st-content-fg-color-negative-secondary: var(--cc2-ot-light-semantic-color-redfish-400);
  --cc2-st-content-fg-color-primary-primary: var(--cc2-ot-light-semantic-color-carmine-600);
  --cc2-st-content-fg-color-primary-secondary: var(--cc2-ot-light-semantic-color-carmine-400);
  --cc2-st-content-border-color-default-normal: var(--cc2-ot-dark-semantic-color-gray-60);
  --cc2-st-content-border-color-default-invert: var(--cc2-ot-light-semantic-color-alpha-gray-900);
  --cc2-st-content-border-color-default-alpha: var(--cc2-ot-light-semantic-color-alpha-white-60);
  --cc2-st-content-border-color-neutral-explicit: var(--cc2-ot-dark-semantic-color-gray-300);
  --cc2-st-content-border-color-neutral-implicit: var(--cc2-ot-dark-semantic-color-gray-100);
  --cc2-st-content-border-color-neutral-onsubtle: var(--cc2-ot-dark-semantic-color-gray-60);
  --cc2-st-content-border-color-neutral-disable: var(--cc2-ot-dark-semantic-color-gray-40);
  --cc2-st-content-border-color-info-explicit: var(--cc2-ot-dark-semantic-color-iris-300);
  --cc2-st-content-border-color-info-implicit: var(--cc2-ot-dark-semantic-color-iris-100);
  --cc2-st-content-border-color-info-onsubtle: var(--cc2-ot-dark-semantic-color-iris-60);
  --cc2-st-content-border-color-positive-explicit: var(--cc2-ot-dark-semantic-color-asparagus-300);
  --cc2-st-content-border-color-positive-implicit: var(--cc2-ot-dark-semantic-color-asparagus-100);
  --cc2-st-content-border-color-positive-onsubtle: var(--cc2-ot-dark-semantic-color-asparagus-60);
  --cc2-st-content-border-color-warning-explicit: var(--cc2-ot-dark-semantic-color-goldenrod-300);
  --cc2-st-content-border-color-warning-implicit: var(--cc2-ot-dark-semantic-color-goldenrod-100);
  --cc2-st-content-border-color-warning-onsubtle: var(--cc2-ot-dark-semantic-color-goldenrod-60);
  --cc2-st-content-border-color-negative-explicit: var(--cc2-ot-dark-semantic-color-redfish-300);
  --cc2-st-content-border-color-negative-implicit: var(--cc2-ot-dark-semantic-color-redfish-100);
  --cc2-st-content-border-color-negative-onsubtle: var(--cc2-ot-dark-semantic-color-redfish-60);
  --cc2-st-content-bg-color-default-solid-normal: var(--cc2-ot-light-semantic-color-alpha-gray-1000);
  --cc2-st-content-bg-color-default-solid-invert: var(--cc2-ot-light-semantic-color-alpha-white-900);
  --cc2-st-content-bg-color-default-subtle-normal: var(--cc2-ot-light-semantic-color-alpha-gray-900);
  --cc2-st-content-bg-color-default-subtle-invert: var(--cc2-ot-light-semantic-color-alpha-white-800);
  --cc2-st-content-bg-color-neutral-explicit: var(--cc2-ot-dark-semantic-color-gray-300);
  --cc2-st-content-bg-color-neutral-mute: var(--cc2-ot-dark-semantic-color-gray-80);
  --cc2-st-content-bg-color-neutral-onsubtle: var(--cc2-ot-dark-semantic-color-gray-60);
  --cc2-st-content-bg-color-neutral-subtle: var(--cc2-ot-dark-semantic-color-gray-20);
  --cc2-st-content-bg-color-neutral-surface: var(--cc2-ot-dark-semantic-color-gray-0);
  --cc2-st-content-bg-color-neutral-disable: var(--cc2-ot-light-semantic-color-alpha-white-40);
  --cc2-st-content-bg-color-info-explicit: var(--cc2-ot-light-semantic-color-iris-400);
  --cc2-st-content-bg-color-info-mute: var(--cc2-ot-dark-semantic-color-iris-80);
  --cc2-st-content-bg-color-info-onsubtle: var(--cc2-ot-dark-semantic-color-iris-60);
  --cc2-st-content-bg-color-info-subtle: var(--cc2-ot-dark-semantic-color-iris-20);
  --cc2-st-content-bg-color-info-surface: var(--cc2-ot-dark-semantic-color-iris-0);
  --cc2-st-content-bg-color-positive-explicit: var(--cc2-ot-light-semantic-color-asparagus-400);
  --cc2-st-content-bg-color-positive-mute: var(--cc2-ot-dark-semantic-color-asparagus-80);
  --cc2-st-content-bg-color-positive-onsubtle: var(--cc2-ot-dark-semantic-color-asparagus-60);
  --cc2-st-content-bg-color-positive-subtle: var(--cc2-ot-dark-semantic-color-asparagus-20);
  --cc2-st-content-bg-color-positive-surface: var(--cc2-ot-dark-semantic-color-asparagus-0);
  --cc2-st-content-bg-color-negative-explicit: var(--cc2-ot-light-semantic-color-redfish-400);
  --cc2-st-content-bg-color-negative-mute: var(--cc2-ot-dark-semantic-color-redfish-80);
  --cc2-st-content-bg-color-negative-onsubtle: var(--cc2-ot-dark-semantic-color-redfish-60);
  --cc2-st-content-bg-color-negative-subtle: var(--cc2-ot-dark-semantic-color-redfish-20);
  --cc2-st-content-bg-color-negative-surface: var(--cc2-ot-dark-semantic-color-redfish-0);
  --cc2-st-content-bg-color-warning-explicit: var(--cc2-ot-light-semantic-color-goldenrod-300);
  --cc2-st-content-bg-color-warning-mute: var(--cc2-ot-dark-semantic-color-goldenrod-80);
  --cc2-st-content-bg-color-warning-onsubtle: var(--cc2-ot-dark-semantic-color-goldenrod-60);
  --cc2-st-content-bg-color-warning-subtle: var(--cc2-ot-dark-semantic-color-goldenrod-20);
  --cc2-st-content-bg-color-warning-surface: var(--cc2-ot-dark-semantic-color-goldenrod-0);
  --cc2-st-action-bg-color-primary-solid-normal: var(--cc2-ot-dark-semantic-color-carmine-300);
  --cc2-st-action-bg-color-primary-solid-hover: var(--cc2-ot-dark-semantic-color-carmine-400);
  --cc2-st-action-bg-color-primary-solid-active: var(--cc2-ot-dark-semantic-color-carmine-500);
  --cc2-st-action-bg-color-primary-solid-select: var(--cc2-ot-dark-semantic-color-carmine-400);
  --cc2-st-action-bg-color-primary-subtle-normal: var(--cc2-st-action-bg-color-primary-solid-normal);
  --cc2-st-action-bg-color-primary-subtle-hover: var(--cc2-st-action-bg-color-primary-solid-hover);
  --cc2-st-action-bg-color-primary-subtle-active: var(--cc2-st-action-bg-color-primary-solid-active);
  --cc2-st-action-bg-color-primary-subtle-select: var(--cc2-st-action-bg-color-primary-subtle-hover);
  --cc2-st-action-bg-color-neutral-solid-normal: var(--cc2-ot-light-semantic-color-alpha-white-1000);
  --cc2-st-action-bg-color-neutral-solid-hover: var(--cc2-ot-light-semantic-color-alpha-white-900);
  --cc2-st-action-bg-color-neutral-solid-active: var(--cc2-ot-light-semantic-color-alpha-white-800);
  --cc2-st-action-bg-color-neutral-solid-select: var(--cc2-ot-light-semantic-color-alpha-white-900);
  --cc2-st-action-bg-color-neutral-invert-normal: var(--cc2-ot-light-semantic-color-alpha-gray-1000);
  --cc2-st-action-bg-color-neutral-invert-hover: var(--cc2-ot-light-semantic-color-alpha-gray-900);
  --cc2-st-action-bg-color-neutral-invert-active: var(--cc2-ot-light-semantic-color-alpha-gray-800);
  --cc2-st-action-bg-color-neutral-invert-select: var(--cc2-ot-light-semantic-color-alpha-gray-900);
  --cc2-st-action-bg-color-neutral-subtle-normal: var(--cc2-ot-light-semantic-color-alpha-white-40);
  --cc2-st-action-bg-color-neutral-subtle-hover: var(--cc2-ot-light-semantic-color-alpha-white-60);
  --cc2-st-action-bg-color-neutral-subtle-active: var(--cc2-ot-light-semantic-color-alpha-white-80);
  --cc2-st-action-bg-color-neutral-subtle-select: var(--cc2-st-action-bg-color-neutral-subtle-hover);
  --cc2-st-action-bg-color-neutral-ghost-normal: var(--cc2-ot-light-semantic-color-alpha-white-none);
  --cc2-st-action-bg-color-neutral-ghost-hover: var(--cc2-ot-light-semantic-color-alpha-white-40);
  --cc2-st-action-bg-color-neutral-ghost-active: var(--cc2-ot-light-semantic-color-alpha-white-60);
  --cc2-st-action-bg-color-neutral-ghost-select: var(--cc2-ot-light-semantic-color-alpha-white-40);
  --cc2-st-action-bg-color-neutral-ghost-focus: var(--cc2-ot-light-semantic-color-alpha-white-0);
  --cc2-st-action-bg-color-neutral-ghost-invert-hover: var(--cc2-ot-light-semantic-color-alpha-gray-20);
  --cc2-st-action-bg-color-neutral-ghost-invert-active: var(--cc2-ot-light-semantic-color-alpha-gray-60);
  --cc2-st-action-bg-color-neutral-ghost-invert-select: var(--cc2-ot-light-semantic-color-alpha-gray-20);
  --cc2-st-action-bg-color-neutral-ghost-invert-focus: var(--cc2-ot-light-semantic-color-alpha-gray-0);
  --cc2-st-action-bg-color-positive-normal: var(--cc2-ot-dark-semantic-color-asparagus-300);
  --cc2-st-action-bg-color-positive-hover: var(--cc2-ot-dark-semantic-color-asparagus-400);
  --cc2-st-action-bg-color-positive-active: var(--cc2-ot-dark-semantic-color-asparagus-500);
  --cc2-st-action-bg-color-positive-select: var(--cc2-ot-dark-semantic-color-asparagus-400);
  --cc2-st-action-bg-color-positive-subtle-normal: var(--cc2-st-action-bg-color-positive-normal);
  --cc2-st-action-bg-color-positive-subtle-hover: var(--cc2-st-action-bg-color-positive-hover);
  --cc2-st-action-bg-color-positive-subtle-active: var(--cc2-st-action-bg-color-positive-active);
  --cc2-st-action-bg-color-positive-subtle-select: var(--cc2-st-action-bg-color-positive-subtle-hover);
  --cc2-st-action-bg-color-negative-normal: var(--cc2-ot-dark-semantic-color-redfish-300);
  --cc2-st-action-bg-color-negative-hover: var(--cc2-ot-dark-semantic-color-redfish-400);
  --cc2-st-action-bg-color-negative-active: var(--cc2-ot-dark-semantic-color-redfish-500);
  --cc2-st-action-bg-color-negative-select: var(--cc2-ot-dark-semantic-color-redfish-400);
  --cc2-st-action-bg-color-negative-subtle-normal: var(--cc2-st-action-bg-color-negative-normal);
  --cc2-st-action-bg-color-negative-subtle-hover: var(--cc2-st-action-bg-color-negative-hover);
  --cc2-st-action-bg-color-negative-subtle-active: var(--cc2-st-action-bg-color-negative-active);
  --cc2-st-action-bg-color-negative-subtle-select: var(--cc2-st-action-bg-color-negative-subtle-hover);
  --cc2-st-action-bg-color-informative-normal: var(--cc2-ot-dark-semantic-color-iris-300);
  --cc2-st-action-bg-color-informative-hover: var(--cc2-ot-dark-semantic-color-iris-400);
  --cc2-st-action-bg-color-informative-active: var(--cc2-ot-dark-semantic-color-iris-500);
  --cc2-st-action-bg-color-informative-select: var(--cc2-ot-dark-semantic-color-iris-400);
  --cc2-st-action-bg-color-informative-subtle-normal: var(--cc2-st-action-bg-color-informative-normal);
  --cc2-st-action-bg-color-informative-subtle-hover: var(--cc2-st-action-bg-color-informative-hover);
  --cc2-st-action-bg-color-informative-subtle-active: var(--cc2-st-action-bg-color-informative-active);
  --cc2-st-action-bg-color-informative-subtle-select: var(--cc2-st-action-bg-color-informative-subtle-hover);
  --cc2-st-action-fg-color-neutral-normal: var(--cc2-st-action-bg-color-neutral-solid-normal);
  --cc2-st-action-fg-color-neutral-hover: var(--cc2-st-action-bg-color-neutral-solid-hover);
  --cc2-st-action-fg-color-neutral-active: var(--cc2-st-action-bg-color-neutral-solid-active);
  --cc2-st-action-fg-color-neutral-select: var(--cc2-st-action-bg-color-neutral-solid-select);
  --cc2-st-action-fg-color-invert-normal: var(--cc2-st-action-bg-color-neutral-invert-normal);
  --cc2-st-action-fg-color-invert-hover: var(--cc2-st-action-bg-color-neutral-invert-hover);
  --cc2-st-action-fg-color-invert-active: var(--cc2-st-action-bg-color-neutral-invert-active);
  --cc2-st-action-fg-color-invert-select: var(--cc2-st-action-bg-color-neutral-invert-select);
  --cc2-st-action-fg-color-primary-normal: var(--cc2-ot-dark-semantic-color-carmine-400);
  --cc2-st-action-fg-color-primary-hover: var(--cc2-ot-dark-semantic-color-carmine-500);
  --cc2-st-action-fg-color-primary-active: var(--cc2-ot-dark-semantic-color-carmine-600);
  --cc2-st-action-fg-color-primary-select: var(--cc2-st-action-fg-color-primary-hover);
  --cc2-st-action-fg-color-onprimary-normal: var(--cc2-ot-light-semantic-color-alpha-white-800);
  --cc2-st-action-fg-color-onprimary-hover: var(--cc2-ot-light-semantic-color-alpha-white-900);
  --cc2-st-action-fg-color-onprimary-active: var(--cc2-ot-light-semantic-color-alpha-white-1000);
  --cc2-st-action-fg-color-onprimary-select: var(--cc2-st-action-fg-color-onprimary-hover);
  --cc2-st-action-fg-color-positive-normal: var(--cc2-ot-dark-semantic-color-asparagus-400);
  --cc2-st-action-fg-color-positive-hover: var(--cc2-ot-dark-semantic-color-asparagus-500);
  --cc2-st-action-fg-color-positive-active: var(--cc2-ot-dark-semantic-color-asparagus-600);
  --cc2-st-action-fg-color-positive-select: var(--cc2-st-action-fg-color-positive-hover);
  --cc2-st-action-fg-color-negative-normal: var(--cc2-ot-dark-semantic-color-redfish-400);
  --cc2-st-action-fg-color-negative-hover: var(--cc2-ot-dark-semantic-color-redfish-500);
  --cc2-st-action-fg-color-negative-active: var(--cc2-ot-dark-semantic-color-redfish-600);
  --cc2-st-action-fg-color-negative-select: var(--cc2-st-action-fg-color-negative-hover);
  --cc2-st-action-fg-color-informative-normal: var(--cc2-ot-dark-semantic-color-iris-400);
  --cc2-st-action-fg-color-informative-hover: var(--cc2-ot-dark-semantic-color-iris-500);
  --cc2-st-action-fg-color-informative-active: var(--cc2-ot-dark-semantic-color-iris-600);
  --cc2-st-action-fg-color-informative-select: var(--cc2-st-action-fg-color-informative-hover);
  --cc2-st-action-border-color-neutral-solid-normal: var(--cc2-ot-dark-semantic-color-gray-400);
  --cc2-st-action-border-color-neutral-solid-hover: var(--cc2-ot-dark-semantic-color-gray-500);
  --cc2-st-action-border-color-neutral-solid-active: var(--cc2-ot-dark-semantic-color-gray-600);
  --cc2-st-action-border-color-neutral-solid-select: var(--cc2-ot-dark-semantic-color-gray-500);
  --cc2-st-action-border-color-neutral-subtle-normal: var(--cc2-ot-light-semantic-color-alpha-white-100);
  --cc2-st-action-border-color-neutral-subtle-hover: var(--cc2-ot-light-semantic-color-alpha-white-200);
  --cc2-st-action-border-color-neutral-subtle-active: var(--cc2-ot-light-semantic-color-alpha-white-300);
  --cc2-st-action-border-color-neutral-subtle-select: var(--cc2-ot-light-semantic-color-alpha-white-200);
  --cc2-st-interaction-bg-color-ghost-normal: var(--cc2-ot-light-semantic-color-alpha-white-none);
  --cc2-st-interaction-bg-color-ghost-hover: var(--cc2-ot-light-semantic-color-alpha-white-20);
  --cc2-st-interaction-bg-color-ghost-focus: var(--cc2-ot-light-semantic-color-alpha-white-0);
  --cc2-st-interaction-border-color-neutral-normal: var(--cc2-ot-dark-semantic-color-gray-100);
  --cc2-st-interaction-border-color-neutral-hover: var(--cc2-ot-dark-semantic-color-gray-200);
  --cc2-st-interaction-border-color-neutral-select: var(--cc2-ot-dark-semantic-color-gray-200);
  --cc2-st-interaction-border-color-negative-normal: var(--cc2-ot-dark-semantic-color-redfish-300);
  --cc2-st-asemantic-fg-color-pistachio-primary: var(--cc2-ot-dark-asemantic-color-pistachio-600);
  --cc2-st-asemantic-fg-color-pistachio-secondary: var(--cc2-ot-dark-asemantic-color-pistachio-400);
  --cc2-st-asemantic-fg-color-mint-primary: var(--cc2-ot-dark-asemantic-color-mint-600);
  --cc2-st-asemantic-fg-color-mint-secondary: var(--cc2-ot-dark-asemantic-color-mint-400);
  --cc2-st-asemantic-fg-color-jade-primary: var(--cc2-ot-dark-asemantic-color-jade-600);
  --cc2-st-asemantic-fg-color-jade-secondary: var(--cc2-ot-dark-asemantic-color-jade-400);
  --cc2-st-asemantic-fg-color-teal-primary: var(--cc2-ot-dark-asemantic-color-teal-600);
  --cc2-st-asemantic-fg-color-teal-secondary: var(--cc2-ot-dark-asemantic-color-teal-400);
  --cc2-st-asemantic-fg-color-celestial-primary: var(--cc2-ot-dark-asemantic-color-celestial-600);
  --cc2-st-asemantic-fg-color-celestial-secondary: var(--cc2-ot-dark-asemantic-color-celestial-400);
  --cc2-st-asemantic-fg-color-indigo-primary: var(--cc2-ot-dark-asemantic-color-indigo-600);
  --cc2-st-asemantic-fg-color-indigo-secondary: var(--cc2-ot-dark-asemantic-color-indigo-400);
  --cc2-st-asemantic-fg-color-orchid-primary: var(--cc2-ot-dark-asemantic-color-orchid-600);
  --cc2-st-asemantic-fg-color-orchid-secondary: var(--cc2-ot-dark-asemantic-color-orchid-400);
  --cc2-st-asemantic-fg-color-cerise-primary: var(--cc2-ot-dark-asemantic-color-cerise-600);
  --cc2-st-asemantic-fg-color-cerise-secondary: var(--cc2-ot-dark-asemantic-color-cerise-400);
  --cc2-st-asemantic-border-color-pistachio-explicit: var(--cc2-ot-dark-asemantic-color-pistachio-300);
  --cc2-st-asemantic-border-color-pistachio-implicit: var(--cc2-ot-dark-asemantic-color-pistachio-100);
  --cc2-st-asemantic-border-color-pistachio-onsubtle: var(--cc2-ot-dark-asemantic-color-pistachio-60);
  --cc2-st-asemantic-border-color-mint-explicit: var(--cc2-ot-dark-asemantic-color-mint-300);
  --cc2-st-asemantic-border-color-mint-implicit: var(--cc2-ot-dark-asemantic-color-mint-100);
  --cc2-st-asemantic-border-color-mint-onsubtle: var(--cc2-ot-dark-asemantic-color-mint-60);
  --cc2-st-asemantic-border-color-jade-explicit: var(--cc2-ot-dark-asemantic-color-jade-300);
  --cc2-st-asemantic-border-color-jade-implicit: var(--cc2-ot-dark-asemantic-color-jade-100);
  --cc2-st-asemantic-border-color-jade-onsubtle: var(--cc2-ot-dark-asemantic-color-jade-60);
  --cc2-st-asemantic-border-color-teal-explicit: var(--cc2-ot-dark-asemantic-color-teal-300);
  --cc2-st-asemantic-border-color-teal-implicit: var(--cc2-ot-dark-asemantic-color-teal-100);
  --cc2-st-asemantic-border-color-teal-onsubtle: var(--cc2-ot-dark-asemantic-color-teal-60);
  --cc2-st-asemantic-border-color-celestial-explicit: var(--cc2-ot-dark-asemantic-color-celestial-300);
  --cc2-st-asemantic-border-color-celestial-implicit: var(--cc2-ot-dark-asemantic-color-celestial-100);
  --cc2-st-asemantic-border-color-celestial-onsubtle: var(--cc2-ot-dark-asemantic-color-celestial-60);
  --cc2-st-asemantic-border-color-indigo-explicit: var(--cc2-ot-dark-asemantic-color-indigo-300);
  --cc2-st-asemantic-border-color-indigo-implicit: var(--cc2-ot-dark-asemantic-color-indigo-100);
  --cc2-st-asemantic-border-color-indigo-onsubtle: var(--cc2-ot-dark-asemantic-color-indigo-60);
  --cc2-st-asemantic-border-color-orchid-explicit: var(--cc2-ot-dark-asemantic-color-orchid-300);
  --cc2-st-asemantic-border-color-orchid-implicit: var(--cc2-ot-dark-asemantic-color-orchid-100);
  --cc2-st-asemantic-border-color-orchid-onsubtle: var(--cc2-ot-dark-asemantic-color-orchid-60);
  --cc2-st-asemantic-border-color-cerise-explicit: var(--cc2-ot-dark-asemantic-color-cerise-300);
  --cc2-st-asemantic-border-color-cerise-implicit: var(--cc2-ot-dark-asemantic-color-cerise-100);
  --cc2-st-asemantic-border-color-cerise-onsubtle: var(--cc2-ot-dark-asemantic-color-cerise-60);
  --cc2-st-asemantic-bg-color-pistachio-explicit: var(--cc2-ot-dark-asemantic-color-pistachio-300);
  --cc2-st-asemantic-bg-color-pistachio-mute: var(--cc2-ot-dark-asemantic-color-pistachio-80);
  --cc2-st-asemantic-bg-color-pistachio-onsubtle: var(--cc2-ot-dark-asemantic-color-pistachio-60);
  --cc2-st-asemantic-bg-color-pistachio-subtile: var(--cc2-ot-dark-asemantic-color-pistachio-20);
  --cc2-st-asemantic-bg-color-pistachio-surface: var(--cc2-ot-dark-asemantic-color-pistachio-0);
  --cc2-st-asemantic-bg-color-mint-explicit: var(--cc2-ot-dark-asemantic-color-mint-300);
  --cc2-st-asemantic-bg-color-mint-mute: var(--cc2-ot-dark-asemantic-color-mint-80);
  --cc2-st-asemantic-bg-color-mint-onsubtle: var(--cc2-ot-dark-asemantic-color-mint-60);
  --cc2-st-asemantic-bg-color-mint-subtile: var(--cc2-ot-dark-asemantic-color-mint-20);
  --cc2-st-asemantic-bg-color-mint-surface: var(--cc2-ot-dark-asemantic-color-mint-0);
  --cc2-st-asemantic-bg-color-jade-explicit: var(--cc2-ot-dark-asemantic-color-jade-300);
  --cc2-st-asemantic-bg-color-jade-mute: var(--cc2-ot-dark-asemantic-color-jade-80);
  --cc2-st-asemantic-bg-color-jade-onsubtle: var(--cc2-ot-dark-asemantic-color-jade-60);
  --cc2-st-asemantic-bg-color-jade-subtile: var(--cc2-ot-dark-asemantic-color-jade-20);
  --cc2-st-asemantic-bg-color-jade-surface: var(--cc2-ot-dark-asemantic-color-jade-0);
  --cc2-st-asemantic-bg-color-teal-explicit: var(--cc2-ot-dark-asemantic-color-teal-300);
  --cc2-st-asemantic-bg-color-teal-mute: var(--cc2-ot-dark-asemantic-color-teal-80);
  --cc2-st-asemantic-bg-color-teal-onsubtle: var(--cc2-ot-dark-asemantic-color-teal-60);
  --cc2-st-asemantic-bg-color-teal-subtile: var(--cc2-ot-dark-asemantic-color-teal-20);
  --cc2-st-asemantic-bg-color-teal-surface: var(--cc2-ot-dark-asemantic-color-teal-0);
  --cc2-st-asemantic-bg-color-celestial-explicit: var(--cc2-ot-dark-asemantic-color-celestial-300);
  --cc2-st-asemantic-bg-color-celestial-mute: var(--cc2-ot-dark-asemantic-color-celestial-80);
  --cc2-st-asemantic-bg-color-celestial-onsubtle: var(--cc2-ot-dark-asemantic-color-celestial-60);
  --cc2-st-asemantic-bg-color-celestial-subtile: var(--cc2-ot-dark-asemantic-color-celestial-20);
  --cc2-st-asemantic-bg-color-celestial-surface: var(--cc2-ot-dark-asemantic-color-celestial-0);
  --cc2-st-asemantic-bg-color-indigo-explicit: var(--cc2-ot-dark-asemantic-color-indigo-300);
  --cc2-st-asemantic-bg-color-indigo-mute: var(--cc2-ot-dark-asemantic-color-indigo-80);
  --cc2-st-asemantic-bg-color-indigo-onsubtle: var(--cc2-ot-dark-asemantic-color-indigo-60);
  --cc2-st-asemantic-bg-color-indigo-subtile: var(--cc2-ot-dark-asemantic-color-indigo-20);
  --cc2-st-asemantic-bg-color-indigo-surface: var(--cc2-ot-dark-asemantic-color-indigo-0);
  --cc2-st-asemantic-bg-color-orchid-explicit: var(--cc2-ot-dark-asemantic-color-orchid-300);
  --cc2-st-asemantic-bg-color-orchid-mute: var(--cc2-ot-dark-asemantic-color-orchid-80);
  --cc2-st-asemantic-bg-color-orchid-onsubtle: var(--cc2-ot-dark-asemantic-color-orchid-60);
  --cc2-st-asemantic-bg-color-orchid-subtile: var(--cc2-ot-dark-asemantic-color-orchid-20);
  --cc2-st-asemantic-bg-color-orchid-surface: var(--cc2-ot-dark-asemantic-color-orchid-0);
  --cc2-st-asemantic-bg-color-cerise-explicit: var(--cc2-ot-dark-asemantic-color-cerise-300);
  --cc2-st-asemantic-bg-color-cerise-mute: var(--cc2-ot-dark-asemantic-color-cerise-80);
  --cc2-st-asemantic-bg-color-cerise-onsubtle: var(--cc2-ot-dark-asemantic-color-cerise-60);
  --cc2-st-asemantic-bg-color-cerise-subtile: var(--cc2-ot-dark-asemantic-color-cerise-20);
  --cc2-st-asemantic-bg-color-cerise-surface: var(--cc2-ot-dark-asemantic-color-cerise-0);
  
  & .cc2-palette {
    &--carmine {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-carmine-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-carmine-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-carmine-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-carmine-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-carmine-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-carmine-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-carmine-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-carmine-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-carmine-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-carmine-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-carmine-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-carmine-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-carmine-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-carmine-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-carmine-300);
    }
    
    &--iris {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-iris-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-iris-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-iris-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-iris-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-iris-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-iris-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-iris-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-iris-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-iris-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-iris-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-iris-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-iris-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-iris-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-iris-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-iris-300);
    }
    
    &--redfish {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-redfish-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-redfish-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-redfish-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-redfish-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-redfish-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-redfish-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-redfish-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-redfish-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-redfish-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-redfish-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-redfish-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-redfish-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-redfish-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-redfish-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-redfish-300);
    }
    
    &--goldenrod {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-goldenrod-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-goldenrod-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-goldenrod-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-goldenrod-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-goldenrod-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-goldenrod-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-goldenrod-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-goldenrod-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-goldenrod-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-goldenrod-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-goldenrod-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-goldenrod-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-goldenrod-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-goldenrod-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-goldenrod-300);
    }
    
    &--asparagus {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-asparagus-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-asparagus-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-asparagus-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-asparagus-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-asparagus-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-asparagus-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-asparagus-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-asparagus-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-asparagus-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-asparagus-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-asparagus-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-asparagus-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-asparagus-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-asparagus-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-asparagus-300);
    }
    
    &--slate {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-slate-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-slate-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-slate-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-slate-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-slate-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-slate-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-slate-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-slate-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-slate-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-slate-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-slate-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-slate-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-slate-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-slate-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-slate-300);
    }
    
    &--gray {
      --cc2-palette-dark-0: var(--cc2-ot-dark-semantic-color-gray-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-semantic-color-gray-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-semantic-color-gray-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-semantic-color-gray-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-semantic-color-gray-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-semantic-color-gray-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-semantic-color-gray-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-semantic-color-gray-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-semantic-color-gray-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-semantic-color-gray-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-semantic-color-gray-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-semantic-color-gray-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-semantic-color-gray-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-semantic-color-gray-900);
      --sys-palette: var(--cc2-ot-dark-semantic-color-gray-300);
    }
    
    &--pistachio {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-pistachio-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-pistachio-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-pistachio-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-pistachio-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-pistachio-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-pistachio-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-pistachio-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-pistachio-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-pistachio-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-pistachio-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-pistachio-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-pistachio-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-pistachio-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-pistachio-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-pistachio-300);
    }
    
    &--mint {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-mint-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-mint-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-mint-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-mint-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-mint-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-mint-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-mint-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-mint-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-mint-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-mint-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-mint-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-mint-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-mint-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-mint-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-mint-300);
    }
    
    &--jade {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-jade-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-jade-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-jade-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-jade-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-jade-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-jade-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-jade-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-jade-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-jade-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-jade-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-jade-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-jade-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-jade-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-jade-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-jade-300);
    }
    
    &--teal {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-teal-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-teal-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-teal-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-teal-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-teal-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-teal-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-teal-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-teal-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-teal-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-teal-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-teal-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-teal-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-teal-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-teal-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-teal-300);
    }
    
    &--celestial {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-celestial-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-celestial-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-celestial-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-celestial-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-celestial-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-celestial-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-celestial-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-celestial-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-celestial-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-celestial-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-celestial-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-celestial-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-celestial-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-celestial-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-celestial-300);
    }
    
    &--indigo {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-indigo-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-indigo-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-indigo-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-indigo-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-indigo-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-indigo-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-indigo-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-indigo-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-indigo-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-indigo-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-indigo-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-indigo-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-indigo-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-indigo-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-indigo-300);
    }
    
    &--orchid {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-orchid-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-orchid-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-orchid-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-orchid-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-orchid-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-orchid-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-orchid-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-orchid-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-orchid-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-orchid-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-orchid-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-orchid-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-orchid-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-orchid-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-orchid-300);
    }
    
    &--cerise {
      --cc2-palette-dark-0: var(--cc2-ot-dark-asemantic-color-cerise-0);
      --cc2-palette-dark-20: var(--cc2-ot-dark-asemantic-color-cerise-20);
      --cc2-palette-dark-40: var(--cc2-ot-dark-asemantic-color-cerise-40);
      --cc2-palette-dark-60: var(--cc2-ot-dark-asemantic-color-cerise-60);
      --cc2-palette-dark-80: var(--cc2-ot-dark-asemantic-color-cerise-80);
      --cc2-palette-dark-100: var(--cc2-ot-dark-asemantic-color-cerise-100);
      --cc2-palette-dark-200: var(--cc2-ot-dark-asemantic-color-cerise-200);
      --cc2-palette-dark-300: var(--cc2-ot-dark-asemantic-color-cerise-300);
      --cc2-palette-dark-400: var(--cc2-ot-dark-asemantic-color-cerise-400);
      --cc2-palette-dark-500: var(--cc2-ot-dark-asemantic-color-cerise-500);
      --cc2-palette-dark-600: var(--cc2-ot-dark-asemantic-color-cerise-600);
      --cc2-palette-dark-700: var(--cc2-ot-dark-asemantic-color-cerise-700);
      --cc2-palette-dark-800: var(--cc2-ot-dark-asemantic-color-cerise-800);
      --cc2-palette-dark-900: var(--cc2-ot-dark-asemantic-color-cerise-900);
      --sys-palette: var(--cc2-ot-dark-asemantic-color-cerise-300);
    }
  }
}