@import "styles/all";

.md3-dark {
  --md3-ref-background-0: rgb(var(--md3-sys-palette-surface));
  --md3-ref-background-1: rgb(var(--md3-sys-palette-surfaceContainerLow));
  --md3-ref-background-2: rgb(var(--md3-sys-palette-surfaceContainer));
  --md3-ref-background-3: rgb(var(--md3-sys-palette-surfaceContainerHigh));
  --md3-ref-background-4: rgb(var(--md3-sys-palette-surfaceContainerHigh));
  --md3-ref-background-5: rgb(var(--md3-sys-palette-surfaceContainerHighest));
  --md3-ref-shadow-0: none;
  --md3-ref-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.30);
  --md3-ref-shadow-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  --md3-sys-palette-primary: var(--md3-ref-palette-primary-80);
  --md3-sys-palette-primaryVariant: var(--md3-ref-palette-primary-60);
  --md3-sys-palette-primaryContainer: var(--md3-ref-palette-primary-30);
  --md3-sys-palette-primaryContainerVariant: var(--md3-ref-palette-primary-50);
  --md3-sys-palette-primaryFixed: var(--md3-ref-palette-primary-90);
  --md3-sys-palette-primaryFixedDim: var(--md3-ref-palette-primary-80);
  --md3-sys-palette-secondary: var(--md3-ref-palette-secondary-80);
  --md3-sys-palette-secondaryVariant: var(--md3-ref-palette-secondary-60);
  --md3-sys-palette-secondaryContainer: var(--md3-ref-palette-secondary-30);
  --md3-sys-palette-secondaryContainerVariant: var(--md3-ref-palette-secondary-50);
  --md3-sys-palette-secondaryFixed: var(--md3-ref-palette-secondary-90);
  --md3-sys-palette-secondaryFixedDim: var(--md3-ref-palette-secondary-80);
  --md3-sys-palette-tertiary: var(--md3-ref-palette-tertiary-80);
  --md3-sys-palette-tertiaryVariant: var(--md3-ref-palette-tertiary-60);
  --md3-sys-palette-tertiaryContainer: var(--md3-ref-palette-tertiary-30);
  --md3-sys-palette-tertiaryContainerVariant: var(--md3-ref-palette-tertiary-50);
  --md3-sys-palette-tertiaryFixed: var(--md3-ref-palette-tertiary-90);
  --md3-sys-palette-tertiaryFixedDim: var(--md3-ref-palette-tertiary-80);
  --md3-sys-palette-error: var(--md3-ref-palette-error-80);
  --md3-sys-palette-errorVariant: var(--md3-ref-palette-error-60);
  --md3-sys-palette-errorContainer: var(--md3-ref-palette-error-30);
  --md3-sys-palette-errorContainerVariant: var(--md3-ref-palette-error-50);
  --md3-sys-palette-surfaceDim: var(--md3-ref-palette-neutral-6);
  --md3-sys-palette-surface: var(--md3-ref-palette-neutral-6);
  --md3-sys-palette-surfaceBright: var(--md3-ref-palette-neutral-24);
  --md3-sys-palette-surfaceContainerLowest: var(--md3-ref-palette-neutral-4);
  --md3-sys-palette-surfaceContainerLow: var(--md3-ref-palette-neutral-10);
  --md3-sys-palette-surfaceContainer: var(--md3-ref-palette-neutral-12);
  --md3-sys-palette-surfaceContainerHigh: var(--md3-ref-palette-neutral-17);
  --md3-sys-palette-surfaceContainerHighest: var(--md3-ref-palette-neutral-22);
  --md3-sys-palette-onPrimary: var(--md3-ref-palette-primary-20);
  --md3-sys-palette-onPrimaryContainer: var(--md3-ref-palette-primary-90);
  --md3-sys-palette-onPrimaryFixed: var(--md3-ref-palette-primary-10);
  --md3-sys-palette-onPrimaryFixedVariant: var(--md3-ref-palette-primary-30);
  --md3-sys-palette-onSecondary: var(--md3-ref-palette-secondary-20);
  --md3-sys-palette-onSecondaryContainer: var(--md3-ref-palette-secondary-90);
  --md3-sys-palette-onSecondaryFixed: var(--md3-ref-palette-secondary-10);
  --md3-sys-palette-onSecondaryFixedVariant: var(--md3-ref-palette-secondary-30);
  --md3-sys-palette-onTertiary: var(--md3-ref-palette-tertiary-20);
  --md3-sys-palette-onTertiaryContainer: var(--md3-ref-palette-tertiary-90);
  --md3-sys-palette-onTertiaryFixed: var(--md3-ref-palette-tertiary-10);
  --md3-sys-palette-onTertiaryFixedVariant: var(--md3-ref-palette-tertiary-30);
  --md3-sys-palette-onError: var(--md3-ref-palette-error-20);
  --md3-sys-palette-onErrorContainer: var(--md3-ref-palette-error-90);
  --md3-sys-palette-onSurface: var(--md3-ref-palette-neutral-90);
  --md3-sys-palette-onSurfaceVariant: var(--md3-ref-palette-neutralVariant-80);
  --md3-sys-palette-outline: var(--md3-ref-palette-neutralVariant-60);
  --md3-sys-palette-outlineVariant: var(--md3-ref-palette-neutralVariant-30);
  --md3-sys-palette-inverseSurface: var(--md3-ref-palette-neutral-90);
  --md3-sys-palette-inverseOnSurface: var(--md3-ref-palette-neutral-20);
  --md3-sys-palette-inversePrimary: var(--md3-ref-palette-primary-40);
  --md3-sys-palette-scrim: var(--md3-ref-palette-neutral-0);
  --md3-sys-palette-shadow: var(--md3-ref-palette-neutral-0);
  
  & .md3-palette {
    &--red {
      --md3-palette-dark-50: var(--md2-ref-palette-red-50);
      --md3-palette-dark-100: var(--md2-ref-palette-red-100);
      --md3-palette-dark-200: var(--md2-ref-palette-red-200);
      --md3-palette-dark-300: var(--md2-ref-palette-red-300);
      --md3-palette-dark-400: var(--md2-ref-palette-red-400);
      --md3-palette-dark-500: var(--md2-ref-palette-red-500);
      --md3-palette-dark-600: var(--md2-ref-palette-red-600);
      --md3-palette-dark-700: var(--md2-ref-palette-red-700);
      --md3-palette-dark-800: var(--md2-ref-palette-red-800);
      --md3-palette-dark-900: var(--md2-ref-palette-red-900);
      --sys-palette: var(--md2-ref-palette-red-500);
    }
    
    &--pink {
      --md3-palette-dark-50: var(--md2-ref-palette-pink-50);
      --md3-palette-dark-100: var(--md2-ref-palette-pink-100);
      --md3-palette-dark-200: var(--md2-ref-palette-pink-200);
      --md3-palette-dark-300: var(--md2-ref-palette-pink-300);
      --md3-palette-dark-400: var(--md2-ref-palette-pink-400);
      --md3-palette-dark-500: var(--md2-ref-palette-pink-500);
      --md3-palette-dark-600: var(--md2-ref-palette-pink-600);
      --md3-palette-dark-700: var(--md2-ref-palette-pink-700);
      --md3-palette-dark-800: var(--md2-ref-palette-pink-800);
      --md3-palette-dark-900: var(--md2-ref-palette-pink-900);
      --sys-palette: var(--md2-ref-palette-pink-500);
    }
    
    &--purple {
      --md3-palette-dark-50: var(--md2-ref-palette-purple-50);
      --md3-palette-dark-100: var(--md2-ref-palette-purple-100);
      --md3-palette-dark-200: var(--md2-ref-palette-purple-200);
      --md3-palette-dark-300: var(--md2-ref-palette-purple-300);
      --md3-palette-dark-400: var(--md2-ref-palette-purple-400);
      --md3-palette-dark-500: var(--md2-ref-palette-purple-500);
      --md3-palette-dark-600: var(--md2-ref-palette-purple-600);
      --md3-palette-dark-700: var(--md2-ref-palette-purple-700);
      --md3-palette-dark-800: var(--md2-ref-palette-purple-800);
      --md3-palette-dark-900: var(--md2-ref-palette-purple-900);
      --sys-palette: var(--md2-ref-palette-purple-500);
    }
    
    &--deepPurple {
      --md3-palette-dark-50: var(--md2-ref-palette-deepPurple-50);
      --md3-palette-dark-100: var(--md2-ref-palette-deepPurple-100);
      --md3-palette-dark-200: var(--md2-ref-palette-deepPurple-200);
      --md3-palette-dark-300: var(--md2-ref-palette-deepPurple-300);
      --md3-palette-dark-400: var(--md2-ref-palette-deepPurple-400);
      --md3-palette-dark-500: var(--md2-ref-palette-deepPurple-500);
      --md3-palette-dark-600: var(--md2-ref-palette-deepPurple-600);
      --md3-palette-dark-700: var(--md2-ref-palette-deepPurple-700);
      --md3-palette-dark-800: var(--md2-ref-palette-deepPurple-800);
      --md3-palette-dark-900: var(--md2-ref-palette-deepPurple-900);
      --sys-palette: var(--md2-ref-palette-deepPurple-500);
    }
    
    &--indigo {
      --md3-palette-dark-50: var(--md2-ref-palette-indigo-50);
      --md3-palette-dark-100: var(--md2-ref-palette-indigo-100);
      --md3-palette-dark-200: var(--md2-ref-palette-indigo-200);
      --md3-palette-dark-300: var(--md2-ref-palette-indigo-300);
      --md3-palette-dark-400: var(--md2-ref-palette-indigo-400);
      --md3-palette-dark-500: var(--md2-ref-palette-indigo-500);
      --md3-palette-dark-600: var(--md2-ref-palette-indigo-600);
      --md3-palette-dark-700: var(--md2-ref-palette-indigo-700);
      --md3-palette-dark-800: var(--md2-ref-palette-indigo-800);
      --md3-palette-dark-900: var(--md2-ref-palette-indigo-900);
      --sys-palette: var(--md2-ref-palette-indigo-500);
    }
    
    &--blue {
      --md3-palette-dark-50: var(--md2-ref-palette-blue-50);
      --md3-palette-dark-100: var(--md2-ref-palette-blue-100);
      --md3-palette-dark-200: var(--md2-ref-palette-blue-200);
      --md3-palette-dark-300: var(--md2-ref-palette-blue-300);
      --md3-palette-dark-400: var(--md2-ref-palette-blue-400);
      --md3-palette-dark-500: var(--md2-ref-palette-blue-500);
      --md3-palette-dark-600: var(--md2-ref-palette-blue-600);
      --md3-palette-dark-700: var(--md2-ref-palette-blue-700);
      --md3-palette-dark-800: var(--md2-ref-palette-blue-800);
      --md3-palette-dark-900: var(--md2-ref-palette-blue-900);
      --sys-palette: var(--md2-ref-palette-blue-500);
    }
    
    &--lightBlue {
      --md3-palette-dark-50: var(--md2-ref-palette-lightBlue-50);
      --md3-palette-dark-100: var(--md2-ref-palette-lightBlue-100);
      --md3-palette-dark-200: var(--md2-ref-palette-lightBlue-200);
      --md3-palette-dark-300: var(--md2-ref-palette-lightBlue-300);
      --md3-palette-dark-400: var(--md2-ref-palette-lightBlue-400);
      --md3-palette-dark-500: var(--md2-ref-palette-lightBlue-500);
      --md3-palette-dark-600: var(--md2-ref-palette-lightBlue-600);
      --md3-palette-dark-700: var(--md2-ref-palette-lightBlue-700);
      --md3-palette-dark-800: var(--md2-ref-palette-lightBlue-800);
      --md3-palette-dark-900: var(--md2-ref-palette-lightBlue-900);
      --sys-palette: var(--md2-ref-palette-lightBlue-500);
    }
    
    &--cyan {
      --md3-palette-dark-50: var(--md2-ref-palette-cyan-50);
      --md3-palette-dark-100: var(--md2-ref-palette-cyan-100);
      --md3-palette-dark-200: var(--md2-ref-palette-cyan-200);
      --md3-palette-dark-300: var(--md2-ref-palette-cyan-300);
      --md3-palette-dark-400: var(--md2-ref-palette-cyan-400);
      --md3-palette-dark-500: var(--md2-ref-palette-cyan-500);
      --md3-palette-dark-600: var(--md2-ref-palette-cyan-600);
      --md3-palette-dark-700: var(--md2-ref-palette-cyan-700);
      --md3-palette-dark-800: var(--md2-ref-palette-cyan-800);
      --md3-palette-dark-900: var(--md2-ref-palette-cyan-900);
      --sys-palette: var(--md2-ref-palette-cyan-500);
    }
    
    &--teal {
      --md3-palette-dark-50: var(--md2-ref-palette-teal-50);
      --md3-palette-dark-100: var(--md2-ref-palette-teal-100);
      --md3-palette-dark-200: var(--md2-ref-palette-teal-200);
      --md3-palette-dark-300: var(--md2-ref-palette-teal-300);
      --md3-palette-dark-400: var(--md2-ref-palette-teal-400);
      --md3-palette-dark-500: var(--md2-ref-palette-teal-500);
      --md3-palette-dark-600: var(--md2-ref-palette-teal-600);
      --md3-palette-dark-700: var(--md2-ref-palette-teal-700);
      --md3-palette-dark-800: var(--md2-ref-palette-teal-800);
      --md3-palette-dark-900: var(--md2-ref-palette-teal-900);
      --sys-palette: var(--md2-ref-palette-teal-500);
    }
    
    &--green {
      --md3-palette-dark-50: var(--md2-ref-palette-green-50);
      --md3-palette-dark-100: var(--md2-ref-palette-green-100);
      --md3-palette-dark-200: var(--md2-ref-palette-green-200);
      --md3-palette-dark-300: var(--md2-ref-palette-green-300);
      --md3-palette-dark-400: var(--md2-ref-palette-green-400);
      --md3-palette-dark-500: var(--md2-ref-palette-green-500);
      --md3-palette-dark-600: var(--md2-ref-palette-green-600);
      --md3-palette-dark-700: var(--md2-ref-palette-green-700);
      --md3-palette-dark-800: var(--md2-ref-palette-green-800);
      --md3-palette-dark-900: var(--md2-ref-palette-green-900);
      --sys-palette: var(--md2-ref-palette-green-500);
    }
    
    &--lightGreen {
      --md3-palette-dark-50: var(--md2-ref-palette-lightGreen-50);
      --md3-palette-dark-100: var(--md2-ref-palette-lightGreen-100);
      --md3-palette-dark-200: var(--md2-ref-palette-lightGreen-200);
      --md3-palette-dark-300: var(--md2-ref-palette-lightGreen-300);
      --md3-palette-dark-400: var(--md2-ref-palette-lightGreen-400);
      --md3-palette-dark-500: var(--md2-ref-palette-lightGreen-500);
      --md3-palette-dark-600: var(--md2-ref-palette-lightGreen-600);
      --md3-palette-dark-700: var(--md2-ref-palette-lightGreen-700);
      --md3-palette-dark-800: var(--md2-ref-palette-lightGreen-800);
      --md3-palette-dark-900: var(--md2-ref-palette-lightGreen-900);
      --sys-palette: var(--md2-ref-palette-lightGreen-500);
    }
    
    &--lime {
      --md3-palette-dark-50: var(--md2-ref-palette-lime-50);
      --md3-palette-dark-100: var(--md2-ref-palette-lime-100);
      --md3-palette-dark-200: var(--md2-ref-palette-lime-200);
      --md3-palette-dark-300: var(--md2-ref-palette-lime-300);
      --md3-palette-dark-400: var(--md2-ref-palette-lime-400);
      --md3-palette-dark-500: var(--md2-ref-palette-lime-500);
      --md3-palette-dark-600: var(--md2-ref-palette-lime-600);
      --md3-palette-dark-700: var(--md2-ref-palette-lime-700);
      --md3-palette-dark-800: var(--md2-ref-palette-lime-800);
      --md3-palette-dark-900: var(--md2-ref-palette-lime-900);
      --sys-palette: var(--md2-ref-palette-lime-500);
    }
    
    &--yellow {
      --md3-palette-dark-50: var(--md2-ref-palette-yellow-50);
      --md3-palette-dark-100: var(--md2-ref-palette-yellow-100);
      --md3-palette-dark-200: var(--md2-ref-palette-yellow-200);
      --md3-palette-dark-300: var(--md2-ref-palette-yellow-300);
      --md3-palette-dark-400: var(--md2-ref-palette-yellow-400);
      --md3-palette-dark-500: var(--md2-ref-palette-yellow-500);
      --md3-palette-dark-600: var(--md2-ref-palette-yellow-600);
      --md3-palette-dark-700: var(--md2-ref-palette-yellow-700);
      --md3-palette-dark-800: var(--md2-ref-palette-yellow-800);
      --md3-palette-dark-900: var(--md2-ref-palette-yellow-900);
      --sys-palette: var(--md2-ref-palette-yellow-500);
    }
    
    &--amber {
      --md3-palette-dark-50: var(--md2-ref-palette-amber-50);
      --md3-palette-dark-100: var(--md2-ref-palette-amber-100);
      --md3-palette-dark-200: var(--md2-ref-palette-amber-200);
      --md3-palette-dark-300: var(--md2-ref-palette-amber-300);
      --md3-palette-dark-400: var(--md2-ref-palette-amber-400);
      --md3-palette-dark-500: var(--md2-ref-palette-amber-500);
      --md3-palette-dark-600: var(--md2-ref-palette-amber-600);
      --md3-palette-dark-700: var(--md2-ref-palette-amber-700);
      --md3-palette-dark-800: var(--md2-ref-palette-amber-800);
      --md3-palette-dark-900: var(--md2-ref-palette-amber-900);
      --sys-palette: var(--md2-ref-palette-amber-500);
    }
    
    &--orange {
      --md3-palette-dark-50: var(--md2-ref-palette-orange-50);
      --md3-palette-dark-100: var(--md2-ref-palette-orange-100);
      --md3-palette-dark-200: var(--md2-ref-palette-orange-200);
      --md3-palette-dark-300: var(--md2-ref-palette-orange-300);
      --md3-palette-dark-400: var(--md2-ref-palette-orange-400);
      --md3-palette-dark-500: var(--md2-ref-palette-orange-500);
      --md3-palette-dark-600: var(--md2-ref-palette-orange-600);
      --md3-palette-dark-700: var(--md2-ref-palette-orange-700);
      --md3-palette-dark-800: var(--md2-ref-palette-orange-800);
      --md3-palette-dark-900: var(--md2-ref-palette-orange-900);
      --sys-palette: var(--md2-ref-palette-orange-500);
    }
    
    &--deepOrange {
      --md3-palette-dark-50: var(--md2-ref-palette-deepOrange-50);
      --md3-palette-dark-100: var(--md2-ref-palette-deepOrange-100);
      --md3-palette-dark-200: var(--md2-ref-palette-deepOrange-200);
      --md3-palette-dark-300: var(--md2-ref-palette-deepOrange-300);
      --md3-palette-dark-400: var(--md2-ref-palette-deepOrange-400);
      --md3-palette-dark-500: var(--md2-ref-palette-deepOrange-500);
      --md3-palette-dark-600: var(--md2-ref-palette-deepOrange-600);
      --md3-palette-dark-700: var(--md2-ref-palette-deepOrange-700);
      --md3-palette-dark-800: var(--md2-ref-palette-deepOrange-800);
      --md3-palette-dark-900: var(--md2-ref-palette-deepOrange-900);
      --sys-palette: var(--md2-ref-palette-deepOrange-500);
    }
    
    &--brown {
      --md3-palette-dark-50: var(--md2-ref-palette-brown-50);
      --md3-palette-dark-100: var(--md2-ref-palette-brown-100);
      --md3-palette-dark-200: var(--md2-ref-palette-brown-200);
      --md3-palette-dark-300: var(--md2-ref-palette-brown-300);
      --md3-palette-dark-400: var(--md2-ref-palette-brown-400);
      --md3-palette-dark-500: var(--md2-ref-palette-brown-500);
      --md3-palette-dark-600: var(--md2-ref-palette-brown-600);
      --md3-palette-dark-700: var(--md2-ref-palette-brown-700);
      --md3-palette-dark-800: var(--md2-ref-palette-brown-800);
      --md3-palette-dark-900: var(--md2-ref-palette-brown-900);
      --sys-palette: var(--md2-ref-palette-brown-500);
    }
    
    &--grey {
      --md3-palette-dark-50: var(--md2-ref-palette-grey-50);
      --md3-palette-dark-100: var(--md2-ref-palette-grey-100);
      --md3-palette-dark-200: var(--md2-ref-palette-grey-200);
      --md3-palette-dark-300: var(--md2-ref-palette-grey-300);
      --md3-palette-dark-400: var(--md2-ref-palette-grey-400);
      --md3-palette-dark-500: var(--md2-ref-palette-grey-500);
      --md3-palette-dark-600: var(--md2-ref-palette-grey-600);
      --md3-palette-dark-700: var(--md2-ref-palette-grey-700);
      --md3-palette-dark-800: var(--md2-ref-palette-grey-800);
      --md3-palette-dark-900: var(--md2-ref-palette-grey-900);
      --sys-palette: var(--md2-ref-palette-grey-500);
    }
    
    &--greyBlue {
      --md3-palette-dark-50: var(--md2-ref-palette-greyBlue-50);
      --md3-palette-dark-100: var(--md2-ref-palette-greyBlue-100);
      --md3-palette-dark-200: var(--md2-ref-palette-greyBlue-200);
      --md3-palette-dark-300: var(--md2-ref-palette-greyBlue-300);
      --md3-palette-dark-400: var(--md2-ref-palette-greyBlue-400);
      --md3-palette-dark-500: var(--md2-ref-palette-greyBlue-500);
      --md3-palette-dark-600: var(--md2-ref-palette-greyBlue-600);
      --md3-palette-dark-700: var(--md2-ref-palette-greyBlue-700);
      --md3-palette-dark-800: var(--md2-ref-palette-greyBlue-800);
      --md3-palette-dark-900: var(--md2-ref-palette-greyBlue-900);
      --sys-palette: var(--md2-ref-palette-greyBlue-500);
    }
    
    &--primary {
      --md3-palette-dark-0: var(--md3-ref-palette-primary-0);
      --md3-palette-dark-10: var(--md3-ref-palette-primary-10);
      --md3-palette-dark-20: var(--md3-ref-palette-primary-20);
      --md3-palette-dark-30: var(--md3-ref-palette-primary-30);
      --md3-palette-dark-40: var(--md3-ref-palette-primary-40);
      --md3-palette-dark-50: var(--md3-ref-palette-primary-50);
      --md3-palette-dark-60: var(--md3-ref-palette-primary-60);
      --md3-palette-dark-70: var(--md3-ref-palette-primary-70);
      --md3-palette-dark-80: var(--md3-ref-palette-primary-80);
      --md3-palette-dark-90: var(--md3-ref-palette-primary-90);
      --md3-palette-dark-92: var(--md3-ref-palette-primary-92);
      --md3-palette-dark-95: var(--md3-ref-palette-primary-95);
      --md3-palette-dark-96: var(--md3-ref-palette-primary-96);
      --md3-palette-dark-99: var(--md3-ref-palette-primary-99);
      --md3-palette-dark-100: var(--md3-ref-palette-primary-100);
      --sys-palette: var(--md3-ref-palette-primary-80);
    }
    
    &--secondary {
      --md3-palette-dark-0: var(--md3-ref-palette-secondary-0);
      --md3-palette-dark-10: var(--md3-ref-palette-secondary-10);
      --md3-palette-dark-20: var(--md3-ref-palette-secondary-20);
      --md3-palette-dark-30: var(--md3-ref-palette-secondary-30);
      --md3-palette-dark-40: var(--md3-ref-palette-secondary-40);
      --md3-palette-dark-50: var(--md3-ref-palette-secondary-50);
      --md3-palette-dark-60: var(--md3-ref-palette-secondary-60);
      --md3-palette-dark-70: var(--md3-ref-palette-secondary-70);
      --md3-palette-dark-80: var(--md3-ref-palette-secondary-80);
      --md3-palette-dark-90: var(--md3-ref-palette-secondary-90);
      --md3-palette-dark-92: var(--md3-ref-palette-secondary-92);
      --md3-palette-dark-95: var(--md3-ref-palette-secondary-95);
      --md3-palette-dark-96: var(--md3-ref-palette-secondary-96);
      --md3-palette-dark-99: var(--md3-ref-palette-secondary-99);
      --md3-palette-dark-100: var(--md3-ref-palette-secondary-100);
      --sys-palette: var(--md3-ref-palette-secondary-80);
    }
    
    &--tertiary {
      --md3-palette-dark-0: var(--md3-ref-palette-tertiary-0);
      --md3-palette-dark-10: var(--md3-ref-palette-tertiary-10);
      --md3-palette-dark-20: var(--md3-ref-palette-tertiary-20);
      --md3-palette-dark-30: var(--md3-ref-palette-tertiary-30);
      --md3-palette-dark-40: var(--md3-ref-palette-tertiary-40);
      --md3-palette-dark-50: var(--md3-ref-palette-tertiary-50);
      --md3-palette-dark-60: var(--md3-ref-palette-tertiary-60);
      --md3-palette-dark-70: var(--md3-ref-palette-tertiary-70);
      --md3-palette-dark-80: var(--md3-ref-palette-tertiary-80);
      --md3-palette-dark-90: var(--md3-ref-palette-tertiary-90);
      --md3-palette-dark-92: var(--md3-ref-palette-tertiary-92);
      --md3-palette-dark-95: var(--md3-ref-palette-tertiary-95);
      --md3-palette-dark-96: var(--md3-ref-palette-tertiary-96);
      --md3-palette-dark-99: var(--md3-ref-palette-tertiary-99);
      --md3-palette-dark-100: var(--md3-ref-palette-tertiary-100);
      --sys-palette: var(--md3-ref-palette-tertiary-80);
    }
    
    &--error {
      --md3-palette-dark-0: var(--md3-ref-palette-error-0);
      --md3-palette-dark-10: var(--md3-ref-palette-error-10);
      --md3-palette-dark-20: var(--md3-ref-palette-error-20);
      --md3-palette-dark-30: var(--md3-ref-palette-error-30);
      --md3-palette-dark-40: var(--md3-ref-palette-error-40);
      --md3-palette-dark-50: var(--md3-ref-palette-error-50);
      --md3-palette-dark-60: var(--md3-ref-palette-error-60);
      --md3-palette-dark-70: var(--md3-ref-palette-error-70);
      --md3-palette-dark-80: var(--md3-ref-palette-error-80);
      --md3-palette-dark-90: var(--md3-ref-palette-error-90);
      --md3-palette-dark-92: var(--md3-ref-palette-error-92);
      --md3-palette-dark-95: var(--md3-ref-palette-error-95);
      --md3-palette-dark-96: var(--md3-ref-palette-error-96);
      --md3-palette-dark-99: var(--md3-ref-palette-error-99);
      --md3-palette-dark-100: var(--md3-ref-palette-error-100);
      --sys-palette: var(--md3-ref-palette-error-80);
    }
    
    &--neutral {
      --md3-palette-dark-0: var(--md3-ref-palette-neutral-0);
      --md3-palette-dark-4: var(--md3-ref-palette-neutral-4);
      --md3-palette-dark-6: var(--md3-ref-palette-neutral-6);
      --md3-palette-dark-10: var(--md3-ref-palette-neutral-10);
      --md3-palette-dark-12: var(--md3-ref-palette-neutral-12);
      --md3-palette-dark-17: var(--md3-ref-palette-neutral-17);
      --md3-palette-dark-20: var(--md3-ref-palette-neutral-20);
      --md3-palette-dark-22: var(--md3-ref-palette-neutral-22);
      --md3-palette-dark-24: var(--md3-ref-palette-neutral-24);
      --md3-palette-dark-30: var(--md3-ref-palette-neutral-30);
      --md3-palette-dark-40: var(--md3-ref-palette-neutral-40);
      --md3-palette-dark-50: var(--md3-ref-palette-neutral-50);
      --md3-palette-dark-60: var(--md3-ref-palette-neutral-60);
      --md3-palette-dark-70: var(--md3-ref-palette-neutral-70);
      --md3-palette-dark-80: var(--md3-ref-palette-neutral-80);
      --md3-palette-dark-87: var(--md3-ref-palette-neutral-87);
      --md3-palette-dark-90: var(--md3-ref-palette-neutral-90);
      --md3-palette-dark-92: var(--md3-ref-palette-neutral-92);
      --md3-palette-dark-94: var(--md3-ref-palette-neutral-94);
      --md3-palette-dark-95: var(--md3-ref-palette-neutral-95);
      --md3-palette-dark-96: var(--md3-ref-palette-neutral-96);
      --md3-palette-dark-98: var(--md3-ref-palette-neutral-98);
      --md3-palette-dark-99: var(--md3-ref-palette-neutral-99);
      --md3-palette-dark-100: var(--md3-ref-palette-neutral-100);
      --sys-palette: var(--md3-ref-palette-neutral-80);
    }
    
    &--neutralVariant {
      --md3-palette-dark-0: var(--md3-ref-palette-neutralVariant-0);
      --md3-palette-dark-10: var(--md3-ref-palette-neutralVariant-10);
      --md3-palette-dark-20: var(--md3-ref-palette-neutralVariant-20);
      --md3-palette-dark-30: var(--md3-ref-palette-neutralVariant-30);
      --md3-palette-dark-40: var(--md3-ref-palette-neutralVariant-40);
      --md3-palette-dark-50: var(--md3-ref-palette-neutralVariant-50);
      --md3-palette-dark-60: var(--md3-ref-palette-neutralVariant-60);
      --md3-palette-dark-70: var(--md3-ref-palette-neutralVariant-70);
      --md3-palette-dark-80: var(--md3-ref-palette-neutralVariant-80);
      --md3-palette-dark-90: var(--md3-ref-palette-neutralVariant-90);
      --md3-palette-dark-92: var(--md3-ref-palette-neutralVariant-92);
      --md3-palette-dark-95: var(--md3-ref-palette-neutralVariant-95);
      --md3-palette-dark-96: var(--md3-ref-palette-neutralVariant-96);
      --md3-palette-dark-99: var(--md3-ref-palette-neutralVariant-99);
      --md3-palette-dark-100: var(--md3-ref-palette-neutralVariant-100);
      --sys-palette: var(--md3-ref-palette-neutralVariant-80);
    }
  }
}