@import "styles/all";

.md3-button {
  --md3-button-gap: var(--md3-ref-spacing-2);
  --md3-button-padding: var(--md3-ref-spacing-6);
  --md3-button-test: 24px;
  
  font-family: var(--md3-ref-font-family-roboto);
  @include fontSize(var(--md3-ref-font-size-md));
  font-weight: var(--md3-ref-font-weight-bold);
  @include lineHeight(var(--md3-ref-lineHeight-md));
  letter-spacing: var(--md3-ref-letterSpacing-xs);
  text-transform: none;
  
  @include paletteColor(var(--md3-sys-palette-primary));
  
  @include backgroundColor(transparent);
  @include gradientOpacity(0);
  @include paletteGradient(var(--md3-sys-palette-primary));
  
  border-radius: var(--md3-sys-rounded-full);
  
  box-shadow: none;
  
  transition-timing-function: var(--d-sys-transitionFunction-standard);
  transition-duration: var(--d-sys-transitionDuration-lg-close);
  transition-property: border, box-shadow;
  
  @include enabledSelector(hover) {
    @include gradientOpacity(var(--md3-sys-opacity-008));
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  @include enabledSelector(active) {
    @include gradientOpacity(var(--md3-sys-opacity-012));
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &::after {
    content: ' ';
    @include paletteColor(var(--md3-sys-palette-primaryVariant));
  }
  
  &--selected {
    @include paletteColor(var(--md3-sys-palette-primaryVariant));
    
    @include paletteGradient(var(--md3-sys-palette-primaryVariant));
  }
  
  &--progress {
  }
  
  &--disabled {
    @include colorOpacity(var(--md3-sys-opacity-disabled));
    @include paletteColor(var(--md3-sys-palette-onSurface));
    
    transition-duration: var(--d-sys-transitionDuration-sm);
  }
  
  &--adaptive {
    &--icon {
      --md3-button-padding: 0px;
    }
    
    &--sm {
      @media screen and (max-width: calc(600px - 1px)) {
        --md3-button-padding: 0px;
      }
    }
    
    &--md {
      @media screen and (max-width: calc(905px - 1px)) {
        --md3-button-padding: 0px;
      }
    }
  }
  
  &--height {
    &--sm {
      @include height(var(--md3-ref-spacing-8));
    }
    
    &--md {
      @include height(var(--md3-ref-spacing-10));
    }
    
    &--lg {
      @include height(var(--md3-ref-spacing-12));
    }
  }
  
  &--filled {
    @include color(var(--md3-sys-palette-onPrimary));
    
    @include paletteBackground(var(--md3-sys-palette-primary));
    @include gradient(var(--md3-sys-palette-onPrimary));
    
    @include enabledSelector(hover, '.md3-button') {
      box-shadow: var(--md3-ref-shadow-1);
    }
    
    @include enabledSelector(active, '.md3-button') {
      box-shadow: none;
    }
    
    @include disabled('.md3-button') {
      @include backgroundOpacity(var(--md3-sys-opacity-012));
      @include paletteBackground(var(--md3-sys-palette-onSurface));
      
      box-shadow: none;
    }
    
    &--selected {
      @include color(var(--md3-sys-palette-onPrimary));
      
      @include paletteBackground(var(--md3-sys-palette-primaryVariant));
    }
  }
  
  &--outlined {
    @include enabledSelector(focus, '.md3-button') {
      &::before {
        content: ' ';
        @include paletteBorder(var(--md3-sys-palette-primary));
      }
    }
    
    @include disabled('.md3-button') {
      &::before {
        content: ' ';
        @include borderOpacity(var(--md3-sys-opacity-012));
        @include paletteBorder(var(--md3-sys-palette-onSurface));
      }
    }
    
    &::before {
      content: ' ';
      position: absolute;
      @include inset(0px);
      
      border-radius: inherit;
      border-width: var(--md3-ref-spacing-px);
      border-style: solid;
      @include paletteBorder(var(--md3-sys-palette-outline));
    }
    
    &--palette-border {
    }
    
    &--selected {
      &::before {
        content: ' ';
        @include paletteBorder(var(--md3-sys-palette-primaryVariant));
      }
    }
  }
  
  &--text {
    --md3-button-padding: var(--md3-ref-spacing-3);
    
    @include enabledSelector(hover, '.md3-button') {
      transition-duration: var(--d-sys-transitionDuration-lg-close);
    }
    
    @include enabledSelector(active, '.md3-button') {
      &::after {
        content: ' ';
        @include borderOpacity(var(--md3-sys-opacity-medium));
      }
    }
    
    &::after {
      content: ' ';
      position: absolute;
      @include inset(0px);
      
      border-radius: inherit;
      border-width: var(--md3-ref-spacing-px);
      border-style: solid;
      @include borderOpacity(0);
      @include paletteBorder(var(--md3-sys-palette-outline));
      
      transition: inherit;
    }
    
    &--palette-border {
    }
  }
  
  &--elevated {
    @include paletteBackground(var(--md3-sys-palette-surfaceContainerLow));
    
    box-shadow: var(--md3-ref-shadow-1);
    
    @include enabledSelector(hover, '.md3-button') {
      box-shadow: var(--md3-ref-shadow-2);
    }
    
    @include enabledSelector(active, '.md3-button') {
      box-shadow: var(--md3-ref-shadow-1);
    }
    
    @include disabled('.md3-button') {
      @include backgroundOpacity(var(--md3-sys-opacity-012));
      @include paletteBackground(var(--md3-sys-palette-onSurface));
      
      box-shadow: none;
    }
    
    &--selected {
      @include paletteBackground(var(--md3-sys-palette-surfaceContainerHigh));
    }
  }
  
  &--tonal {
    @include color(var(--md3-sys-palette-onSecondaryContainer));
    
    @include paletteBackground(var(--md3-sys-palette-secondaryContainer));
    @include gradient(var(--md3-sys-palette-onSecondaryContainer));
    
    @include enabledSelector(hover, '.md3-button') {
      box-shadow: var(--md3-ref-shadow-1);
    }
    
    @include enabledSelector(active, '.md3-button') {
      box-shadow: none;
    }
    
    @include disabled('.md3-button') {
      @include backgroundOpacity(var(--md3-sys-opacity-012));
      @include paletteBackground(var(--md3-sys-palette-onSurface));
      
      box-shadow: none;
    }
    
    &--selected {
      @include paletteBackground(var(--md3-sys-palette-secondaryContainerVariant));
    }
    
    &--a {
      &--b {
        @include paletteBackground(var(--md3-sys-palette-onSurface));
        
        &--c {
        }
        
        &--d {
          @include backgroundOpacity(var(--md3-sys-opacity-012));
        }
      }
    }
  }
  
  &--test {
    @include gradientOpacity(var(--md3-sys-opacity-012));
  }
  
  &__label {
  }
  
  &__icon {
  }
  
  &__trailing {
  }
  
  @keyframes md3-button-animateTest {
    0% {
      opacity: 0;
    }
    
    16% {
      opacity: .32;
    }
    
    100% {
      opacity: 1;
    }
  }
}