@import "styles/all";

:root {
  --d-ref-transitionDuration-1: 45ms;
  --d-ref-transitionDuration-2: 75ms;
  --d-ref-transitionDuration-3: 100ms;
  --d-ref-transitionDuration-4: 150ms;
  --d-ref-transitionDuration-5: 200ms;
  --d-ref-transitionDuration-6: 250ms;
  --d-ref-transitionDuration-7: 280ms;
  --d-ref-transitionDuration-8: 300ms;
  --d-ref-transitionFunction-linear: linear;
  --d-ref-transitionFunction-e0i80: cubic-bezier(0.0, 0.0, 0.2, 1);
  --d-ref-transitionFunction-e40i0: cubic-bezier(0.4, 0.0, 1, 1);
  --d-ref-transitionFunction-e40i80: cubic-bezier(0.4, 0.0, 0.2, 1);
  --d-ref-transitionFunction-e40i40: cubic-bezier(0.4, 0.0, 0.6, 1);
  --d-sys-transitionDuration-standard: var(--d-ref-transitionDuration-4);
  --d-sys-transitionDuration-xs: var(--d-ref-transitionDuration-1);
  --d-sys-transitionDuration-sm: var(--d-ref-transitionDuration-3);
  --d-sys-transitionDuration-md-open: var(--d-ref-transitionDuration-6);
  --d-sys-transitionDuration-md-close: var(--d-ref-transitionDuration-5);
  --d-sys-transitionDuration-lg-open: var(--d-ref-transitionDuration-8);
  --d-sys-transitionDuration-lg-close: var(--d-ref-transitionDuration-6);
  --d-sys-transitionDuration-axis: var(--d-ref-transitionDuration-8);
  --d-sys-transitionDuration-container-open: var(--d-ref-transitionDuration-8);
  --d-sys-transitionDuration-container-close: var(--d-ref-transitionDuration-6);
  --d-sys-transitionDuration-fade-enter: var(--d-ref-transitionDuration-4);
  --d-sys-transitionDuration-fade-exit: var(--d-ref-transitionDuration-2);
  --d-sys-transitionDuration-fade-through: var(--d-ref-transitionDuration-8);
  --d-sys-transitionFunction-linear: linear;
  --d-sys-transitionFunction-standard: var(--d-ref-transitionFunction-e40i80);
  --d-sys-transitionFunction-emphasized: var(--d-ref-transitionFunction-e40i40);
  --d-sys-transitionFunction-acceleration: var(--d-ref-transitionFunction-e40i0);
  --d-sys-transitionFunction-deceleration: var(--d-ref-transitionFunction-e0i80);
  --c1-ref-background-0: rgb(var(--c1-ref-palette-webWhite));
  --c1-ref-font-family-rubik: rubik;
  --c1-ref-font-size-12: calc(var(--c1-ref-spacing-px)*12);
  --c1-ref-font-size-14: calc(var(--c1-ref-spacing-px)*14);
  --c1-ref-font-size-16: calc(var(--c1-ref-spacing-px)*16);
  --c1-ref-font-size-18: calc(var(--c1-ref-spacing-px)*18);
  --c1-ref-font-size-20: calc(var(--c1-ref-spacing-px)*20);
  --c1-ref-font-size-24: calc(var(--c1-ref-spacing-px)*24);
  --c1-ref-font-size-32: calc(var(--c1-ref-spacing-px)*32);
  --c1-ref-font-size-40: calc(var(--c1-ref-spacing-px)*40);
  --c1-ref-font-weight-400: 400;
  --c1-ref-font-weight-500: 500;
  --c1-ref-font-weight-700: 700;
  --c1-ref-letterSpacing-none: 0;
  --c1-ref-lineHeight-14: calc(var(--c1-ref-spacing-px)*14);
  --c1-ref-lineHeight-17: calc(var(--c1-ref-spacing-px)*17);
  --c1-ref-lineHeight-20: calc(var(--c1-ref-spacing-px)*20);
  --c1-ref-lineHeight-24: calc(var(--c1-ref-spacing-px)*24);
  --c1-ref-lineHeight-32: calc(var(--c1-ref-spacing-px)*32);
  --c1-ref-lineHeight-36: calc(var(--c1-ref-spacing-px)*36);
  --c1-ref-lineHeight-48: calc(var(--c1-ref-spacing-px)*48);
  --c1-ref-palette-webText-50: #{toColorRbg(#333f48)};
  --c1-ref-palette-webWhite-50: #{toColorRbg(#ffffff)};
  --c1-ref-palette-webAccent-50: #{toColorRbg(#fa5f55)};
  --c1-ref-palette-webAccentWhite-50: #{toColorRbg(#fa5f5508)};
  --c1-ref-palette-webAccentWhite-50-opacity: #{toColorOpacity(#fa5f5508)};
  --c1-ref-palette-webError-50: #{toColorRbg(#f31808)};
  --c1-ref-palette-webGray1-50: #{toColorRbg(#333f48bf)};
  --c1-ref-palette-webGray1-50-opacity: #{toColorOpacity(#333f48bf)};
  --c1-ref-palette-webGray2-50: #{toColorRbg(#858c91)};
  --c1-ref-palette-webGray3-50: #{toColorRbg(#dcdcdc)};
  --c1-ref-palette-webGray4-50: #{toColorRbg(#f8f9f9)};
  --c1-ref-palette-webGlue1-50: #{toColorRbg(#555afa)};
  --c1-ref-palette-webGlue2-50: #{toColorRbg(#558cfa)};
  --c1-ref-palette-webGlue3-50: #{toColorRbg(#778ca2)};
  --c1-ref-palette-text-50: #{toColorRbg(#333f48)};
  --c1-ref-palette-white-50: #{toColorRbg(#ffffff)};
  --c1-ref-palette-accent-50: #{toColorRbg(#ff585d)};
  --c1-ref-palette-success-50: #{toColorRbg(#34c759)};
  --c1-ref-palette-error-50: #{toColorRbg(#f31808)};
  --c1-ref-palette-notification-50: #{toColorRbg(#2e1670cc)};
  --c1-ref-palette-notification-50-opacity: #{toColorOpacity(#2e1670cc)};
  --c1-ref-palette-ripple-50: #{toColorRbg(#ff7a7e)};
  --c1-ref-palette-background-50: #{toColorRbg(#f8f8f8)};
  --c1-ref-palette-backgroundImage-50: #{toColorRbg(#f5f5f5)};
  --c1-ref-palette-backgroundNotificationInfo-50: #{toColorRbg(#dfe6fa)};
  --c1-ref-palette-backgroundNotificationWarning-50: #{toColorRbg(#faeadf)};
  --c1-ref-palette-backgroundError-50: #{toColorRbg(#ffe9e9)};
  --c1-ref-palette-gray1-50: #{toColorRbg(#f2f2f2)};
  --c1-ref-palette-gray2-50: #{toColorRbg(#e0e0e0)};
  --c1-ref-palette-gray3-50: #{toColorRbg(#bec1c6)};
  --c1-ref-palette-gray4-50: #{toColorRbg(#6c7885)};
  --c1-ref-palette-shading-50: #{toColorRbg(#00000099)};
  --c1-ref-palette-shading-50-opacity: #{toColorOpacity(#00000099)};
  --c1-ref-palette-green1-50: #{toColorRbg(#90bf63)};
  --c1-ref-palette-green2-50: #{toColorRbg(#7ba354)};
  --c1-ref-palette-yellow1-50: #{toColorRbg(#ffe9c0)};
  --c1-ref-palette-yellow2-50: #{toColorRbg(#fed76d)};
  --c1-ref-palette-yellow3-50: #{toColorRbg(#ffab2b)};
  --c1-ref-palette-blue1-50: #{toColorRbg(#2f80ed)};
  --c1-ref-palette-extra1-50: #{toColorRbg(#c72866)};
  --c1-ref-palette-extra2-50: #{toColorRbg(#e03b31)};
  --c1-ref-palette-extra3-50: #{toColorRbg(#ed7f2f)};
  --c1-ref-palette-extra4-50: #{toColorRbg(#bec934)};
  --c1-ref-palette-extra5-50: #{toColorRbg(#74ce33)};
  --c1-ref-palette-extra6-50: #{toColorRbg(#239b35)};
  --c1-ref-palette-extra7-50: #{toColorRbg(#61ccbc)};
  --c1-ref-palette-extra8-50: #{toColorRbg(#1f97b8)};
  --c1-ref-palette-extra9-50: #{toColorRbg(#16a5ee)};
  --c1-ref-palette-extra10-50: #{toColorRbg(#8ebfeb)};
  --c1-ref-palette-extra11-50: #{toColorRbg(#3a6df6)};
  --c1-ref-palette-extra12-50: #{toColorRbg(#7b3ef5)};
  --c1-ref-palette-extra13-50: #{toColorRbg(#a937e2)};
  --c1-ref-palette-extra14-50: #{toColorRbg(#f291f2)};
  --c1-ref-palette-extra15-50: #{toColorRbg(#ea4491)};
  --c1-ref-palette-extra16-50: #{toColorRbg(#ffadad)};
  --c1-ref-palette-extra17-50: #{toColorRbg(#d4a685)};
  --c1-ref-palette-extra18-50: #{toColorRbg(#5a7690)};
  --c1-ref-palette-extra19-50: #{toColorRbg(#36598e)};
  --c1-ref-rounded-0: 0;
  --c1-ref-rounded-1: var(--c1-ref-spacing-1);
  --c1-ref-rounded-2: var(--c1-ref-spacing-2);
  --c1-ref-rounded-4: var(--c1-ref-spacing-4);
  --c1-ref-rounded-6: var(--c1-ref-spacing-6);
  --c1-ref-rounded-8: var(--c1-ref-spacing-8);
  --c1-ref-rounded-12: var(--c1-ref-spacing-12);
  --c1-ref-rounded-16: var(--c1-ref-spacing-16);
  --c1-ref-rounded-full: var(--c1-ref-spacing-128);
  --c1-ref-screen-sm: 640px;
  --c1-ref-screen-md: 768px;
  --c1-ref-screen-lg: 1024px;
  --c1-ref-screen-xl: 1280px;
  --c1-ref-screen-2xl: 1536px;
  --c1-ref-shade-50: 50;
  --c1-ref-spacing-1: .25rem;
  --c1-ref-spacing-2: calc(var(--c1-ref-spacing-1)*2);
  --c1-ref-spacing-3: calc(var(--c1-ref-spacing-1)*3);
  --c1-ref-spacing-4: calc(var(--c1-ref-spacing-1)*4);
  --c1-ref-spacing-5: calc(var(--c1-ref-spacing-1)*5);
  --c1-ref-spacing-6: calc(var(--c1-ref-spacing-1)*6);
  --c1-ref-spacing-7: calc(var(--c1-ref-spacing-1)*7);
  --c1-ref-spacing-8: calc(var(--c1-ref-spacing-1)*8);
  --c1-ref-spacing-9: calc(var(--c1-ref-spacing-1)*9);
  --c1-ref-spacing-10: calc(var(--c1-ref-spacing-1)*10);
  --c1-ref-spacing-11: calc(var(--c1-ref-spacing-1)*11);
  --c1-ref-spacing-12: calc(var(--c1-ref-spacing-1)*12);
  --c1-ref-spacing-13: calc(var(--c1-ref-spacing-1)*13);
  --c1-ref-spacing-14: calc(var(--c1-ref-spacing-1)*14);
  --c1-ref-spacing-15: calc(var(--c1-ref-spacing-1)*15);
  --c1-ref-spacing-16: calc(var(--c1-ref-spacing-1)*16);
  --c1-ref-spacing-17: calc(var(--c1-ref-spacing-1)*17);
  --c1-ref-spacing-18: calc(var(--c1-ref-spacing-1)*18);
  --c1-ref-spacing-19: calc(var(--c1-ref-spacing-1)*19);
  --c1-ref-spacing-20: calc(var(--c1-ref-spacing-1)*20);
  --c1-ref-spacing-21: calc(var(--c1-ref-spacing-1)*21);
  --c1-ref-spacing-22: calc(var(--c1-ref-spacing-1)*22);
  --c1-ref-spacing-23: calc(var(--c1-ref-spacing-1)*23);
  --c1-ref-spacing-24: calc(var(--c1-ref-spacing-1)*24);
  --c1-ref-spacing-25: calc(var(--c1-ref-spacing-1)*25);
  --c1-ref-spacing-26: calc(var(--c1-ref-spacing-1)*26);
  --c1-ref-spacing-27: calc(var(--c1-ref-spacing-1)*27);
  --c1-ref-spacing-28: calc(var(--c1-ref-spacing-1)*28);
  --c1-ref-spacing-32: calc(var(--c1-ref-spacing-1)*32);
  --c1-ref-spacing-36: calc(var(--c1-ref-spacing-1)*36);
  --c1-ref-spacing-40: calc(var(--c1-ref-spacing-1)*40);
  --c1-ref-spacing-48: calc(var(--c1-ref-spacing-1)*48);
  --c1-ref-spacing-56: calc(var(--c1-ref-spacing-1)*56);
  --c1-ref-spacing-64: calc(var(--c1-ref-spacing-1)*64);
  --c1-ref-spacing-72: calc(var(--c1-ref-spacing-1)*72);
  --c1-ref-spacing-80: calc(var(--c1-ref-spacing-1)*80);
  --c1-ref-spacing-128: calc(var(--c1-ref-spacing-1)*128);
  --c1-ref-spacing-256: calc(var(--c1-ref-spacing-1)*256);
  --c1-ref-spacing-512: calc(var(--c1-ref-spacing-1)*512);
  --c1-ref-spacing-px: calc(var(--c1-ref-spacing-1)/4);
  --c1-sys-palette-onSurface: var(--c1-ref-palette-webText-50);
  --c1-sys-palette-onDisabled: var(--c1-ref-palette-webGray3-50);
  --c1-sys-palette-overlay: var(--c1-ref-palette-backgroundImage-50);
}