@import "styles/all";

.m3-elevation {
  &--0 {
    z-index: var(--m3-ref-index-0);
    
    background: var(--m3-ref-background-0);
    
    box-shadow: var(--m3-ref-shadow-0);
  }
  
  &--1 {
    z-index: var(--m3-ref-index-1);
    
    background: var(--m3-ref-background-1);
    
    box-shadow: var(--m3-ref-shadow-1);
  }
  
  &--2 {
    z-index: var(--m3-ref-index-2);
    
    background: var(--m3-ref-background-2);
    
    box-shadow: var(--m3-ref-shadow-2);
  }
  
  &--3 {
    z-index: var(--m3-ref-index-3);
    
    background: var(--m3-ref-background-3);
    
    box-shadow: var(--m3-ref-shadow-3);
  }
  
  &--4 {
    z-index: var(--m3-ref-index-4);
    
    background: var(--m3-ref-background-4);
    
    box-shadow: var(--m3-ref-shadow-4);
  }
  
  &--5 {
    z-index: var(--m3-ref-index-5);
    
    background: var(--m3-ref-background-5);
    
    box-shadow: var(--m3-ref-shadow-5);
  }
}