@import "styles/all";

.c2-font {
  &--heading {
    &--hero {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-500)});
      font-weight: var(--c2-ot-typography-fontWeight-700);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-550)});
      letter-spacing: var(--c2-ot-typography-tracking-6xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-275)});
    }
    
    &--h1 {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-400)});
      font-weight: var(--c2-ot-typography-fontWeight-700);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-450)});
      letter-spacing: var(--c2-ot-typography-tracking-5xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-225)});
    }
    
    &--h2 {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-250)});
      font-weight: var(--c2-ot-typography-fontWeight-700);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-300)});
      letter-spacing: var(--c2-ot-typography-tracking-4xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-150)});
    }
    
    &--h3 {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-200)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-250)});
      letter-spacing: var(--c2-ot-typography-tracking-4xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-125)});
    }
    
    &--h4 {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-175)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-225)});
      letter-spacing: var(--c2-ot-typography-tracking-3xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-112)});
    }
    
    &--h5 {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-150)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-200)});
      letter-spacing: var(--c2-ot-typography-tracking-2xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-100)});
    }
    
    &--h6 {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-125)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-175)});
      letter-spacing: var(--c2-ot-typography-tracking-xl);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-87)});
    }
  }
  
  &--body {
    &--b1bold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--c2-ot-typography-fontWeight-700);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b1semibold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b1medium {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b1regular {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-112)});
      font-weight: var(--c2-ot-typography-fontWeight-400);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-lg);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b2bold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
      font-weight: var(--c2-ot-typography-fontWeight-700);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-base);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b2semibold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-base);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b2medium {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-base);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
    
    &--b2regular {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
      font-weight: var(--c2-ot-typography-fontWeight-400);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
      letter-spacing: var(--c2-ot-typography-tracking-base);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
    }
  }
  
  &--caption {
    &--c1bold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
      font-weight: var(--c2-ot-typography-fontWeight-700);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-125)});
      letter-spacing: var(--c2-ot-typography-tracking-md);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-62)});
    }
    
    &--c1medium {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-125)});
      letter-spacing: var(--c2-ot-typography-tracking-md);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-62)});
    }
    
    &--c1regular {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
      font-weight: var(--c2-ot-typography-fontWeight-400);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-125)});
      letter-spacing: var(--c2-ot-typography-tracking-md);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-62)});
    }
    
    &--c2semibold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-enum-13)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-sm);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
    }
    
    &--c2medium {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-enum-13)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-sm);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
    }
    
    &--c2regular {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-enum-13)});
      font-weight: var(--c2-ot-typography-fontWeight-400);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-sm);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
    }
    
    &--c3semibold {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-75)});
      font-weight: var(--c2-ot-typography-fontWeight-600);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-xs);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
    }
    
    &--c3medium {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-75)});
      font-weight: var(--c2-ot-typography-fontWeight-500);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-xs);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
    }
    
    &--c3regular {
      font-family: var(--c2-ot-typography-fontFamily-base);
      @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-75)});
      font-weight: var(--c2-ot-typography-fontWeight-400);
      @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
      letter-spacing: var(--c2-ot-typography-tracking-xs);
      @include textCase(#{var(--c2-ot-typography-textCase-none)});
      text-decoration: var(--c2-ot-typography-textDecoration-none);
      @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
    }
  }
  
  &--extras {
    &--caption {
      &--c2medium {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-enum-13)});
        font-weight: var(--c2-ot-typography-fontWeight-500);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-112)});
        letter-spacing: var(--c2-ot-typography-tracking-sm);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
      }
    }
    
    &--skeleton {
      &--hero {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-500)});
        font-weight: var(--c2-ot-typography-fontWeight-700);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-550)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-275)});
      }
      
      &--h1 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-400)});
        font-weight: var(--c2-ot-typography-fontWeight-700);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-450)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-225)});
      }
      
      &--h2 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-250)});
        font-weight: var(--c2-ot-typography-fontWeight-700);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-300)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-150)});
      }
      
      &--h3 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-200)});
        font-weight: var(--c2-ot-typography-fontWeight-600);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-250)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-125)});
      }
      
      &--h4 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-175)});
        font-weight: var(--c2-ot-typography-fontWeight-600);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-225)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-112)});
      }
      
      &--h5 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-150)});
        font-weight: var(--c2-ot-typography-fontWeight-600);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-200)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-100)});
      }
      
      &--h6 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-125)});
        font-weight: var(--c2-ot-typography-fontWeight-600);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-175)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-87)});
      }
      
      &--b1 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-112)});
        font-weight: var(--c2-ot-typography-fontWeight-400);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
      }
      
      &--b2 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-100)});
        font-weight: var(--c2-ot-typography-fontWeight-400);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-150)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-75)});
      }
      
      &--c1 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-87)});
        font-weight: var(--c2-ot-typography-fontWeight-400);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-125)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-62)});
      }
      
      &--c3 {
        font-family: var(--c2-ot-typography-fontFamily-base);
        @include fontSize(#{var(--c2-ot-typography-fontSize-size-scale-75)});
        font-weight: var(--c2-ot-typography-fontWeight-400);
        @include lineHeight(#{var(--c2-ot-typography-lineHeight-100)});
        letter-spacing: var(--c2-ot-typography-tracking-skeleton);
        @include textCase(#{var(--c2-ot-typography-textCase-none)});
        text-decoration: var(--c2-ot-typography-textDecoration-none);
        @include paragraphSpacing(#{var(--c2-ot-typography-paragraphSpacing-size-scale-50)});
      }
    }
  }
  
  &--fontFamily {
    &--global {
      font-family: 'Inter', sans-serif;
    }
    
    &--geo {
      font-family: 'Noto Sans Georgian', sans-serif;
    }
    
    &--isr {
      font-family: 'Noto Sans Hebrew', sans-serif;
    }
    
    &--tha {
      font-family: 'Noto Sans Thai', sans-serif;
    }
    
    &--kor {
      font-family: 'Noto Sans KR', sans-serif;
    }
    
    &--arm {
      font-family: 'Noto Sans Armenian', sans-serif;
    }
    
    &--base {
      font-family: var(--c2-ot-typography-fontFamily-global);
    }
  }
}