@use 'sass:color';
@use "sass:meta";
@use "sass:string";

@import "rules";

$designsDesign: 'design' !default;
$designsPalette: () !default;
$designsShade: () !default;

/// Checks if a value is a color.<br>
/// Проверяет, является ли значение цветом.
/// @param {Color} $color
/// @return {Boolean}
@function isColorRbgOrVar($color) {
  @return meta.type-of($color) == color or (
    $color != 'none' and
    $color != 'transparent' and
    $color != 'initial' and
    $color != 'inherit'
  )
}

/// Checks if a color is suitable for the palette.<br>
/// Проверяет, является ли цвет подходящим для палитры.
/// @param {Color} $color
/// @return {Boolean}
@function isPalette($color) {
  @return string.index($color, '--') != null
}

/// Returns color value by its code.<br>
/// Возвращает значение цвета по его коду.
/// @param {Color} $color
/// @param {Number} $opacity
/// @param {Boolean} $gradient if true, returns as an image / если true, возвращает в виде изображения
/// @return {String}
@function getColor(
  $color,
  $opacity: 1,
  $gradient: false
) {
  $value: $color;

  @if (meta.type-of($color) == color) {
    $value: rgba(#{toColorRbg($color)}, #{$opacity});
  }

  @if $gradient {
    @return toGradient($value);
  } @else {
    @return $value;
  }
}

/// Checking if a color is part of the list of used colors.<br
/// Проверка, является ли цвет частью списка используемых цветов.
/// @param {Color} $color
/// @return {String}
@function getColorByPalette($color) {
  @each $name, $value in $designsPalette {
    @if (string.index($color, #{$name}#{')'}) != null) {
      @return $value;
    }
  }

  @return null;
}

/// Checking if a color is part of the list of saturation levels.<br>
/// Проверка, является ли цвет частью списка насыщенности.
/// @param {Color} $color
/// @return {String}
@function getColorByShade($color) {
  @each $design, $list in $designsShade {
    @if ($design == $designsDesign) {
      @each $value in $list {
        @if (string.index($color, #{'-'}#{$value}#{')'}) != null) {
          @return #{'--'}#{$designsDesign}#{'-palette-'}#{$value};
        }
      }
    }
  }

  @return null;
}

/// Returns value for palette.<br>
/// Возвращает значение для палитры.
/// @param {Color} $color
/// @return {String}
@function getPalette($color) {
  @if (isPalette($color)) {
    $palette: getColorByPalette($color);

    @if ($palette != null) {
      @return getPaletteItem($palette, $color);
    } @else {
      $shade: getColorByShade($color);

      @if ($shade) {
        @return #{var(#{$shade}, #{toColorRbg($color)})};
      }
    }
  }
  @return #{var(--sys-palette, #{toColorRbg($color)})}
}

/// Returns value for palette.<br>
/// Возвращает значение для поиск нужный цветов.
/// @param {List} $palette
/// @param {Color|String} $color
/// @return {String}
@function getPaletteItem($palette, $color) {
  $value: #{toColorRbg($color)};

  @if (meta.type-of($palette) == list) {
    @each $name in $palette {
      $value: #{var(#{$name}, #{$value})}
    }

    @return $value;
  } @else {
    @return #{var(#{$palette}, #{$value})};
  }
}

@function getColorValueSys($name) {
  @return rgba(var(--sys-#{$name}), var(--sys-#{$name}-opacity, var(--sys-#{$name}-opacity-custom, 1)));
}

/// Color conversion to rgb type.<br
/// Преобразование цвета в тип RGB.
/// @param {Color} $color
/// @return {String}
@function toColorRbg($color) {
  @if (meta.type-of($color) == color) {
    @return red($color) + ', ' + green($color) + ', ' + blue($color);
  }

  @return $color;
}

/// Gets the transparency of the color.<br
/// Получает прозрачность цвета.
/// @param {Color} $color
/// @return {String}
@function toColorOpacity($color) {
  @if (meta.type-of($color) == color) {
    @return color.alpha($color);
  } @else if (isCustomVar(#{$color})) {
    @return toCustomVarOpacity($color);
  }

  @return $color;
}

/// Conversion of color into images for working with background-image.<br
/// Преобразование цвета в изображения для работы с background-image.
/// @param {Color} $color
/// @return {String}
@function toGradient($color) {
  @return linear-gradient(0deg, #{$color}, #{$color});
}

/// Adding the transparency property.<br>
/// Добавление свойства прозрачности.
@function toCustomVarOpacity($color) {
  @return strReplace($color, ')', '-opacity)');
}

@mixin paletteGlobal {
  --sys-background-opacity: 1;
  --sys-gradient-opacity: 1;
}

@mixin colorSys($name, $color) {
  --sys-#{$name}: #{toColorRbg($color)};

  @if (isCustomVar($color)) {
    --sys-#{$name}-opacity-custom: #{toCustomVarOpacity($color)};
  }
}

@mixin colorSysPalette($name, $color) {
  --sys-palette-#{$name}: #{getPalette($color)};

  @if (isCustomVar($color)) {
    --sys-palette-#{$name}-opacity: #{toCustomVarOpacity($color)};
  }
}

/* Palette */

@mixin palette($color) {
  --sys-palette: #{toColorRbg($color)};
}

@mixin paletteColor($color) {
  @include colorSysPalette('color', $color);
  @include color(#{var(--sys-palette-color)});
}

@mixin paletteStroke($color) {
  @include colorSysPalette('color', $color);
  @include stroke(#{var(--sys-palette-color)});
}

@mixin paletteBackground($color) {
  @include colorSysPalette('background', $color);
  @include backgroundColor(#{var(--sys-palette-background)});
}

@mixin paletteFill($color) {
  @include colorSysPalette('background', $color);
  @include fill(#{var(--sys-palette-background)});
}

@mixin paletteGradient($color) {
  @include colorSysPalette('gradient', $color);
  @include gradient(#{var(--sys-palette-gradient)});
}

@mixin paletteBorder($color) {
  @include colorSysPalette('border', $color);
  @include borderColor(#{var(--sys-palette-border)});
}

/* Color */

@mixin color($color, $opacity: null, $propertyName: 'color') {
  @if (isColorRbgOrVar($color)) {
    @include colorSys('color', $color);
    @include colorOpacity($opacity);
    @include colorInit($propertyName);
  } @else {
    #{$propertyName}: $color;
  }
}

@mixin colorOpacity($opacity) {
  @if ($opacity != null) {
    --sys-color-opacity: #{$opacity};
  }
}

@mixin colorInit($propertyName: 'color') {
  #{$propertyName}: getColorValueSys('color');
}

/* Stroke */

@mixin stroke($color, $opacity: null) {
  @if (isColorRbgOrVar($color)) {
    @include colorSys('color', $color);
    @include strokeOpacity($opacity);
    @include strokeInit;
  } @else {
    stroke: $color;
  }
}

@mixin strokeOpacity($opacity) {
  @if ($opacity != null) {
    --sys-color-opacity: #{$opacity};
  }
}

@mixin strokeInit() {
  @include colorInit('stroke');
}

/* Background */

@mixin backgroundColor($color, $opacity: null) {
  @if ($color == 'as-color') {
    @include backgroundAsColor;
  } @else if ($color == transparent) {
    @include backgroundColor(#000000, 0);
  } @else if (isColorRbgOrVar($color)) {
    @include colorSys('background', $color);
    @include backgroundOpacity($opacity);
    @include backgroundInit;
  } @else {
    background-color: $color;
  }
}

@mixin backgroundOpacity($opacity) {
  @if ($opacity != null) {
    --sys-background-opacity: #{$opacity};
  }
}

@mixin backgroundSize($value) {
  background-size: #{$value};
  background-repeat: no-repeat;
}

@mixin backgroundInit() {
  background-color: getColorValueSys('background');
}

/* Fill */

@mixin fill($color, $opacity: null) {
  @if (isColorRbgOrVar($color)) {
    @include colorSys('background', $color);
    @include fillOpacity($opacity);
    @include fillInit;
  } @else {
    fill: $color;
  }
}

@mixin fillOpacity($opacity) {
  @if ($opacity != null) {
    --sys-background-opacity: #{$opacity};
  }
}

@mixin fillInit() {
  fill: getColorValueSys('background');
}

/* Gradient */

@mixin gradient($color, $opacity: null) {
  @if (isColorRbgOrVar($color)) {
    @include colorSys('gradient', $color);
    @include gradientOpacity($opacity);
    @include gradientInit;
  } @else {
    background-image: $color;
  }
}

@mixin gradientOpacity($opacity) {
  @if ($opacity != null) {
    --sys-gradient-opacity: #{$opacity};
  }
}

@mixin gradientInit() {
  background-image: #{toGradient(#{getColorValueSys('gradient')})};
}

/* Border */

@mixin borderColor($color, $opacity: null) {
  @if (isColorRbgOrVar($color)) {
    @include colorSys('border', $color);
    @include borderOpacity($opacity);
    @include borderInit;
  } @else {
    border-color: $color;
  }
}

@mixin borderOpacity($opacity) {
  @if ($opacity != null) {
    --sys-border-opacity: #{$opacity};
  }
}

@mixin borderInit() {
  border-color: getColorValueSys('border');
}

/* As */

@mixin backgroundAsColor() {
  @include backgroundColor(var(--sys-color), var(--sys-color-opacity));
}
