@mixin transformGlobal {
  --sys-transform-translateX: 0px;
  --sys-transform-translateY: 0px;
  --sys-transform-scale: 1;
  --sys-transform-rotate: 0;
}

@mixin translateX($value) {
  @include translateInit;
  --sys-transform-translateX: #{$value};
}

@mixin translateY($value) {
  @include translateInit;
  --sys-transform-translateY: #{$value};
}

@mixin scale($value) {
  @include translateInit;
  --sys-transform-scale: #{$value};
}

@mixin rotate($value) {
  @include translateInit;
  --sys-transform-rotate: #{$value};
}

@mixin translateInit {
  transform: translateX(#{calc(var(--sys-transform-translateX, 0px) * var(--d-dir))}) translateY(var(--sys-transform-translateY, 0px)) scale(var(--sys-transform-scale, 1)) rotate(var(--sys-transform-rotate, 0));
}
