@import "../../styles/all";

.md2-dark {
  --md2-ref-background-0: rgb(18, 18, 18);
  --md2-ref-background-1: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
  --md2-ref-background-2: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), #121212;
  --md2-ref-background-3: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), #121212;
  --md2-ref-background-4: linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)), #121212;
  --md2-ref-background-6: linear-gradient(0deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11)), #121212;
  --md2-ref-background-8: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #121212;
  --md2-ref-background-12: linear-gradient(0deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14)), #121212;
  --md2-ref-background-16: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), #121212;
  --md2-ref-background-24: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
  --md2-sys-palette-primary: var(--md2-ref-palette-blue-200);
  --md2-sys-palette-primaryVariant: var(--md2-ref-palette-blue-700);
  --md2-sys-palette-secondary: var(--md2-ref-palette-amber-200);
  --md2-sys-palette-secondaryVariant: var(--md2-ref-palette-amber-200);
  --md2-sys-palette-background: var(--md2-ref-palette-blackLight);
  --md2-sys-palette-surface: var(--md2-ref-palette-blackLight);
  --md2-sys-palette-success: var(--md2-ref-palette-green-700);
  --md2-sys-palette-warning: var(--md2-ref-palette-yellow-700);
  --md2-sys-palette-error: var(--md2-ref-palette-red-700);
  --md2-sys-palette-disabled: var(--md2-ref-palette-white);
  --md2-sys-palette-onPrimary: var(--md2-ref-palette-black);
  --md2-sys-palette-onSecondary: var(--md2-ref-palette-black);
  --md2-sys-palette-onBackground: var(--md2-ref-palette-white);
  --md2-sys-palette-onSurface: var(--md2-ref-palette-white);
  --md2-sys-palette-onSuccess: var(--md2-ref-palette-black);
  --md2-sys-palette-onWarning: var(--md2-ref-palette-black);
  --md2-sys-palette-onError: var(--md2-ref-palette-black);
  --md2-sys-palette-outline: var(--md2-ref-palette-white);
  --md2-sys-palette-white: var(--md2-ref-palette-white);
  --md2-sys-palette-black: var(--md2-ref-palette-blackLight);
  --md2-sys-palette-overlay: var(--md2-ref-palette-white);
}

.md2-elevation {
  
  &--0 {
      background: var(--md2-ref-background-0);
      box-shadow: var(--md2-ref-shadow-0);
      z-index: var(--md2-ref-index-0);
  }
  
  &--1 {
      background: var(--md2-ref-background-1);
      box-shadow: var(--md2-ref-shadow-1);
      z-index: var(--md2-ref-index-1);
  }
  
  &--2 {
      background: var(--md2-ref-background-2);
      box-shadow: var(--md2-ref-shadow-2);
      z-index: var(--md2-ref-index-2);
  }
  
  &--3 {
      background: var(--md2-ref-background-3);
      box-shadow: var(--md2-ref-shadow-3);
      z-index: var(--md2-ref-index-3);
  }
  
  &--4 {
      background: var(--md2-ref-background-4);
      box-shadow: var(--md2-ref-shadow-4);
      z-index: var(--md2-ref-index-4);
  }
  
  &--6 {
      background: var(--md2-ref-background-6);
      box-shadow: var(--md2-ref-shadow-6);
      z-index: var(--md2-ref-index-6);
  }
  
  &--8 {
      background: var(--md2-ref-background-8);
      box-shadow: var(--md2-ref-shadow-8);
      z-index: var(--md2-ref-index-8);
  }
  
  &--12 {
      background: var(--md2-ref-background-12);
      box-shadow: var(--md2-ref-shadow-12);
      z-index: var(--md2-ref-index-12);
  }
  
  &--16 {
      background: var(--md2-ref-background-16);
      box-shadow: var(--md2-ref-shadow-16);
      z-index: var(--md2-ref-index-16);
  }
  
  &--24 {
      background: var(--md2-ref-background-24);
      box-shadow: var(--md2-ref-shadow-24);
      z-index: var(--md2-ref-index-24);
  }
}

.md2-grid {
  grid-template-columns: repeat(var(--md2-sys-grid-xs), minmax(0, 1fr));
  column-gap: var(--md2-sys-gap-xs);
}

.md2-font {
  
  &--overline {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-xs)});
      @include lineHeight(#{var(--md2-ref-lineHeight-sm)});
      letter-spacing: var(--md2-ref-letterSpacing-3xl);
      text-transform: uppercase;
  }
  
  &--caption {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-normal);
      @include fontSize(#{var(--md2-ref-font-size-sm)});
      @include lineHeight(#{var(--md2-ref-lineHeight-sm)});
      letter-spacing: var(--md2-ref-letterSpacing-lg);
      text-transform: none;
  }
  
  &--button {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-md)});
      @include lineHeight(#{var(--md2-ref-lineHeight-sm)});
      letter-spacing: var(--md2-ref-letterSpacing-2xl);
      text-transform: uppercase;
  }
  
  &--body2 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-normal);
      @include fontSize(#{var(--md2-ref-font-size-md)});
      @include lineHeight(#{var(--md2-ref-lineHeight-sm)});
      letter-spacing: var(--md2-ref-letterSpacing-md);
      text-transform: none;
  }
  
  &--body1 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-normal);
      @include fontSize(#{var(--md2-ref-font-size-lg)});
      @include lineHeight(#{var(--md2-ref-lineHeight-lg)});
      letter-spacing: var(--md2-ref-letterSpacing-xl);
      text-transform: none;
  }
  
  &--subtitle2 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-md)});
      @include lineHeight(#{var(--md2-ref-lineHeight-lg)});
      letter-spacing: var(--md2-ref-letterSpacing-xs);
      text-transform: none;
  }
  
  &--subtitle1 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-normal);
      @include fontSize(#{var(--md2-ref-font-size-lg)});
      @include lineHeight(#{var(--md2-ref-lineHeight-lg)});
      letter-spacing: var(--md2-ref-letterSpacing-sm);
      text-transform: none;
  }
  
  &--headline6 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-headline-6)});
      @include lineHeight(#{var(--md2-ref-lineHeight-headline-6)});
      letter-spacing: var(--md2-ref-letterSpacing-headline-6);
      text-transform: none;
  }
  
  &--headline5 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-headline-5)});
      @include lineHeight(#{var(--md2-ref-lineHeight-headline-5)});
      letter-spacing: var(--md2-ref-letterSpacing-headline-5);
      text-transform: none;
  }
  
  &--headline4 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-headline-4)});
      @include lineHeight(#{var(--md2-ref-lineHeight-headline-4)});
      letter-spacing: var(--md2-ref-letterSpacing-headline-4);
      text-transform: none;
  }
  
  &--headline3 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-headline-3)});
      @include lineHeight(#{var(--md2-ref-lineHeight-headline-3)});
      letter-spacing: var(--md2-ref-letterSpacing-headline-3);
      text-transform: none;
  }
  
  &--headline2 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-headline-2)});
      @include lineHeight(#{var(--md2-ref-lineHeight-headline-2)});
      letter-spacing: var(--md2-ref-letterSpacing-headline-2);
      text-transform: none;
  }
  
  &--headline1 {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-headline-1)});
      @include lineHeight(#{var(--md2-ref-lineHeight-headline-1)});
      letter-spacing: var(--md2-ref-letterSpacing-headline-1);
      text-transform: none;
  }
  
  &--interactiveDisplay {
      font-family: var(--md2-ref-font-family-roboto);
      font-weight: var(--md2-ref-font-weight-bold);
      @include fontSize(#{var(--md2-ref-font-size-interactiveDisplay)});
      @include lineHeight(#{var(--md2-ref-lineHeight-interactiveDisplay)});
      letter-spacing: var(--md2-ref-letterSpacing-none);
      text-transform: none;
  }
}

.md2-rounded {
  
  &--none {
      border-radius: var(--md2-sys-rounded-none);
  }
  
  &--standard {
      border-radius: var(--md2-sys-rounded-standard);
  }
  
  &--sm {
      border-radius: var(--md2-sys-rounded-sm);
  }
  
  &--md {
      border-radius: var(--md2-sys-rounded-md);
  }
  
  &--lg {
      border-radius: var(--md2-sys-rounded-lg);
  }
  
  &--xl {
      border-radius: var(--md2-sys-rounded-xl);
  }
  
  &--full {
      border-radius: var(--md2-sys-rounded-full);
  }
}

.md2-main {
  font-family: var(--md2-ref-font-family-roboto);
  font-weight: var(--md2-ref-font-weight-normal);
  @include fontSize(#{var(--md2-ref-font-size-lg)});
  @include lineHeight(#{var(--md2-ref-lineHeight-lg)});
  letter-spacing: var(--md2-ref-letterSpacing-xl);
  text-transform: none;
  @include color(#{var(--md2-sys-palette-onSurface)});
  @include colorOpacity(#{var(--md2-sys-opacity-surface-high)});
  background: var(--md2-ref-background-0);
}

.md2-palette {
  
  &--red {
      --md2-palette-basic-50: var(--md2-ref-palette-red-50);
      --md2-palette-basic-100: var(--md2-ref-palette-red-100);
      --md2-palette-basic-200: var(--md2-ref-palette-red-200);
      --md2-palette-basic-300: var(--md2-ref-palette-red-300);
      --md2-palette-basic-400: var(--md2-ref-palette-red-400);
      --md2-palette-basic-500: var(--md2-ref-palette-red-500);
      --md2-palette-basic-600: var(--md2-ref-palette-red-600);
      --md2-palette-basic-700: var(--md2-ref-palette-red-700);
      --md2-palette-basic-800: var(--md2-ref-palette-red-800);
      --md2-palette-basic-900: var(--md2-ref-palette-red-900);
      --sys-palette: var(--md2-ref-palette-red-500);
  }
  
  &--pink {
      --md2-palette-basic-50: var(--md2-ref-palette-pink-50);
      --md2-palette-basic-100: var(--md2-ref-palette-pink-100);
      --md2-palette-basic-200: var(--md2-ref-palette-pink-200);
      --md2-palette-basic-300: var(--md2-ref-palette-pink-300);
      --md2-palette-basic-400: var(--md2-ref-palette-pink-400);
      --md2-palette-basic-500: var(--md2-ref-palette-pink-500);
      --md2-palette-basic-600: var(--md2-ref-palette-pink-600);
      --md2-palette-basic-700: var(--md2-ref-palette-pink-700);
      --md2-palette-basic-800: var(--md2-ref-palette-pink-800);
      --md2-palette-basic-900: var(--md2-ref-palette-pink-900);
      --sys-palette: var(--md2-ref-palette-pink-500);
  }
  
  &--purple {
      --md2-palette-basic-50: var(--md2-ref-palette-purple-50);
      --md2-palette-basic-100: var(--md2-ref-palette-purple-100);
      --md2-palette-basic-200: var(--md2-ref-palette-purple-200);
      --md2-palette-basic-300: var(--md2-ref-palette-purple-300);
      --md2-palette-basic-400: var(--md2-ref-palette-purple-400);
      --md2-palette-basic-500: var(--md2-ref-palette-purple-500);
      --md2-palette-basic-600: var(--md2-ref-palette-purple-600);
      --md2-palette-basic-700: var(--md2-ref-palette-purple-700);
      --md2-palette-basic-800: var(--md2-ref-palette-purple-800);
      --md2-palette-basic-900: var(--md2-ref-palette-purple-900);
      --sys-palette: var(--md2-ref-palette-purple-500);
  }
  
  &--deepPurple {
      --md2-palette-basic-50: var(--md2-ref-palette-deepPurple-50);
      --md2-palette-basic-100: var(--md2-ref-palette-deepPurple-100);
      --md2-palette-basic-200: var(--md2-ref-palette-deepPurple-200);
      --md2-palette-basic-300: var(--md2-ref-palette-deepPurple-300);
      --md2-palette-basic-400: var(--md2-ref-palette-deepPurple-400);
      --md2-palette-basic-500: var(--md2-ref-palette-deepPurple-500);
      --md2-palette-basic-600: var(--md2-ref-palette-deepPurple-600);
      --md2-palette-basic-700: var(--md2-ref-palette-deepPurple-700);
      --md2-palette-basic-800: var(--md2-ref-palette-deepPurple-800);
      --md2-palette-basic-900: var(--md2-ref-palette-deepPurple-900);
      --sys-palette: var(--md2-ref-palette-deepPurple-500);
  }
  
  &--indigo {
      --md2-palette-basic-50: var(--md2-ref-palette-indigo-50);
      --md2-palette-basic-100: var(--md2-ref-palette-indigo-100);
      --md2-palette-basic-200: var(--md2-ref-palette-indigo-200);
      --md2-palette-basic-300: var(--md2-ref-palette-indigo-300);
      --md2-palette-basic-400: var(--md2-ref-palette-indigo-400);
      --md2-palette-basic-500: var(--md2-ref-palette-indigo-500);
      --md2-palette-basic-600: var(--md2-ref-palette-indigo-600);
      --md2-palette-basic-700: var(--md2-ref-palette-indigo-700);
      --md2-palette-basic-800: var(--md2-ref-palette-indigo-800);
      --md2-palette-basic-900: var(--md2-ref-palette-indigo-900);
      --sys-palette: var(--md2-ref-palette-indigo-500);
  }
  
  &--blue {
      --md2-palette-basic-50: var(--md2-ref-palette-blue-50);
      --md2-palette-basic-100: var(--md2-ref-palette-blue-100);
      --md2-palette-basic-200: var(--md2-ref-palette-blue-200);
      --md2-palette-basic-300: var(--md2-ref-palette-blue-300);
      --md2-palette-basic-400: var(--md2-ref-palette-blue-400);
      --md2-palette-basic-500: var(--md2-ref-palette-blue-500);
      --md2-palette-basic-600: var(--md2-ref-palette-blue-600);
      --md2-palette-basic-700: var(--md2-ref-palette-blue-700);
      --md2-palette-basic-800: var(--md2-ref-palette-blue-800);
      --md2-palette-basic-900: var(--md2-ref-palette-blue-900);
      --sys-palette: var(--md2-ref-palette-blue-500);
  }
  
  &--lightBlue {
      --md2-palette-basic-50: var(--md2-ref-palette-lightBlue-50);
      --md2-palette-basic-100: var(--md2-ref-palette-lightBlue-100);
      --md2-palette-basic-200: var(--md2-ref-palette-lightBlue-200);
      --md2-palette-basic-300: var(--md2-ref-palette-lightBlue-300);
      --md2-palette-basic-400: var(--md2-ref-palette-lightBlue-400);
      --md2-palette-basic-500: var(--md2-ref-palette-lightBlue-500);
      --md2-palette-basic-600: var(--md2-ref-palette-lightBlue-600);
      --md2-palette-basic-700: var(--md2-ref-palette-lightBlue-700);
      --md2-palette-basic-800: var(--md2-ref-palette-lightBlue-800);
      --md2-palette-basic-900: var(--md2-ref-palette-lightBlue-900);
      --sys-palette: var(--md2-ref-palette-lightBlue-500);
  }
  
  &--cyan {
      --md2-palette-basic-50: var(--md2-ref-palette-cyan-50);
      --md2-palette-basic-100: var(--md2-ref-palette-cyan-100);
      --md2-palette-basic-200: var(--md2-ref-palette-cyan-200);
      --md2-palette-basic-300: var(--md2-ref-palette-cyan-300);
      --md2-palette-basic-400: var(--md2-ref-palette-cyan-400);
      --md2-palette-basic-500: var(--md2-ref-palette-cyan-500);
      --md2-palette-basic-600: var(--md2-ref-palette-cyan-600);
      --md2-palette-basic-700: var(--md2-ref-palette-cyan-700);
      --md2-palette-basic-800: var(--md2-ref-palette-cyan-800);
      --md2-palette-basic-900: var(--md2-ref-palette-cyan-900);
      --sys-palette: var(--md2-ref-palette-cyan-500);
  }
  
  &--teal {
      --md2-palette-basic-50: var(--md2-ref-palette-teal-50);
      --md2-palette-basic-100: var(--md2-ref-palette-teal-100);
      --md2-palette-basic-200: var(--md2-ref-palette-teal-200);
      --md2-palette-basic-300: var(--md2-ref-palette-teal-300);
      --md2-palette-basic-400: var(--md2-ref-palette-teal-400);
      --md2-palette-basic-500: var(--md2-ref-palette-teal-500);
      --md2-palette-basic-600: var(--md2-ref-palette-teal-600);
      --md2-palette-basic-700: var(--md2-ref-palette-teal-700);
      --md2-palette-basic-800: var(--md2-ref-palette-teal-800);
      --md2-palette-basic-900: var(--md2-ref-palette-teal-900);
      --sys-palette: var(--md2-ref-palette-teal-500);
  }
  
  &--green {
      --md2-palette-basic-50: var(--md2-ref-palette-green-50);
      --md2-palette-basic-100: var(--md2-ref-palette-green-100);
      --md2-palette-basic-200: var(--md2-ref-palette-green-200);
      --md2-palette-basic-300: var(--md2-ref-palette-green-300);
      --md2-palette-basic-400: var(--md2-ref-palette-green-400);
      --md2-palette-basic-500: var(--md2-ref-palette-green-500);
      --md2-palette-basic-600: var(--md2-ref-palette-green-600);
      --md2-palette-basic-700: var(--md2-ref-palette-green-700);
      --md2-palette-basic-800: var(--md2-ref-palette-green-800);
      --md2-palette-basic-900: var(--md2-ref-palette-green-900);
      --sys-palette: var(--md2-ref-palette-green-500);
  }
  
  &--lightGreen {
      --md2-palette-basic-50: var(--md2-ref-palette-lightGreen-50);
      --md2-palette-basic-100: var(--md2-ref-palette-lightGreen-100);
      --md2-palette-basic-200: var(--md2-ref-palette-lightGreen-200);
      --md2-palette-basic-300: var(--md2-ref-palette-lightGreen-300);
      --md2-palette-basic-400: var(--md2-ref-palette-lightGreen-400);
      --md2-palette-basic-500: var(--md2-ref-palette-lightGreen-500);
      --md2-palette-basic-600: var(--md2-ref-palette-lightGreen-600);
      --md2-palette-basic-700: var(--md2-ref-palette-lightGreen-700);
      --md2-palette-basic-800: var(--md2-ref-palette-lightGreen-800);
      --md2-palette-basic-900: var(--md2-ref-palette-lightGreen-900);
      --sys-palette: var(--md2-ref-palette-lightGreen-500);
  }
  
  &--lime {
      --md2-palette-basic-50: var(--md2-ref-palette-lime-50);
      --md2-palette-basic-100: var(--md2-ref-palette-lime-100);
      --md2-palette-basic-200: var(--md2-ref-palette-lime-200);
      --md2-palette-basic-300: var(--md2-ref-palette-lime-300);
      --md2-palette-basic-400: var(--md2-ref-palette-lime-400);
      --md2-palette-basic-500: var(--md2-ref-palette-lime-500);
      --md2-palette-basic-600: var(--md2-ref-palette-lime-600);
      --md2-palette-basic-700: var(--md2-ref-palette-lime-700);
      --md2-palette-basic-800: var(--md2-ref-palette-lime-800);
      --md2-palette-basic-900: var(--md2-ref-palette-lime-900);
      --sys-palette: var(--md2-ref-palette-lime-500);
  }
  
  &--yellow {
      --md2-palette-basic-50: var(--md2-ref-palette-yellow-50);
      --md2-palette-basic-100: var(--md2-ref-palette-yellow-100);
      --md2-palette-basic-200: var(--md2-ref-palette-yellow-200);
      --md2-palette-basic-300: var(--md2-ref-palette-yellow-300);
      --md2-palette-basic-400: var(--md2-ref-palette-yellow-400);
      --md2-palette-basic-500: var(--md2-ref-palette-yellow-500);
      --md2-palette-basic-600: var(--md2-ref-palette-yellow-600);
      --md2-palette-basic-700: var(--md2-ref-palette-yellow-700);
      --md2-palette-basic-800: var(--md2-ref-palette-yellow-800);
      --md2-palette-basic-900: var(--md2-ref-palette-yellow-900);
      --sys-palette: var(--md2-ref-palette-yellow-500);
  }
  
  &--amber {
      --md2-palette-basic-50: var(--md2-ref-palette-amber-50);
      --md2-palette-basic-100: var(--md2-ref-palette-amber-100);
      --md2-palette-basic-200: var(--md2-ref-palette-amber-200);
      --md2-palette-basic-300: var(--md2-ref-palette-amber-300);
      --md2-palette-basic-400: var(--md2-ref-palette-amber-400);
      --md2-palette-basic-500: var(--md2-ref-palette-amber-500);
      --md2-palette-basic-600: var(--md2-ref-palette-amber-600);
      --md2-palette-basic-700: var(--md2-ref-palette-amber-700);
      --md2-palette-basic-800: var(--md2-ref-palette-amber-800);
      --md2-palette-basic-900: var(--md2-ref-palette-amber-900);
      --sys-palette: var(--md2-ref-palette-amber-500);
  }
  
  &--orange {
      --md2-palette-basic-50: var(--md2-ref-palette-orange-50);
      --md2-palette-basic-100: var(--md2-ref-palette-orange-100);
      --md2-palette-basic-200: var(--md2-ref-palette-orange-200);
      --md2-palette-basic-300: var(--md2-ref-palette-orange-300);
      --md2-palette-basic-400: var(--md2-ref-palette-orange-400);
      --md2-palette-basic-500: var(--md2-ref-palette-orange-500);
      --md2-palette-basic-600: var(--md2-ref-palette-orange-600);
      --md2-palette-basic-700: var(--md2-ref-palette-orange-700);
      --md2-palette-basic-800: var(--md2-ref-palette-orange-800);
      --md2-palette-basic-900: var(--md2-ref-palette-orange-900);
      --sys-palette: var(--md2-ref-palette-orange-500);
  }
  
  &--deepOrange {
      --md2-palette-basic-50: var(--md2-ref-palette-deepOrange-50);
      --md2-palette-basic-100: var(--md2-ref-palette-deepOrange-100);
      --md2-palette-basic-200: var(--md2-ref-palette-deepOrange-200);
      --md2-palette-basic-300: var(--md2-ref-palette-deepOrange-300);
      --md2-palette-basic-400: var(--md2-ref-palette-deepOrange-400);
      --md2-palette-basic-500: var(--md2-ref-palette-deepOrange-500);
      --md2-palette-basic-600: var(--md2-ref-palette-deepOrange-600);
      --md2-palette-basic-700: var(--md2-ref-palette-deepOrange-700);
      --md2-palette-basic-800: var(--md2-ref-palette-deepOrange-800);
      --md2-palette-basic-900: var(--md2-ref-palette-deepOrange-900);
      --sys-palette: var(--md2-ref-palette-deepOrange-500);
  }
  
  &--brown {
      --md2-palette-basic-50: var(--md2-ref-palette-brown-50);
      --md2-palette-basic-100: var(--md2-ref-palette-brown-100);
      --md2-palette-basic-200: var(--md2-ref-palette-brown-200);
      --md2-palette-basic-300: var(--md2-ref-palette-brown-300);
      --md2-palette-basic-400: var(--md2-ref-palette-brown-400);
      --md2-palette-basic-500: var(--md2-ref-palette-brown-500);
      --md2-palette-basic-600: var(--md2-ref-palette-brown-600);
      --md2-palette-basic-700: var(--md2-ref-palette-brown-700);
      --md2-palette-basic-800: var(--md2-ref-palette-brown-800);
      --md2-palette-basic-900: var(--md2-ref-palette-brown-900);
      --sys-palette: var(--md2-ref-palette-brown-500);
  }
  
  &--grey {
      --md2-palette-basic-50: var(--md2-ref-palette-grey-50);
      --md2-palette-basic-100: var(--md2-ref-palette-grey-100);
      --md2-palette-basic-200: var(--md2-ref-palette-grey-200);
      --md2-palette-basic-300: var(--md2-ref-palette-grey-300);
      --md2-palette-basic-400: var(--md2-ref-palette-grey-400);
      --md2-palette-basic-500: var(--md2-ref-palette-grey-500);
      --md2-palette-basic-600: var(--md2-ref-palette-grey-600);
      --md2-palette-basic-700: var(--md2-ref-palette-grey-700);
      --md2-palette-basic-800: var(--md2-ref-palette-grey-800);
      --md2-palette-basic-900: var(--md2-ref-palette-grey-900);
      --sys-palette: var(--md2-ref-palette-grey-500);
  }
  
  &--greyBlue {
      --md2-palette-basic-50: var(--md2-ref-palette-greyBlue-50);
      --md2-palette-basic-100: var(--md2-ref-palette-greyBlue-100);
      --md2-palette-basic-200: var(--md2-ref-palette-greyBlue-200);
      --md2-palette-basic-300: var(--md2-ref-palette-greyBlue-300);
      --md2-palette-basic-400: var(--md2-ref-palette-greyBlue-400);
      --md2-palette-basic-500: var(--md2-ref-palette-greyBlue-500);
      --md2-palette-basic-600: var(--md2-ref-palette-greyBlue-600);
      --md2-palette-basic-700: var(--md2-ref-palette-greyBlue-700);
      --md2-palette-basic-800: var(--md2-ref-palette-greyBlue-800);
      --md2-palette-basic-900: var(--md2-ref-palette-greyBlue-900);
      --sys-palette: var(--md2-ref-palette-greyBlue-500);
  }
  
  &--white {
  }
  
  &--black {
  }
  
  &--blackLight {
  }
}