@import "styles/all";

:root {
  --md2-ref-background-0: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-1: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-2: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-3: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-4: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-6: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-8: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-12: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-16: rgb(var(--md2-ref-palette-white));
  --md2-ref-background-24: rgb(var(--md2-ref-palette-white));
  --md2-ref-body-840: 840px;
  --md2-ref-body-1040: 1040px;
  --md2-ref-body-auto: auto;
  --md2-ref-body-margin-0: 0px;
  --md2-ref-body-margin-4: var(--md2-ref-spacing-4);
  --md2-ref-body-margin-8: var(--md2-ref-spacing-8);
  --md2-ref-body-margin-200: calc(var(--md2-ref-spacing-px)*200);
  --md2-ref-font-family-roboto: Roboto;
  --md2-ref-font-size-xs: calc(var(--md2-ref-spacing-px)*10);
  --md2-ref-font-size-sm: calc(var(--md2-ref-spacing-px)*12);
  --md2-ref-font-size-md: calc(var(--md2-ref-spacing-px)*14);
  --md2-ref-font-size-lg: calc(var(--md2-ref-spacing-px)*16);
  --md2-ref-font-size-xl: calc(var(--md2-ref-spacing-px)*18);
  --md2-ref-font-size-2xl: calc(var(--md2-ref-spacing-px)*20);
  --md2-ref-font-size-headline-1: calc(var(--md2-ref-spacing-px)*96);
  --md2-ref-font-size-headline-2: calc(var(--md2-ref-spacing-px)*60);
  --md2-ref-font-size-headline-3: calc(var(--md2-ref-spacing-px)*48);
  --md2-ref-font-size-headline-4: calc(var(--md2-ref-spacing-px)*34);
  --md2-ref-font-size-headline-5: calc(var(--md2-ref-spacing-px)*24);
  --md2-ref-font-size-headline-6: calc(var(--md2-ref-spacing-px)*20);
  --md2-ref-font-size-interactiveDisplay: calc(var(--md2-ref-spacing-px)*72);
  --md2-ref-font-weight-lighter: 300;
  --md2-ref-font-weight-normal: 400;
  --md2-ref-font-weight-bold: 500;
  --md2-ref-gap-4: var(--md2-ref-spacing-4);
  --md2-ref-gap-6: var(--md2-ref-spacing-6);
  --md2-ref-gap-8: var(--md2-ref-spacing-8);
  --md2-ref-grid-4: 4;
  --md2-ref-grid-8: 8;
  --md2-ref-grid-12: 12;
  --md2-ref-index-1: 100;
  --md2-ref-index-2: 200;
  --md2-ref-index-3: 300;
  --md2-ref-index-4: 400;
  --md2-ref-index-6: 600;
  --md2-ref-index-8: 800;
  --md2-ref-index-12: 1200;
  --md2-ref-index-16: 1600;
  --md2-ref-index-24: 2400;
  --md2-ref-letterSpacing-xs: calc(var(--md2-ref-spacing-px)*.1);
  --md2-ref-letterSpacing-sm: calc(var(--md2-ref-spacing-px)*.15);
  --md2-ref-letterSpacing-md: calc(var(--md2-ref-spacing-px)*.25);
  --md2-ref-letterSpacing-lg: calc(var(--md2-ref-spacing-px)*.4);
  --md2-ref-letterSpacing-xl: calc(var(--md2-ref-spacing-px)*.5);
  --md2-ref-letterSpacing-2xl: calc(var(--md2-ref-spacing-px)*1.25);
  --md2-ref-letterSpacing-3xl: calc(var(--md2-ref-spacing-px)*1.5);
  --md2-ref-letterSpacing-headline-1: calc(var(--md2-ref-spacing-px)*-1.5);
  --md2-ref-letterSpacing-headline-2: calc(var(--md2-ref-spacing-px)*-0.5);
  --md2-ref-letterSpacing-headline-5: calc(var(--md2-ref-spacing-px)*.18);
  --md2-ref-letterSpacing-headline-6: calc(var(--md2-ref-spacing-px)*.15);
  --md2-ref-lineHeight-sm: var(--md2-ref-spacing-4);
  --md2-ref-lineHeight-md: var(--md2-ref-spacing-5);
  --md2-ref-lineHeight-lg: var(--md2-ref-spacing-6);
  --md2-ref-lineHeight-xl: var(--md2-ref-spacing-7);
  --md2-ref-lineHeight-headline-1: calc(var(--md2-ref-spacing-px)*112);
  --md2-ref-lineHeight-headline-2: calc(var(--md2-ref-spacing-px)*72);
  --md2-ref-lineHeight-headline-3: calc(var(--md2-ref-spacing-px)*56);
  --md2-ref-lineHeight-headline-4: calc(var(--md2-ref-spacing-px)*36);
  --md2-ref-lineHeight-headline-5: calc(var(--md2-ref-spacing-px)*24);
  --md2-ref-lineHeight-headline-6: calc(var(--md2-ref-spacing-px)*24);
  --md2-ref-lineHeight-interactiveDisplay: calc(var(--md2-ref-spacing-px)*88);
  --md2-ref-opacity-2: 0.02;
  --md2-ref-opacity-4: 0.04;
  --md2-ref-opacity-8: 0.08;
  --md2-ref-opacity-10: 0.10;
  --md2-ref-opacity-12: 0.12;
  --md2-ref-opacity-16: 0.16;
  --md2-ref-opacity-24: 0.24;
  --md2-ref-opacity-32: 0.32;
  --md2-ref-opacity-100: 1;
  --md2-ref-opacity-primary-high: 1;
  --md2-ref-opacity-primary-medium: 0.74;
  --md2-ref-opacity-primary-disabled: 0.38;
  --md2-ref-opacity-surface-high: 0.87;
  --md2-ref-opacity-surface-medium: 0.60;
  --md2-ref-opacity-surface-disabled: 0.38;
  --md2-ref-palette-red-50: #{toColorRbg(#ffebee)};
  --md2-ref-palette-red-100: #{toColorRbg(#ffcdd2)};
  --md2-ref-palette-red-200: #{toColorRbg(#ef9a9a)};
  --md2-ref-palette-red-300: #{toColorRbg(#e57373)};
  --md2-ref-palette-red-400: #{toColorRbg(#ef5350)};
  --md2-ref-palette-red-500: #{toColorRbg(#f44336)};
  --md2-ref-palette-red-600: #{toColorRbg(#e53935)};
  --md2-ref-palette-red-700: #{toColorRbg(#d32f2f)};
  --md2-ref-palette-red-800: #{toColorRbg(#c62828)};
  --md2-ref-palette-red-900: #{toColorRbg(#b71c1c)};
  --md2-ref-palette-pink-50: #{toColorRbg(#fce4ec)};
  --md2-ref-palette-pink-100: #{toColorRbg(#f8bbd0)};
  --md2-ref-palette-pink-200: #{toColorRbg(#f48fb1)};
  --md2-ref-palette-pink-300: #{toColorRbg(#f06292)};
  --md2-ref-palette-pink-400: #{toColorRbg(#ec407a)};
  --md2-ref-palette-pink-500: #{toColorRbg(#e91e63)};
  --md2-ref-palette-pink-600: #{toColorRbg(#d81b60)};
  --md2-ref-palette-pink-700: #{toColorRbg(#c2185b)};
  --md2-ref-palette-pink-800: #{toColorRbg(#ad1457)};
  --md2-ref-palette-pink-900: #{toColorRbg(#880e4f)};
  --md2-ref-palette-purple-50: #{toColorRbg(#f3e5f5)};
  --md2-ref-palette-purple-100: #{toColorRbg(#e1bee7)};
  --md2-ref-palette-purple-200: #{toColorRbg(#ce93d8)};
  --md2-ref-palette-purple-300: #{toColorRbg(#ba68c8)};
  --md2-ref-palette-purple-400: #{toColorRbg(#ab47bc)};
  --md2-ref-palette-purple-500: #{toColorRbg(#9c27b0)};
  --md2-ref-palette-purple-600: #{toColorRbg(#8e24aa)};
  --md2-ref-palette-purple-700: #{toColorRbg(#7b1fa2)};
  --md2-ref-palette-purple-800: #{toColorRbg(#6a1b9a)};
  --md2-ref-palette-purple-900: #{toColorRbg(#4a148c)};
  --md2-ref-palette-deepPurple-50: #{toColorRbg(#ede7f6)};
  --md2-ref-palette-deepPurple-100: #{toColorRbg(#d1c4e9)};
  --md2-ref-palette-deepPurple-200: #{toColorRbg(#b39ddb)};
  --md2-ref-palette-deepPurple-300: #{toColorRbg(#9575cd)};
  --md2-ref-palette-deepPurple-400: #{toColorRbg(#7e57c2)};
  --md2-ref-palette-deepPurple-500: #{toColorRbg(#673ab7)};
  --md2-ref-palette-deepPurple-600: #{toColorRbg(#5e35b1)};
  --md2-ref-palette-deepPurple-700: #{toColorRbg(#512da8)};
  --md2-ref-palette-deepPurple-800: #{toColorRbg(#4527a0)};
  --md2-ref-palette-deepPurple-900: #{toColorRbg(#311b92)};
  --md2-ref-palette-indigo-50: #{toColorRbg(#e8eaf6)};
  --md2-ref-palette-indigo-100: #{toColorRbg(#c5cae9)};
  --md2-ref-palette-indigo-200: #{toColorRbg(#9fa8da)};
  --md2-ref-palette-indigo-300: #{toColorRbg(#7986cb)};
  --md2-ref-palette-indigo-400: #{toColorRbg(#5c6bc0)};
  --md2-ref-palette-indigo-500: #{toColorRbg(#3f51b5)};
  --md2-ref-palette-indigo-600: #{toColorRbg(#3949ab)};
  --md2-ref-palette-indigo-700: #{toColorRbg(#303f9f)};
  --md2-ref-palette-indigo-800: #{toColorRbg(#283593)};
  --md2-ref-palette-indigo-900: #{toColorRbg(#1a237e)};
  --md2-ref-palette-blue-50: #{toColorRbg(#e3f2fd)};
  --md2-ref-palette-blue-100: #{toColorRbg(#bbdefb)};
  --md2-ref-palette-blue-200: #{toColorRbg(#90caf9)};
  --md2-ref-palette-blue-300: #{toColorRbg(#64b5f6)};
  --md2-ref-palette-blue-400: #{toColorRbg(#42a5f5)};
  --md2-ref-palette-blue-500: #{toColorRbg(#2196f3)};
  --md2-ref-palette-blue-600: #{toColorRbg(#1e88e5)};
  --md2-ref-palette-blue-700: #{toColorRbg(#1976d2)};
  --md2-ref-palette-blue-800: #{toColorRbg(#1565c0)};
  --md2-ref-palette-blue-900: #{toColorRbg(#0d47a1)};
  --md2-ref-palette-lightBlue-50: #{toColorRbg(#e1f5fe)};
  --md2-ref-palette-lightBlue-100: #{toColorRbg(#b3e5fc)};
  --md2-ref-palette-lightBlue-200: #{toColorRbg(#81d4fa)};
  --md2-ref-palette-lightBlue-300: #{toColorRbg(#4fc3f7)};
  --md2-ref-palette-lightBlue-400: #{toColorRbg(#29b6f6)};
  --md2-ref-palette-lightBlue-500: #{toColorRbg(#03a9f4)};
  --md2-ref-palette-lightBlue-600: #{toColorRbg(#039be5)};
  --md2-ref-palette-lightBlue-700: #{toColorRbg(#0288d1)};
  --md2-ref-palette-lightBlue-800: #{toColorRbg(#0277bd)};
  --md2-ref-palette-lightBlue-900: #{toColorRbg(#01579b)};
  --md2-ref-palette-cyan-50: #{toColorRbg(#e0f7fa)};
  --md2-ref-palette-cyan-100: #{toColorRbg(#b2ebf2)};
  --md2-ref-palette-cyan-200: #{toColorRbg(#80deea)};
  --md2-ref-palette-cyan-300: #{toColorRbg(#4dd0e1)};
  --md2-ref-palette-cyan-400: #{toColorRbg(#26c6da)};
  --md2-ref-palette-cyan-500: #{toColorRbg(#00bcd4)};
  --md2-ref-palette-cyan-600: #{toColorRbg(#00acc1)};
  --md2-ref-palette-cyan-700: #{toColorRbg(#0097a7)};
  --md2-ref-palette-cyan-800: #{toColorRbg(#00838f)};
  --md2-ref-palette-cyan-900: #{toColorRbg(#006064)};
  --md2-ref-palette-teal-50: #{toColorRbg(#e0f2f1)};
  --md2-ref-palette-teal-100: #{toColorRbg(#b2dfdb)};
  --md2-ref-palette-teal-200: #{toColorRbg(#80cbc4)};
  --md2-ref-palette-teal-300: #{toColorRbg(#4db6ac)};
  --md2-ref-palette-teal-400: #{toColorRbg(#26a69a)};
  --md2-ref-palette-teal-500: #{toColorRbg(#009688)};
  --md2-ref-palette-teal-600: #{toColorRbg(#00897b)};
  --md2-ref-palette-teal-700: #{toColorRbg(#00796b)};
  --md2-ref-palette-teal-800: #{toColorRbg(#00695c)};
  --md2-ref-palette-teal-900: #{toColorRbg(#004d40)};
  --md2-ref-palette-green-50: #{toColorRbg(#e8f5e9)};
  --md2-ref-palette-green-100: #{toColorRbg(#c8e6c9)};
  --md2-ref-palette-green-200: #{toColorRbg(#a5d6a7)};
  --md2-ref-palette-green-300: #{toColorRbg(#81c784)};
  --md2-ref-palette-green-400: #{toColorRbg(#66bb6a)};
  --md2-ref-palette-green-500: #{toColorRbg(#4caf50)};
  --md2-ref-palette-green-600: #{toColorRbg(#43a047)};
  --md2-ref-palette-green-700: #{toColorRbg(#388e3c)};
  --md2-ref-palette-green-800: #{toColorRbg(#2e7d32)};
  --md2-ref-palette-green-900: #{toColorRbg(#1b5e20)};
  --md2-ref-palette-lightGreen-50: #{toColorRbg(#f1f8e9)};
  --md2-ref-palette-lightGreen-100: #{toColorRbg(#dcedc8)};
  --md2-ref-palette-lightGreen-200: #{toColorRbg(#c5e1a5)};
  --md2-ref-palette-lightGreen-300: #{toColorRbg(#aed581)};
  --md2-ref-palette-lightGreen-400: #{toColorRbg(#9ccc65)};
  --md2-ref-palette-lightGreen-500: #{toColorRbg(#8bc34a)};
  --md2-ref-palette-lightGreen-600: #{toColorRbg(#7cb342)};
  --md2-ref-palette-lightGreen-700: #{toColorRbg(#689f38)};
  --md2-ref-palette-lightGreen-800: #{toColorRbg(#558b2f)};
  --md2-ref-palette-lightGreen-900: #{toColorRbg(#33691e)};
  --md2-ref-palette-lime-50: #{toColorRbg(#f9fbe7)};
  --md2-ref-palette-lime-100: #{toColorRbg(#f0f4c3)};
  --md2-ref-palette-lime-200: #{toColorRbg(#e6ee9c)};
  --md2-ref-palette-lime-300: #{toColorRbg(#dce775)};
  --md2-ref-palette-lime-400: #{toColorRbg(#d4e157)};
  --md2-ref-palette-lime-500: #{toColorRbg(#cddc39)};
  --md2-ref-palette-lime-600: #{toColorRbg(#c0ca33)};
  --md2-ref-palette-lime-700: #{toColorRbg(#afb42b)};
  --md2-ref-palette-lime-800: #{toColorRbg(#9e9d24)};
  --md2-ref-palette-lime-900: #{toColorRbg(#827717)};
  --md2-ref-palette-yellow-50: #{toColorRbg(#fffde7)};
  --md2-ref-palette-yellow-100: #{toColorRbg(#fff9c4)};
  --md2-ref-palette-yellow-200: #{toColorRbg(#fff59d)};
  --md2-ref-palette-yellow-300: #{toColorRbg(#fff176)};
  --md2-ref-palette-yellow-400: #{toColorRbg(#ffee58)};
  --md2-ref-palette-yellow-500: #{toColorRbg(#ffeb3b)};
  --md2-ref-palette-yellow-600: #{toColorRbg(#fdd835)};
  --md2-ref-palette-yellow-700: #{toColorRbg(#fbc02d)};
  --md2-ref-palette-yellow-800: #{toColorRbg(#f9a825)};
  --md2-ref-palette-yellow-900: #{toColorRbg(#f57f17)};
  --md2-ref-palette-amber-50: #{toColorRbg(#fff8e1)};
  --md2-ref-palette-amber-100: #{toColorRbg(#ffecb3)};
  --md2-ref-palette-amber-200: #{toColorRbg(#ffe082)};
  --md2-ref-palette-amber-300: #{toColorRbg(#ffd54f)};
  --md2-ref-palette-amber-400: #{toColorRbg(#ffca28)};
  --md2-ref-palette-amber-500: #{toColorRbg(#ffc107)};
  --md2-ref-palette-amber-600: #{toColorRbg(#ffb300)};
  --md2-ref-palette-amber-700: #{toColorRbg(#ffa000)};
  --md2-ref-palette-amber-800: #{toColorRbg(#ff8f00)};
  --md2-ref-palette-amber-900: #{toColorRbg(#ff6f00)};
  --md2-ref-palette-orange-50: #{toColorRbg(#fff3e0)};
  --md2-ref-palette-orange-100: #{toColorRbg(#ffe0b2)};
  --md2-ref-palette-orange-200: #{toColorRbg(#ffcc80)};
  --md2-ref-palette-orange-300: #{toColorRbg(#ffb74d)};
  --md2-ref-palette-orange-400: #{toColorRbg(#ffa726)};
  --md2-ref-palette-orange-500: #{toColorRbg(#ff9800)};
  --md2-ref-palette-orange-600: #{toColorRbg(#fb8c00)};
  --md2-ref-palette-orange-700: #{toColorRbg(#f57c00)};
  --md2-ref-palette-orange-800: #{toColorRbg(#ef6c00)};
  --md2-ref-palette-orange-900: #{toColorRbg(#e65100)};
  --md2-ref-palette-deepOrange-50: #{toColorRbg(#fbe9e7)};
  --md2-ref-palette-deepOrange-100: #{toColorRbg(#ffccbc)};
  --md2-ref-palette-deepOrange-200: #{toColorRbg(#ffab91)};
  --md2-ref-palette-deepOrange-300: #{toColorRbg(#ff8a65)};
  --md2-ref-palette-deepOrange-400: #{toColorRbg(#ff7043)};
  --md2-ref-palette-deepOrange-500: #{toColorRbg(#ff5722)};
  --md2-ref-palette-deepOrange-600: #{toColorRbg(#f4511e)};
  --md2-ref-palette-deepOrange-700: #{toColorRbg(#e64a19)};
  --md2-ref-palette-deepOrange-800: #{toColorRbg(#d84315)};
  --md2-ref-palette-deepOrange-900: #{toColorRbg(#bf360c)};
  --md2-ref-palette-brown-50: #{toColorRbg(#efebe9)};
  --md2-ref-palette-brown-100: #{toColorRbg(#d7ccc8)};
  --md2-ref-palette-brown-200: #{toColorRbg(#bcaaa4)};
  --md2-ref-palette-brown-300: #{toColorRbg(#a1887f)};
  --md2-ref-palette-brown-400: #{toColorRbg(#8d6e63)};
  --md2-ref-palette-brown-500: #{toColorRbg(#795548)};
  --md2-ref-palette-brown-600: #{toColorRbg(#6d4c41)};
  --md2-ref-palette-brown-700: #{toColorRbg(#5d4037)};
  --md2-ref-palette-brown-800: #{toColorRbg(#4e342e)};
  --md2-ref-palette-brown-900: #{toColorRbg(#3e2723)};
  --md2-ref-palette-grey-50: #{toColorRbg(#fafafa)};
  --md2-ref-palette-grey-100: #{toColorRbg(#f5f5f5)};
  --md2-ref-palette-grey-200: #{toColorRbg(#eeeeee)};
  --md2-ref-palette-grey-300: #{toColorRbg(#e0e0e0)};
  --md2-ref-palette-grey-400: #{toColorRbg(#bdbdbd)};
  --md2-ref-palette-grey-500: #{toColorRbg(#9e9e9e)};
  --md2-ref-palette-grey-600: #{toColorRbg(#757575)};
  --md2-ref-palette-grey-700: #{toColorRbg(#616161)};
  --md2-ref-palette-grey-800: #{toColorRbg(#424242)};
  --md2-ref-palette-grey-900: #{toColorRbg(#212121)};
  --md2-ref-palette-greyBlue-50: #{toColorRbg(#eceff1)};
  --md2-ref-palette-greyBlue-100: #{toColorRbg(#cfd8dc)};
  --md2-ref-palette-greyBlue-200: #{toColorRbg(#b0bec5)};
  --md2-ref-palette-greyBlue-300: #{toColorRbg(#90a4ae)};
  --md2-ref-palette-greyBlue-400: #{toColorRbg(#78909c)};
  --md2-ref-palette-greyBlue-500: #{toColorRbg(#607d8b)};
  --md2-ref-palette-greyBlue-600: #{toColorRbg(#546e7a)};
  --md2-ref-palette-greyBlue-700: #{toColorRbg(#455a64)};
  --md2-ref-palette-greyBlue-800: #{toColorRbg(#37474f)};
  --md2-ref-palette-greyBlue-900: #{toColorRbg(#263238)};
  --md2-ref-palette-white: #{toColorRbg(#ffffff)};
  --md2-ref-palette-black: #{toColorRbg(#000000)};
  --md2-ref-palette-blackLight: #{toColorRbg(#212121)};
  --md2-ref-rounded-1: var(--md2-ref-spacing-1);
  --md2-ref-rounded-2: var(--md2-ref-spacing-2);
  --md2-ref-rounded-4: var(--md2-ref-spacing-4);
  --md2-ref-rounded-6: var(--md2-ref-spacing-6);
  --md2-ref-rounded-8: var(--md2-ref-spacing-8);
  --md2-ref-rounded-12: var(--md2-ref-spacing-12);
  --md2-ref-rounded-16: var(--md2-ref-spacing-16);
  --md2-ref-rounded-full: var(--md2-ref-spacing-128);
  --md2-ref-screen-xs: 0px;
  --md2-ref-screen-sm: 600px;
  --md2-ref-screen-md: 905px;
  --md2-ref-screen-lg: 1240px;
  --md2-ref-screen-xl: 1440px;
  --md2-ref-shade-0: 50;
  --md2-ref-shade-1: 100;
  --md2-ref-shade-2: 200;
  --md2-ref-shade-3: 300;
  --md2-ref-shade-4: 400;
  --md2-ref-shade-5: 500;
  --md2-ref-shade-6: 600;
  --md2-ref-shade-7: 700;
  --md2-ref-shade-8: 800;
  --md2-ref-shade-9: 900;
  --md2-ref-shadow-0: none;
  --md2-ref-shadow-1: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  --md2-ref-shadow-2: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  --md2-ref-shadow-3: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12);
  --md2-ref-shadow-4: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  --md2-ref-shadow-6: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12);
  --md2-ref-shadow-8: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  --md2-ref-shadow-12: 0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12);
  --md2-ref-shadow-16: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
  --md2-ref-shadow-24: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
  --md2-ref-spacing-1: .25rem;
  --md2-ref-spacing-2: calc(var(--md2-ref-spacing-1)*2);
  --md2-ref-spacing-3: calc(var(--md2-ref-spacing-1)*3);
  --md2-ref-spacing-4: calc(var(--md2-ref-spacing-1)*4);
  --md2-ref-spacing-5: calc(var(--md2-ref-spacing-1)*5);
  --md2-ref-spacing-6: calc(var(--md2-ref-spacing-1)*6);
  --md2-ref-spacing-7: calc(var(--md2-ref-spacing-1)*7);
  --md2-ref-spacing-8: calc(var(--md2-ref-spacing-1)*8);
  --md2-ref-spacing-9: calc(var(--md2-ref-spacing-1)*9);
  --md2-ref-spacing-10: calc(var(--md2-ref-spacing-1)*10);
  --md2-ref-spacing-11: calc(var(--md2-ref-spacing-1)*11);
  --md2-ref-spacing-12: calc(var(--md2-ref-spacing-1)*12);
  --md2-ref-spacing-13: calc(var(--md2-ref-spacing-1)*13);
  --md2-ref-spacing-14: calc(var(--md2-ref-spacing-1)*14);
  --md2-ref-spacing-15: calc(var(--md2-ref-spacing-1)*15);
  --md2-ref-spacing-16: calc(var(--md2-ref-spacing-1)*16);
  --md2-ref-spacing-17: calc(var(--md2-ref-spacing-1)*17);
  --md2-ref-spacing-18: calc(var(--md2-ref-spacing-1)*18);
  --md2-ref-spacing-19: calc(var(--md2-ref-spacing-1)*19);
  --md2-ref-spacing-20: calc(var(--md2-ref-spacing-1)*20);
  --md2-ref-spacing-21: calc(var(--md2-ref-spacing-1)*21);
  --md2-ref-spacing-22: calc(var(--md2-ref-spacing-1)*22);
  --md2-ref-spacing-23: calc(var(--md2-ref-spacing-1)*23);
  --md2-ref-spacing-24: calc(var(--md2-ref-spacing-1)*24);
  --md2-ref-spacing-25: calc(var(--md2-ref-spacing-1)*25);
  --md2-ref-spacing-26: calc(var(--md2-ref-spacing-1)*26);
  --md2-ref-spacing-27: calc(var(--md2-ref-spacing-1)*27);
  --md2-ref-spacing-28: calc(var(--md2-ref-spacing-1)*28);
  --md2-ref-spacing-32: calc(var(--md2-ref-spacing-1)*32);
  --md2-ref-spacing-36: calc(var(--md2-ref-spacing-1)*36);
  --md2-ref-spacing-40: calc(var(--md2-ref-spacing-1)*40);
  --md2-ref-spacing-48: calc(var(--md2-ref-spacing-1)*48);
  --md2-ref-spacing-56: calc(var(--md2-ref-spacing-1)*56);
  --md2-ref-spacing-64: calc(var(--md2-ref-spacing-1)*64);
  --md2-ref-spacing-72: calc(var(--md2-ref-spacing-1)*72);
  --md2-ref-spacing-80: calc(var(--md2-ref-spacing-1)*80);
  --md2-ref-spacing-128: calc(var(--md2-ref-spacing-1)*128);
  --md2-ref-spacing-px: calc(var(--md2-ref-spacing-1)/4);
  --md2-sys-body-xs: var(--md2-ref-body-auto);
  --md2-sys-body-sm: var(--md2-ref-body-auto);
  --md2-sys-body-md: var(--md2-ref-body-840);
  --md2-sys-body-lg: var(--md2-ref-body-auto);
  --md2-sys-body-xl: var(--md2-ref-body-1040);
  --md2-sys-body-margin-xs: var(--md2-ref-body-margin-4);
  --md2-sys-body-margin-sm: var(--md2-ref-body-margin-8);
  --md2-sys-body-margin-md: var(--md2-ref-body-margin-0);
  --md2-sys-body-margin-lg: var(--md2-ref-body-margin-200);
  --md2-sys-body-margin-xl: var(--md2-ref-body-margin-0);
  --md2-sys-gap-xs: var(--md2-ref-gap-4);
  --md2-sys-gap-sm: var(--md2-ref-gap-6);
  --md2-sys-gap-md: var(--md2-ref-gap-6);
  --md2-sys-gap-lg: var(--md2-ref-gap-8);
  --md2-sys-gap-xl: var(--md2-ref-gap-8);
  --md2-sys-grid-xs: var(--md2-ref-grid-4);
  --md2-sys-grid-sm: var(--md2-ref-grid-8);
  --md2-sys-grid-md: var(--md2-ref-grid-12);
  --md2-sys-grid-lg: var(--md2-ref-grid-12);
  --md2-sys-grid-xl: var(--md2-ref-grid-12);
  --md2-sys-opacity-hover: var(--md2-ref-opacity-4);
  --md2-sys-opacity-focus: var(--md2-ref-opacity-12);
  --md2-sys-opacity-pressed: var(--md2-ref-opacity-10);
  --md2-sys-opacity-dragged: var(--md2-ref-opacity-8);
  --md2-sys-opacity-overlay: var(--md2-ref-opacity-8);
  --md2-sys-opacity-selected: var(--md2-ref-opacity-8);
  --md2-sys-opacity-disabled: var(--md2-ref-opacity-12);
  --md2-sys-opacity-outline: var(--md2-ref-opacity-12);
  --md2-sys-opacity-scrim: var(--md2-ref-opacity-32);
  --md2-sys-opacity-primary-high: var(--md2-ref-opacity-primary-high);
  --md2-sys-opacity-primary-medium: var(--md2-ref-opacity-primary-medium);
  --md2-sys-opacity-primary-disabled: var(--md2-ref-opacity-primary-disabled);
  --md2-sys-opacity-surface-high: var(--md2-ref-opacity-surface-high);
  --md2-sys-opacity-surface-medium: var(--md2-ref-opacity-surface-medium);
  --md2-sys-opacity-surface-disabled: var(--md2-ref-opacity-surface-disabled);
  --md2-sys-palette-primary: var(--md2-ref-palette-blue-500);
  --md2-sys-palette-primaryVariant: var(--md2-ref-palette-blue-700);
  --md2-sys-palette-secondary: var(--md2-ref-palette-amber-200);
  --md2-sys-palette-secondaryVariant: var(--md2-ref-palette-amber-700);
  --md2-sys-palette-background: var(--md2-ref-palette-white);
  --md2-sys-palette-surface: var(--md2-ref-palette-white);
  --md2-sys-palette-success: var(--md2-ref-palette-green-700);
  --md2-sys-palette-warning: var(--md2-ref-palette-yellow-700);
  --md2-sys-palette-error: var(--md2-ref-palette-red-700);
  --md2-sys-palette-disabled: var(--md2-ref-palette-black);
  --md2-sys-palette-onPrimary: var(--md2-ref-palette-white);
  --md2-sys-palette-onSecondary: var(--md2-ref-palette-black);
  --md2-sys-palette-onBackground: var(--md2-ref-palette-black);
  --md2-sys-palette-onSurface: var(--md2-ref-palette-black);
  --md2-sys-palette-onSuccess: var(--md2-ref-palette-white);
  --md2-sys-palette-onWarning: var(--md2-ref-palette-white);
  --md2-sys-palette-onError: var(--md2-ref-palette-white);
  --md2-sys-palette-outline: var(--md2-ref-palette-black);
  --md2-sys-palette-white: var(--md2-ref-palette-white);
  --md2-sys-palette-black: var(--md2-ref-palette-black);
  --md2-sys-palette-overlay: var(--md2-ref-palette-blackLight);
  --md2-sys-rounded-none: var(--md2-ref-rounded-0);
  --md2-sys-rounded-standard: var(--md2-ref-rounded-1);
  --md2-sys-rounded-sm: var(--md2-ref-rounded-1);
  --md2-sys-rounded-md: var(--md2-ref-rounded-2);
  --md2-sys-rounded-lg: var(--md2-ref-rounded-4);
  --md2-sys-rounded-xl: var(--md2-ref-rounded-8);
  --md2-sys-rounded-full: var(--md2-ref-rounded-full);
  --md2-sys-shade-normal: var(--md2-ref-shade-5);
  --md2-sys-shade-variant: var(--md2-ref-shade-7);
  --md2-sys-shade-secondary: var(--md2-ref-shade-2);
  --md2-sys-shade-secondaryVariant: var(--md2-ref-shade-7);
  --md2-sys-shade-dark-normal: var(--md2-ref-shade-2);
  --md2-sys-shade-dark-variant: var(--md2-ref-shade-7);
  --md2-sys-shade-dark-secondary: var(--md2-ref-shade-2);
  --md2-sys-shade-dark-secondaryVariant: var(--md2-ref-shade-2);
}